@import '../../index';
body{
    background-color: $secondary-background-color;
    overflow-x: hidden;
    background: none;
    background-color: $secondary-background-color;
    padding:0px;
}
#wrapper{
    overflow: hidden;
}
main{
    background: $secondary-background-color;
    #content{
        padding: 0;
    }
}
a{
    @include transition();
    &:hover, &:active, &:focus{
        text-decoration: none !important;
    }
    &:hover{
        color: $primary-color;
        @include transition();
    }
}