<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <renderContentEditor>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.DataProvider.Pipelines.SetCommerceEditorFormatter, Sitecore.Commerce.Engine.Connect']" type="Sitecore.Support.Commerce.Engine.Connect.DataProvider.Pipelines.SetCommerceEditorFormatter, Sitecore.Support.40718" /> 
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>