<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.HabitatHome.Website" description="Habitat Home content" dependencies="Foundation.*,Feature.*,Project.Global.Website,Project.HabitatHome.Website.Shared" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(commerce.sourceFolder)\Project\HabitatHome" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates.Store" database="master" path="/sitecore/templates/Project/Habitat SXA Sites/Habitat Home/Store" />

            <!-- Commerce Control Panel -->
            <include name="Commerce.ControlPanel" database="master" path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Storefronts/HabitatHome" />

            <include name="Commerce.ControlPanel.FulfillmentOptionTypes" database="master" path="/sitecore/Commerce/Commerce Control Panel/Shared Settings/Fulfillment Option Types">
              <exclude children="true">
                <except name="Pickup From Store"/>
              </exclude>
            </include>

            <include name="Commerce.ControlPanel.FulfillmentOptions" database="master" path="/sitecore/Commerce/Commerce Control Panel/Shared Settings/Fulfillment Options">
              <exclude children="true">
                <except name="Pickup From Store"/>
                <except name="Ship items"/>
              </exclude>
            </include>

            <include name="Commerce.ControlPanel.CommerceTerms.Shipping" database="master" path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Commerce Terms/Shipping">
              <exclude children="true">
                <except name="Pickup From Store"/>
              </exclude>
            </include>

            <include name="Content" database="master" path="/sitecore/content/Habitat SXA Sites/Habitat Home">
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/home/Product Catalog"/>
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/home/Catalogs"/>
            </include>

            <!-- Commerce component stubs replacement with real components -->
            <include name="Layout.Feature.Commerce" database="master" path="/sitecore/layout/Renderings/Feature/Commerce Experience Accelerator" />
            <include name="Layout.Foundation.Commerce" database="master" path="/sitecore/layout/Renderings/Foundation/Commerce Experience Accelerator" />

            <!-- Habitat Home Store theme -->
            <include name="Theme" database="master" path="/sitecore/media library/Themes/Habitat SXA Sites/Habitat Home Store" />

            <!-- CommerceMediaItemsODataAPIKey -->
            <include name="Commerce.MediaItems.ODataAPIKey" database="master" path="/sitecore/system/Settings/Services/API Keys/CommerceMediaItemsODataAPIKey" />

            <!-- Update Login URL for Commerce Business Tools -->
            <include name="Commerce.BusinessTools.URI" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Commerce/BusinessTools" />

            <!-- Predefined Pesronalization Rules -->
            <include name="Marketing.Personalization.PredefinedRule" database="master" path="/sitecore/system/Marketing Control Panel/Personalization/Predefined Rules/Home Gym Owner" />

          </predicate>

          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(commerce.sourceFolder)\project\HabitatHome\serialization\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="demoadmin" />
            <include domain="sitecore" pattern="Commerce*" />
          </userPredicate>
          <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>