<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- this configuration patch exists in order to disable federated authentication in the XP version of Habitat Home -->

    <!-- Set as default content start item in Content Editor -->
    <sites>
      <site name="shell">
        <patch:attribute name="contentStartItem">/Habitat SXA Sites/Habitat Home/home</patch:attribute>
      </site>
    </sites>

  </sitecore>
</configuration>
