@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.account-management-page #content .component.image.file-type-icon-media-link {
  margin-top: 15px;
  display: inline-block;
  max-width: 72px;
}

.account-management-page #content .component.image.file-type-icon-media-link img {
  border-radius: 100px;
}

.account-management-page #content .component.link {
  padding: 0;
}

.account-management-page #content .component.link a {
  width: 100%;
  float: left;
  color: #6b717b;
  border: none;
}

.account-management-page #content .component.link a:after {
  float: right;
  margin-left: auto;
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
}
