@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@{
    if (Sitecore.Context.IsLoggedIn)
    {
        <div id="AddToWishList" class="component cxa-add-to-wishlist-component">
            <button class="btn" style="margin-bottom:20px; border-radius:0px; background-color:#0e909f; color:#fff;" data-bind="click: $root.AddItemToWishList">
                <i class="fa"></i>
                <span>Add to My Wish List</span>
            </button>
        </div>
    }
}
