<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>      
    <services>
      <register serviceType="Sitecore.Feature.ProductKit.Controllers.ProductKitController, Sitecore.Feature.ProductKit" implementationType="Sitecore.Feature.ProductKit.Controllers.ProductKitController, Sitecore.Feature.ProductKit" lifetime="Transient"/>
      <register serviceType="Sitecore.Feature.ProductKit.Repositories.IProductKitRepository,  Sitecore.Feature.ProductKit" implementationType="Sitecore.Feature.ProductKit.Repositories.ProductKitRepository,  Sitecore.Feature.ProductKit" lifetime="Singleton"/>
      <register serviceType="Sitecore.Feature.ProductKit.Managers.IRelatedProductsManager, Sitecore.Feature.ProductKit" implementationType="Sitecore.Feature.ProductKit.Managers.RelatedProductsManager, Sitecore.Feature.ProductKit" lifetime="Singleton"/>

    </services>
    <commerce.XA>
      <models>
        <RelatedProductJsonResult type="Sitecore.Feature.ProductKit.Models.JsonResults.RelatedProductJsonResult, Sitecore.Feature.ProductKit"/>
      </models>
      <javascript>
        <feature>
         <file name="HabitatCommerceProductKit" path="/Scripts/Commerce/Feature/ProductKit/habitat.commerce.feature.productkit.js" order="208"/>
        
        </feature>
      </javascript>
    </commerce.XA>

  

    </sitecore>
</configuration>