<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <domainManager>
            <domains>
                <domain id="habitathome" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <settings>
            <setting name="Media.DefaultImageBackgroundColor">
                <patch:attribute name="value">White</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>
