/* @import '../../index';
header {
    #header {
        width: 100%;
        margin: 0;
        background-color: $header-background-color;
        @include respond-to($sm) {
            .cxa-minicart-component {
                margin-left: 0;
                order: 3;
                margin-right: 10px;
            }
            .cxa-topbarlinks-component {
                margin-left: 0;
                order: 2;
                margin-right: $margin;
            }
            .cxa-searchbar-component {
                margin-left: 0;
                width: auto;
                order: 1;
                margin-right: $margin;
            }
        }
    }
    .component.row-splitter {
        margin-top: 0;
        @include column-of-elements-packed();
        >div:first-child {
            height: 96px;
            >div {
                display: flex;
                padding: 0;
                margin: 0 auto;
                width: 95%;
                height: 100%;
                .component.container {
                    margin-top: 0;
                    width: 100%;
                    .component-content {
                        height: 100%;
                        @include row-of-elements-wide-apart();
                        .component {
                            margin-top: 0;
                        }
                        .component.image {
                            @include respond-to($sm){
                                width: 80%;
                            }

                            img {
                                width: auto;
                                height: 38px;
                                @include respond-to($sm){
                                    height: 55px;
                                }
                            }
                            .image-caption {
                                display: none;
                            }
                        }
                        .cxa-searchbar-component {
                            margin-left: auto;
                            width: 33%;
                        }
                        .cxa-languageselector-component {
                            margin-left: auto;
                        }
                        .cxa-minicart-component {
                            margin-left: $margin*2;
                        }
                        .cxa-topbarlinks-component {
                            margin-left: $margin*2;
                        }
                    }
                }
            }
        }
        >div:nth-child(2) {
            margin-top: 0;
            padding: 0;
        }
        >div:nth-child(2) {
            margin-top: 0;
            padding: 0;
        }

        //status and breadcrumb area

        >div:last-child {
            background: $secondary-background-color;
            .component.container {
                max-width: $main-container-width;
                @include respond-to($sm) {
                    display: none;
                }
            }
        }
    }
} */
