<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sitecore.Commerce.Sample.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sitecore.Commerce.Sample.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.17.0.0" newVersion="6.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.17.0.0" newVersion="6.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.17.0.0" newVersion="6.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.17.0.0" newVersion="6.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Sitecore.Commerce.Sample.Console.Properties.Settings>
      <setting name="ShopsServiceUri" serializeAs="String">
        <value>https://localhost:5000/api/</value>
      </setting>
      <setting name="AuthoringServiceUri" serializeAs="String">
        <value>https://localhost:5000/api/</value>
      </setting>
      <setting name="MinionsServiceUri" serializeAs="String">
        <value>https://localhost:5000/CommerceOps/</value>
      </setting>
      <setting name="OpsServiceUri" serializeAs="String">
        <value>https://localhost:5000/CommerceOps/</value>
      </setting>
      <setting name="RequestedTestRuns" serializeAs="String">
        <value>1</value>
      </setting>
    </Sitecore.Commerce.Sample.Console.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Sitecore.Commerce.Sample.Console.Properties.Settings>
      <setting name="SitecoreIdServerUri" serializeAs="String">
        <value>https://localhost:5050/</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>sitecore\admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>b</value>
      </setting>
    </Sitecore.Commerce.Sample.Console.Properties.Settings>
  </userSettings>
</configuration>
