@import '../functions/index';
$browser-context: 14;
$font-family: "Open Sans",sans-serif;
$header-font-family: "Open Sans",sans-serif;
$icon-font-family: "Glyphicons Halflings";
$font-size-base:          14px !default;
$font-size-xlarge:         ceil(($font-size-base * 1.42)) !default; // ~18px
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-medium:        ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-xsmall:        ceil(($font-size-base * 0.71)) !default; // ~10px
$font-size-xxsmall:        ceil(($font-size-base * 0.57)) !default; // ~8px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-family: "Open Sans",sans-serif;
$header-font-family: "Open Sans",sans-serif;
$icon-font-family: "SCCXAICONS";
