<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>      
    <services>
      <register serviceType="Sitecore.Feature.OrderReview.Controllers.OrderReviewController, Sitecore.Feature.OrderReview" implementationType="Sitecore.Feature.OrderReview.Controllers.OrderReviewController, Sitecore.Feature.OrderReview" lifetime="Transient"/>
      <register serviceType="Sitecore.Feature.OrderReview.Repositories.IReviewRepository, Sitecore.Feature.OrderReview" implementationType="Sitecore.Feature.OrderReview.Repositories.ReviewRepository, Sitecore.Feature.OrderReview" lifetime="Singleton"/>
    </services>
    <commerce.XA>
      <models>
        <OrderReviewDataJsonResult type="Sitecore.Feature.OrderReview.Models.JsonResults.OrderReviewDataJsonResult, Sitecore.Feature.OrderReview"/>
        <BenefitsDataJsonResult type="Sitecore.Feature.OrderReview.Models.JsonResults.BenefitsDataJsonResult, Sitecore.Feature.OrderReview"/>
        <CartAdjustmentJsonResult type="Sitecore.Feature.OrderReview.Models.JsonResults.CartAdjustmentJsonResult, Sitecore.Feature.OrderReview"/>
      </models>
      <javascript>
        <feature>
          <file patch:replace="file[@path='/Scripts/Commerce/Feature/Checkout/cxa.feature.checkout.review.model.js']" name="HabitatCommerceOrderReviewModel" path="/Scripts/Commerce/Feature/OrderReview/habitat.commerce.feature.review.model.js" order="205"/>
          <file patch:replace="file[@path='/Scripts/Commerce/Feature/Checkout/cxa.feature.checkout.review.js']" name="HabitatCommerceOrderReview" path="/Scripts/Commerce/Feature/OrderReview/habitat.commerce.feature.review.js" order="208"/>
        </feature>
      </javascript>
    </commerce.XA>
    </sitecore>
</configuration>