<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>        
            <configurator  patch:after="*[@type='Sitecore.LayoutService.Mvc.RegisterDependencies, Sitecore.LayoutService.Mvc']" 
                           type="Sitecore.HabitatHome.Feature.Catalog.ServiceCollection.RegisterCatalogServices, Sitecore.HabitatHome.Feature.Catalog" />          
        </services>
    </sitecore>
</configuration>