@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-addtocart-component .component-content {
  width: 100%;
  display: inline-block;
}

.cxa-addtocart-component .component-content .add-to-cart-qty label {
  margin-bottom: 8px;
}

.cxa-addtocart-component .component-content .add-to-cart-button {
  margin-left: 5px;
}

.cxa-addtocart-component .quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: false;
  -ms-flex-align: false;
  align-items: false;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cxa-addtocart-component .quantity-input > * {
  -ms-flex-item-align: false;
  -ms-grid-row-align: false;
  align-self: false;
}

.cxa-addtocart-component .quantity-input > * {
  margin: 0;
}

.cxa-addtocart-component .quantity-input > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cxa-addtocart-component .quantity-input > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addtocart-component .quantity-input > div > * {
  margin: 0;
}

.cxa-addtocart-component .quantity-input input[type=number]::-webkit-inner-spin-button,
.cxa-addtocart-component .quantity-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cxa-addtocart-component .quantity-input input,
.cxa-addtocart-component .quantity-input button {
  max-height: 42px;
  min-height: 42px;
  display: inline-block !important;
  border: solid 2px #b9bcc1;
}

.cxa-addtocart-component .quantity-input button {
  border: 2px solid #868b93;
  background: #fff;
  color: #707680;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding: 4px 25px 4px 25px;
  border-radius: 4px;
  border: solid 2px #b9bcc1;
}

.cxa-addtocart-component .quantity-input button:active, .cxa-addtocart-component .quantity-input button:hover {
  background: #81868e;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-addtocart-component .quantity-input button:active {
  background: #767c84;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-addtocart-component .quantity-input button:disabled, .cxa-addtocart-component .quantity-input button.disabled, .cxa-addtocart-component .quantity-input button[disabled],
fieldset[disabled] .cxa-addtocart-component .quantity-input button {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-addtocart-component .quantity-input button:hover {
  color: #fff;
  background-color: #b9bcc1;
}

.cxa-addtocart-component .quantity-input button:active {
  color: #fff;
  background-color: #6b717b;
}

.cxa-addtocart-component .quantity-input input {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: inline-block;
  max-width: 46px;
  min-width: 46px;
  text-align: center;
}

.cxa-addtocart-component .quantity-input input:disabled {
  opacity: 0.4;
  background-color: #fff;
  border: solid 2px #b9bcc1;
}

.cxa-addtocart-component .quantity-input button.decrease {
  margin: 0 auto;
  max-height: 42px;
  min-height: 42px;
  max-width: 42px;
  min-width: 42px;
  padding: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  border-radius: 0;
  border-right: none;
}

.cxa-addtocart-component .quantity-input button.decrease:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 1px;
  margin-bottom: 13px;
}

.cxa-addtocart-component .quantity-input button.increase {
  margin: 0 auto;
  max-height: 42px;
  min-height: 42px;
  max-width: 42px;
  min-width: 42px;
  padding: 0;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  border-radius: 0;
  border-left: none;
}

.cxa-addtocart-component .quantity-input button.increase:after {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 8px;
}

.cxa-addtocart-component .add-to-cart-btn {
  border: 2px solid #0e909f;
  font-size: 14px !important;
  font-weight: 400;
  height: 34px;
  text-align: center !important;
  background: #0e909f;
  color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  padding: 4px 25px 4px 25px;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
  width: 150px;
}

.cxa-addtocart-component .add-to-cart-btn:active, .cxa-addtocart-component .add-to-cart-btn:hover {
  background: #0d8896 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-addtocart-component .add-to-cart-btn:active {
  background: #0c7783 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-addtocart-component .add-to-cart-btn:disabled, .cxa-addtocart-component .add-to-cart-btn.disabled, .cxa-addtocart-component .add-to-cart-btn[disabled],
fieldset[disabled] .cxa-addtocart-component .add-to-cart-btn {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-addtocart-component .add-to-cart-btn:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.cxa-addtocart-component .add-to-cart-btn:active {
  color: #fff;
  background-color: #064b53;
}

.cxa-addtocart-component form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.cxa-addtocart-component form > * {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.cxa-addtocart-component form > *:not(:last-child) {
  margin-right: 3px;
}

.cxa-addtocart-component form > *:not(:first-child) {
  margin-left: 0;
}

.cxa-addtocart-component form > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cxa-addtocart-component form > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addtocart-component form > div > * {
  margin: 0;
}
