@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-addresslist-component .component-content {
  width: 100%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  align-items: flex-start;
}

.cxa-addresslist-component .component-content > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .component-content > * {
  margin: 0;
}

.cxa-addresslist-component .component-content > * {
  width: 100%;
}

.cxa-addresslist-component .component-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-addresslist-component .component-content > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .component-content > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-addresslist-component .component-content > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-addresslist-component .component-content > div input[type="text"] {
  width: 100%;
}

.cxa-addresslist-component .component-content > div input[type="password"] {
  width: 100%;
}

.cxa-addresslist-component .component-content > div select {
  width: 100%;
}

.cxa-addresslist-component .component-content > div > label {
  margin-right: 3px;
}

.cxa-addresslist-component .component-content input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-addresslist-component .component-content input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-addresslist-component .component-content > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .empty-adddress-list-message {
  margin-top: 10px;
}

.cxa-addresslist-component .address-header {
  margin-top: 15px;
  width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: true;
  -ms-flex-align: true;
  align-items: true;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.cxa-addresslist-component .address-header > * {
  -ms-flex-item-align: true;
  -ms-grid-row-align: true;
  align-self: true;
}

.cxa-addresslist-component .address-header > * {
  margin: 0;
}

.cxa-addresslist-component .address-header .address-title {
  color: #0088cc;
}

.cxa-addresslist-component .address-header .is-primary {
  color: #0088cc;
}

.cxa-addresslist-component .address-header .is-primary:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 12px;
  margin: 0 5px;
}

.cxa-addresslist-component .full-address {
  display: none;
}

.cxa-addresslist-component .address-details {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 0;
}

.cxa-addresslist-component .address-details > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .address-details > * {
  margin: 0;
}

.cxa-addresslist-component .address-details > * {
  width: 100%;
}

.cxa-addresslist-component .address-details > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-addresslist-component .address-details > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .address-details > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-addresslist-component .address-details > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-addresslist-component .address-details > div input[type="text"] {
  width: 100%;
}

.cxa-addresslist-component .address-details > div input[type="password"] {
  width: 100%;
}

.cxa-addresslist-component .address-details > div select {
  width: 100%;
}

.cxa-addresslist-component .address-details > div > label {
  margin-right: 3px;
}

.cxa-addresslist-component .address-details input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-addresslist-component .address-details input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-addresslist-component .address-details > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-addresslist-component .add-new-address-section {
  border-top: 1px solid #eff0f1;
  margin-top: 30px;
  width: 100%;
}

.cxa-addresslist-component .add-new-address-section .add-new-address-link {
  margin-top: 15px;
  color: #0088cc;
  font-size: 14px;
  font-size: 12px;
}

.cxa-addresslist-component .add-new-address-section .add-new-address-link:hover {
  color: #0e909f;
}

.cxa-addresslist-component .add-new-address-section .add-new-address-link:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 11px;
}

.cxa-addresslist-component .add-new-address-section .add-new-address-link span {
  color: #0088cc;
  font-size: 14px;
}

.cxa-addresslist-component .add-new-address-section .add-new-address-link span:hover {
  color: #0e909f;
}

.cxa-addresslist-component .address-list {
  width: 100%;
}

.cxa-addresslist-component .address-list-table tbody tr {
  margin-bottom: 15px;
}
