/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.component.cxa-productprice-component {
  margin-bottom: 20px;
}

.component.cxa-productprice-component .price-info .price-now-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component.cxa-productprice-component .price-info .price-now-before .price-with-savings {
  float: left;
}

.component.cxa-productprice-component .price-info .price-now-before .price-with-savings h3 {
  margin-top: 9px;
}

.component.cxa-productprice-component .price-info .price-now-before .price-with-savings h3 span {
  color: #0e909f;
  font-size: 36px;
  font-weight: bold;
}

.component.cxa-productprice-component .price-info .price-now-before .price-with-savings h3 span:last-child {
  display: none;
}

.component.cxa-productprice-component .price-info .price-now-before .price-before {
  float: left;
  margin-left: 9px;
  margin-top: auto;
}

.component.cxa-productprice-component .price-info .price-now-before .price-before h3 span {
  color: #747a83;
  font-size: 36px;
  font-weight: 300;
  text-decoration: line-through;
}

.component.cxa-productprice-component .price-info .price-only h3 {
  margin-top: 0;
}

.component.cxa-productprice-component .price-info .price-only h3 span {
  color: #0e909f;
  font-size: 36px;
  font-weight: bold;
}
