/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-productimages-component {
  margin: 0;
}

.cxa-productimages-component .product-image {
  padding: 5px;
  background: #fff;
  border-radius: 0;
}

.cxa-productimages-component .product-image img {
  width: 100%;
}

.cxa-productimages-component .product-images {
  background: none;
  margin-top: 7px;
}

.cxa-productimages-component .product-images ul li {
  float: left;
  margin-right: 2.6%;
  width: 72px;
  height: 62px;
  margin-bottom: 1.8%;
  overflow: hidden;
  border: 4px solid #fff;
}

.cxa-productimages-component .product-images ul li a img {
  max-width: 120px;
  max-height: 120px;
}

.cxa-productimages-component .product-images ul li.active:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid;
  content: "";
  position: absolute;
  margin: -10px 0 0 26px;
}

.cxa-productimages-component .product-images ul li.active {
  border: 4px solid #0e909f;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.cxa-productimages-component .product-images ul li.active:before {
  border-bottom-color: #0e909f;
}
