.cxa-product-bundle-component {
    padding: 0;
    margin: 0 0 10px 0;
}

    .cxa-product-bundle-component .component-content {
        text-align: left;
        margin-top: 0;
    }

        .cxa-product-bundle-component .component-content .product-bundle-header {
            user-select: none;
            color: #6b717b !important;
            margin-bottom: 5px;
            font-size: 16px;
            cursor: pointer;
            padding-bottom: 25px;
        }

        .cxa-product-bundle-component .component-content .related-product {
            font-size: 13px;
            color: #747a83;
        }

            .cxa-product-bundle-component .component-content .related-product .product-name {
                margin-bottom: 5px;
                color: #747a83;
            }

            .cxa-product-bundle-component .component-content .related-product .product-bundle-item {
                -webkit-appearance: none;
                height: 34px;
                border-radius: 4px;
                background-color: #fff;
                color: #747a83;
                border: solid 1px #b9bcc1;
                background-image: none;
                box-shadow: none !important;
                text-align: left;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                display: inline-block;
                width: 34px;
                max-width: 34px;
                min-width: 34px;
                text-align: center;
                margin-top: 30px;
            }
