/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-profileeditor-component {
  padding: 0;
}

.cxa-profileeditor-component form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.cxa-profileeditor-component form > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-profileeditor-component form > * {
  margin: 0;
}

@media (max-width: 991px) {
  .cxa-profileeditor-component form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cxa-profileeditor-component form > * {
    width: 89.4%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.cxa-profileeditor-component form > * {
  -ms-flex-preferred-size: 44.7%;
  flex-basis: 44.7%;
}

.cxa-profileeditor-component form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-profileeditor-component form > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-profileeditor-component form > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-profileeditor-component form > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-profileeditor-component form > div input[type="text"] {
  width: 100%;
}

.cxa-profileeditor-component form > div input[type="password"] {
  width: 100%;
}

.cxa-profileeditor-component form > div select {
  width: 100%;
}

.cxa-profileeditor-component form input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-profileeditor-component form input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-profileeditor-component form .profileeditor-buttons-section {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.cxa-profileeditor-component form .profileeditor-buttons-section > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.cxa-profileeditor-component form .profileeditor-buttons-section > * {
  margin: 0;
}

@media (max-width: 991px) {
  .cxa-profileeditor-component form .profileeditor-buttons-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cxa-profileeditor-component form .profileeditor-buttons-section > * {
    width: 89.4%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.cxa-profileeditor-component form .profileeditor-buttons-section > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cxa-profileeditor-component form .profileeditor-buttons-section > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-profileeditor-component form .profileeditor-buttons-section > div > * {
  margin: 0;
}

.cxa-profileeditor-component form .profileeditor-buttons-section > * {
  width: 200px;
}

.cxa-profileeditor-component form .profileeditor-buttons-section a {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: inline-block;
}

.cxa-profileeditor-component form .profileeditor-buttons-section button {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 5px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .cxa-profileeditor-component form > * {
    width: 100%;
  }
}

.cxa-profileeditor-component .profileeditor-buttons-section button {
  border: 2px solid #0e909f;
  font-size: 14px !important;
  font-weight: 400;
  height: 34px;
  text-align: center !important;
  background: #0e909f;
  color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  padding: 4px 25px 4px 25px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
}

.cxa-profileeditor-component .profileeditor-buttons-section button:active, .cxa-profileeditor-component .profileeditor-buttons-section button:hover {
  background: #0d8896 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-profileeditor-component .profileeditor-buttons-section button:active {
  background: #0c7783 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-profileeditor-component .profileeditor-buttons-section button:disabled, .cxa-profileeditor-component .profileeditor-buttons-section button.disabled, .cxa-profileeditor-component .profileeditor-buttons-section button[disabled],
fieldset[disabled] .cxa-profileeditor-component .profileeditor-buttons-section button {
  cursor: not-allowed;
  opacity: 0.4;
}

@media (max-width: 991px) {
  .cxa-profileeditor-component .profileeditor-buttons-section button {
    margin-left: 0 !important;
    margin-top: 15px;
    width: 100%;
  }
}

.cxa-profileeditor-component .profileeditor-buttons-section a {
  border: 1px solid #0e909f;
  background: #fff;
  color: #0e909f;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding: 4px 25px 4px 25px;
  border-radius: 0;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
}

.cxa-profileeditor-component .profileeditor-buttons-section a:active, .cxa-profileeditor-component .profileeditor-buttons-section a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  text-decoration: none;
}

.cxa-profileeditor-component .profileeditor-buttons-section a:active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-profileeditor-component .profileeditor-buttons-section a:disabled, .cxa-profileeditor-component .profileeditor-buttons-section a.disabled, .cxa-profileeditor-component .profileeditor-buttons-section a[disabled],
fieldset[disabled] .cxa-profileeditor-component .profileeditor-buttons-section a {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-profileeditor-component .profileeditor-buttons-section a:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.cxa-profileeditor-component .profileeditor-buttons-section a:active {
  color: #fff;
  background-color: #064b53;
}

@media (max-width: 991px) {
  .cxa-profileeditor-component .profileeditor-buttons-section a {
    width: 100%;
  }
}
