@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.component.cxa-productlist-component .load-more-btn, .component.cxa-promoted-products-component .load-more-btn, .component.cxa-productlist-component .btn.btn-block, .component.cxa-promoted-products-component .btn.btn-block {
  border: 0;
  padding: 10px 20px;
  border-radius: 0;
  color: white;
  max-width: 250px;
  display: block;
  float: none;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  background: #0e909f;
}

.component.cxa-productlist-component .btn.btn-block, .component.cxa-promoted-products-component .btn.btn-block {
  margin-bottom: 15px;
}

.component.cxa-productlist-component .product-list ul, .component.cxa-promoted-products-component .product-list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.component.cxa-productlist-component .product-list ul > *, .component.cxa-promoted-products-component .product-list ul > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-productlist-component .product-list ul > *, .component.cxa-promoted-products-component .product-list ul > * {
  margin: 0;
}

@media (max-width: 991px) {
  .component.cxa-productlist-component .product-list ul, .component.cxa-promoted-products-component .product-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .component.cxa-productlist-component .product-list ul > *, .component.cxa-promoted-products-component .product-list ul > * {
    width: 89.4%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.component.cxa-productlist-component .product-list ul > li, .component.cxa-promoted-products-component .product-list ul > li {
  margin-left: 0;
  margin-right: 15px;
  -ms-flex-preferred-size: 253px;
  flex-basis: 253px;
  max-width: 253px;
  margin-bottom: 13px;
}

.component.cxa-productlist-component .product-list ul > li > div, .component.cxa-promoted-products-component .product-list ul > li > div {
  max-height: 403px;
}

@media (max-width: 767px) {
  .component.cxa-productlist-component .product-list ul > li, .component.cxa-promoted-products-component .product-list ul > li {
    margin-right: 0;
  }
}

.component.cxa-productlist-component .product-list .product-summary, .component.cxa-promoted-products-component .product-list .product-summary {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-productlist-component .product-list .product-summary > *, .component.cxa-promoted-products-component .product-list .product-summary > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-productlist-component .product-list .product-summary > *, .component.cxa-promoted-products-component .product-list .product-summary > * {
  margin: 0;
}

.component.cxa-productlist-component .product-list .product-summary .photo, .component.cxa-promoted-products-component .product-list .product-summary .photo {
  width: 100%;
  height: 220px;
}

.component.cxa-productlist-component .product-list .product-summary .photo a, .component.cxa-promoted-products-component .product-list .product-summary .photo a {
  text-align: center;
  display: inherit;
}

.component.cxa-productlist-component .product-list .product-summary .photo img, .component.cxa-promoted-products-component .product-list .product-summary .photo img {
  max-width: 100%;
  max-height: 208px;
}

.component.cxa-productlist-component .product-list .product-summary .photo .add-to-cart-button, .component.cxa-promoted-products-component .product-list .product-summary .photo .add-to-cart-button {
  top: 15px;
  right: 15px;
  position: absolute;
}

.component.cxa-productlist-component .product-list .product-summary .photo .add-to-cart-button button, .component.cxa-promoted-products-component .product-list .product-summary .photo .add-to-cart-button button {
  background-color: Transparent !important;
  background-repeat: no-repeat;
  border: none !important;
  cursor: pointer;
  overflow: hidden;
}

.component.cxa-productlist-component .product-list .product-summary .photo .add-to-cart-button span.loading-label > i, .component.cxa-promoted-products-component .product-list .product-summary .photo .add-to-cart-button span.loading-label > i {
  font-size: 40px;
  color: #0e909f;
}

.component.cxa-productlist-component .product-list .product-summary .photo .add-to-cart-button span.initial-label:before, .component.cxa-promoted-products-component .product-list .product-summary .photo .add-to-cart-button span.initial-label:before {
  font-family: FontAwesome;
  content: '\f217';
  font-size: 40px;
  color: #0e909f;
  height: 81px;
}

.component.cxa-productlist-component .product-list .product-info, .component.cxa-promoted-products-component .product-list .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 85%;
  margin: 10px 0;
}

.component.cxa-productlist-component .product-list .product-info > *, .component.cxa-promoted-products-component .product-list .product-info > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-productlist-component .product-list .product-info > *:not(:last-child), .component.cxa-promoted-products-component .product-list .product-info > *:not(:last-child) {
  margin-right: 3px;
}

.component.cxa-productlist-component .product-list .product-info > *:not(:first-child), .component.cxa-promoted-products-component .product-list .product-info > *:not(:first-child) {
  margin-left: 0;
}

@media (max-width: 991px) {
  .component.cxa-productlist-component .product-list .product-info, .component.cxa-promoted-products-component .product-list .product-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .component.cxa-productlist-component .product-list .product-info > *, .component.cxa-promoted-products-component .product-list .product-info > * {
    width: 89.4%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.component.cxa-productlist-component .product-list .product-info > div, .component.cxa-promoted-products-component .product-list .product-info > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-productlist-component .product-list .product-info > div > *, .component.cxa-promoted-products-component .product-list .product-info > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-productlist-component .product-list .product-info > div > *, .component.cxa-promoted-products-component .product-list .product-info > div > * {
  margin: 0;
}

.component.cxa-productlist-component .product-list .product-info .savings, .component.cxa-promoted-products-component .product-list .product-info .savings {
  position: absolute;
  top: 169px;
  right: 0;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 2px 1px;
}

.component.cxa-productlist-component .product-list .product-info .savings .savings-text, .component.cxa-promoted-products-component .product-list .product-info .savings .savings-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 5px;
}

.component.cxa-productlist-component .product-list .product-info .savings .savings-percentage, .component.cxa-promoted-products-component .product-list .product-info .savings .savings-percentage {
  display: none;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 5px;
}

.component.cxa-productlist-component .product-list .product-info .previous-price, .component.cxa-promoted-products-component .product-list .product-info .previous-price {
  display: none;
}

.component.cxa-productlist-component .product-list .product-info .product-title, .component.cxa-promoted-products-component .product-list .product-info .product-title {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.component.cxa-productlist-component .product-list .product-info .product-brand, .component.cxa-promoted-products-component .product-list .product-info .product-brand {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  display: inline;
  padding: 0.3em 0.5em;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #424C5F;
  margin-right: 5px;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}

.component.cxa-productlist-component .product-list .product-info .product-rating, .component.cxa-promoted-products-component .product-list .product-info .product-rating {
  width: 33%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-bottom: 0;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul, .component.cxa-promoted-products-component .product-list .product-info .product-rating ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > *, .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > *:not(:last-child), .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > *:not(:last-child) {
  margin-right: 3px;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > *:not(:first-child), .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > *:not(:first-child) {
  margin-left: 0;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > div, .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > div > *, .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-productlist-component .product-list .product-info .product-rating ul > div > *, .component.cxa-promoted-products-component .product-list .product-info .product-rating ul > div > * {
  margin: 0;
}

.component.cxa-productlist-component .product-list .product-info .product-stock-status, .component.cxa-promoted-products-component .product-list .product-info .product-stock-status {
  width: 50%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-left: auto;
  text-align: right;
  display: flow-root;
  margin-bottom: 0;
  display: none;
}

.component.cxa-productlist-component .product-list .product-info .product-stock-status:before, .component.cxa-promoted-products-component .product-list .product-info .product-stock-status:before {
  display: inline-block;
  margin-right: 5px;
}

.component.cxa-productlist-component .product-list .product-info .lowest-variant-price, .component.cxa-promoted-products-component .product-list .product-info .lowest-variant-price {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  width: 100%;
  margin-bottom: 0;
  min-height: 22px;
}

.component.cxa-productlist-component .product-list .product-info .current-price, .component.cxa-promoted-products-component .product-list .product-info .current-price {
  text-align: left;
  min-height: 42px;
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
  margin-right: 0;
  width: 50%;
  font-size: 16px;
  padding: 0.1875em 0;
  border: 1px solid transparent;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #d8d9d5;
}

.component.cxa-productlist-component .product-list .product-info .product-category, .component.cxa-promoted-products-component .product-list .product-info .product-category {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
  margin-right: 0;
  min-height: 42px;
  width: 50%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #d8d9d5;
}

.component.cxa-productlist-component .product-list .product-info .product-category a, .component.cxa-promoted-products-component .product-list .product-info .product-category a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0.1875em 0.3125em;
  font-weight: 300;
  text-transform: none;
  border: 1px solid #141919;
  color: #141919;
  text-decoration: none;
}

.component.cxa-productlist-component .product-list .product-info .product-category a:after, .component.cxa-promoted-products-component .product-list .product-info .product-category a:after {
  font-family: FontAwesome;
  content: '\f105';
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 4px;
}

.component.cxa-productlist-component .product-list .product-info .product-category a:hover, .component.cxa-promoted-products-component .product-list .product-info .product-category a:hover {
  color: #141919;
  text-decoration: none;
}

.productlistsorting-component select {
  border: 1px solid #B1B3AC;
  height: 41px;
  line-height: 41px;
  padding: 0 15px;
  display: block;
  width: 100%;
  text-align: left !important;
}

.productlistsorting-component select:disabled {
  background-color: white;
  color: #B1B3AC;
  border-color: #B1B3AC;
  opacity: 0.8;
}

.component.cxa-productlist-component .product-list > ul > li, .component.cxa-promoted-products-component .product-list > ul > li {
  min-height: 387px;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .savings.on-sale, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .savings.on-sale {
  background-color: #f6a623;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: none;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .savings.on-sale span, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .savings.on-sale span {
  background-color: #f6a623;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a,
.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-title a,
.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-title a {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  color: #141919;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:active, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:active, .component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:hover, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:hover, .component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:focus, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .lowest-variant-price a:focus,
.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-title a:active,
.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-title a:active,
.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-title a:hover,
.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-title a:hover,
.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-title a:focus,
.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-title a:focus {
  text-decoration: none;
  cursor: pointer;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-rating .icon-star:before, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-rating .icon-star:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  color: #9a9a9a;
}

.component.cxa-productlist-component .product-list > ul > li .product-summary .product-info .product-rating .rated .icon-star:before, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-rating .rated .icon-star:before {
  color: #1d8c96;
}

.row.column-splitter.category-list {
  margin-left: auto;
  margin-right: auto;
}

/* breakpoints */
.component.cxa-promoted-products-component .product-list .title {
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
}

.component.cxa-promoted-products-component .product-list .load-more-btn {
  display: none;
}

.component.cxa-promoted-products-component .product-list > ul {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row wrap !important;
  flex-direction: row wrap !important;
}

.component.cxa-promoted-products-component .product-list > ul > li {
  max-width: inherit;
  width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 0;
}

.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-flow: row wrap !important;
  flex-flow: row wrap !important;
}

.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a {
  position: relative;
  padding-right: 20px;
  text-decoration: none;
}

.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a:active, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a:hover, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a:focus {
  opacity: 0.7;
  text-decoration: none;
}

.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a span:active, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a span:hover, .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a span:focus {
  text-decoration: none;
}

.component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info .product-category a:after {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 786px) {
  .component.cxa-promoted-products-component .product-list > ul > li .product-summary .product-info {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-flow: row wrap !important;
    flex-flow: row wrap !important;
  }
}

@media only screen and (min-width: 1024px) {
  .component.cxa-promoted-products-component .product-list > ul > li {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
  }
}

@media only screen and (max-width: 786px) {
  .component.cxa-promoted-products-component .product-list > ul > li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
    margin: 2em 0;
  }
}
