@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-recentorders-component {
  width: 100%;
}

.cxa-recentorders-component .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border-bottom: 1px solid #eff0f1;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.cxa-recentorders-component .header > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-recentorders-component .header > * {
  margin: 0;
}

.cxa-recentorders-component .header a {
  display: inline-block;
}

.cxa-recentorders-component .header h4,
.cxa-recentorders-component .header h4 span {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #383c41;
  font-weight: 600;
}

.cxa-recentorders-component .header h4 span,
.cxa-recentorders-component .header h4 span span {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #383c41;
  font-weight: 600;
}

.cxa-recentorders-component .view-all-orders-link:before {
  display: inline-block;
  margin-right: 15px;
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
}

.cxa-recentorders-component .order-id a {
  color: #0088cc;
  font-size: 14px;
}

.cxa-recentorders-component .order-id a:hover {
  color: #0e909f;
}

.cxa-recentorders-component .recent-orders-list .view-order-details-button:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
}

.cxa-recentorders-component table {
  line-height: 2.5;
}
