/* @import '../../index';
.cxa-stepindicator-component {
    width: 100%;
    margin-bottom: 30px;
    .component-content {
        @include row($center, $center, $center, 0, false);
        >div {
            width: 80%
        }
    }
    .steps {
        margin: auto;
        @include row-of-elements-wide-apart();
        li {
            flex-basis: 120px;
            cursor: default;
            a {
                cursor: default;
            }
        }
    }
}

.cxa-stepindicator-component {
    margin-top: 30px;
    .steps {
        li {
            @include secondary-button-line();
            width: 32px;
            text-align: center;
            padding-top: 5px;
            border-radius: 100px;
            z-index: 3;
            &:hover {
                a {
                    color: $light;
                }
            }
        }
        li.active {
            @include primary-button-line();
            width: 32px;
            a {
                color: $primary-color;
            }
            &:hover {
                a {
                    color: $light;
                }
            }
            padding-top: 5px;
            border-radius: 100px;
        }
        &:last-child {
            li:last-child {
                margin-right: 0;
            }
        }
        &:before {
            content: "";
            background: lighten($secondary-color, 25%);
            height: 2px;
            position: absolute;
            z-index: 2;
            width: 70%;
        }
    }
}

.component.column-splitter {
    .cxa-stepindicator-component {
        .steps {
            &:before {
                max-width: 65%;
            }
        }
    }
} */
