[Oo]bj/
src/**/[Bb]in/
build/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
*.cache
*.suo
*.userprefs
*DS_Store
.sonar
vars.user.cmd
.vs
.vscode
/target
node_modules/
packages/
*.user
*.user.config
*.user.js
*.user.targets
*.log
license.xml
lib/*
*.dll
*.bak
publishTemp/*
/.github
*.log.*.txt
