<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <linkManager>
            <providers>
                <add name="commerce">
                    <patch:delete />
                </add>
                <add name="commerce" 
                     includeFriendlyName="true" 
                     useShopLinks="true" 
                     includeCatalog="false" 
                     addAspxExtension="false" 
                     alwaysIncludeServerUrl="false" 
                     encodeNames="true" 
                     languageEmbedding="asNeeded" 
                     languageLocation="filePath" 
                     lowercaseUrls="false" 
                     shortenUrls="true" 
                     useDisplayName="false" 
                     type="Sitecore.Foundation.Catalog.Pipelines.CatalogLinkProvider, Sitecore.Foundation.Catalog"/>
            </providers>
        </linkManager>
    </sitecore>
</configuration>