<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <commerce.orders.submitOfflineOrder>
                <processor type="Sitecore.Commerce.Pipelines.Orders.TriggerOrderOutcome, Sitecore.Commerce.Connect.Core">
                    <OutcomeId>{9016E456-95CB-42E9-AD58-997D6D77AE83}</OutcomeId>
                </processor>
            </commerce.orders.submitOfflineOrder>
        </pipelines>

        <commerce.XA>
            <models>
                <OrderLinesViewModel type="Sitecore.HabitatHome.Feature.Orders.Models.OrderLinesViewModel, Sitecore.HabitatHome.Feature.Orders"/>
                <OrderLineVariantRenderingModel type="Sitecore.HabitatHome.Feature.Orders.Models.OrderLineVariantRenderingModel, Sitecore.HabitatHome.Feature.Orders"/>
            </models>
        </commerce.XA>

        <services>
            <register serviceType="Sitecore.HabitatHome.Feature.Orders.Repositories.IOrderLinesRepository, Sitecore.HabitatHome.Feature.Orders" implementationType="Sitecore.HabitatHome.Feature.Orders.Repositories.OrderLinesRepository, Sitecore.HabitatHome.Feature.Orders" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>