@import '../../index';
$input-width: 300px;
$button-width:180px;
.cxa-shoppingcartpromotion-component {
    padding-top: $padding*3;
    .component-content {
        .promo-code-input {
            width: $input-width;
            display: inline-block;
        }
        @include vertical-form-layout(0, 10px);
        @include align-elements($packed-toward-start);
        .cart-promotion-form {
            @include row-of-elements-packed(false, false, 15px);
            @include align-elements($top-or-left);
        }
        .added-promotion-codes {
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            table {
                width: 100%;
            }
        }
        .promotion-code-title {
            text-align: right;
        }
        .promotion-code-remove {
            vertical-align: middle;
            text-align: right;
            width: 200px;

            & > a {
                //@include error-button-line();
                font-size: 16px;
                content: '';

                &:before {
                    font-family: FontAwesome;
                    content: '\f00d';
                    font-size: 18px;
                    margin-right: 0.5em;
                }
            }
        }
        .promo-code-input-label,
        .added-promo-code-label {
            display: none;
        }
        
        .add-promo-code-button {
            @include primary-button-line();
        }
        .cart-promotion-form{
            @include form-section();
            padding-bottom: 40px;
        }
        .added-promotion-code {
            //@include text-input();
            font-weight:600;
            font-size: 18px;
            //background-color: $secondary-background-color;
        }
        .added-promotion-codes{
            @include form-section();
            width:100%;
        }
    }
}