@import '../../index';
.cxa-forgotpassword-component {
    form {
        width: 100%;
        @include vertical-form-layout();
        @include align-elements($top-or-left);
    }
    .email-entry-section {
        width: 100%;
        @include horizontal-form-layout();
        @include form-primary-style();
        >* {
            width: 100%;
        }
        .email-entry-buttons {
            margin-top: 25px;
            @include row-of-elements-wide-apart(true, $bottom-or-right);
            button {
                order: 2;
                width: 49%;
                margin-bottom: 0;
                @include primary-button-filled();
                @include large-height();
            }
            a {
                order: 1;
                margin-left: 0;
                width: 49%;
                @include primary-button-line();
                @include large-height();
            }
            margin-top:10px;
        }
        .forgotpassword-confirmation-buttons {
            a {
                @include secondary-button-line();
                @include large-height();
            }
        }
    }
}