@import '../../index';

.cxa-nearest-store-component {
    margin-top: 35px;

   .store-pickup {

       label {
        font-size: 18px;
        padding-bottom: 5px;
       }
   }

   .product-item-pickup {
       a {
        display: inline-block;
        font-size: 14px;
        line-height: 1.28571;
        font-weight: 300;
        color: #141919;
        border: 1px solid #141919;
        padding: 1.28571em 3em;
        border-radius: 0;
        text-transform: uppercase;
        text-align: center;
        min-width: 17.14286em;
        margin: 1em 0;
       }
    }
}