.cxa-product-related-content-component {
    padding: 0;
    margin: 0 0 10px 0;

    .component-content {
        text-align: left;
        margin-top: 0;
		font-size: 13px;
            color: #747a83;
			
        h3.product-name a {                
                color: #747a83;
				font-size: 13px;
            }
		
        .related-product-content-description {
				margin-bottom:10px;
			}
			
        .related-content-product {      
			h3 {
				margin: 5px 0px;
			}		
			.related-product-price {
				font-size:11px;
				text-decoration:italic;
			}
        }
		.related-content-document {
			
			h3 {
				margin: 15px 0px;
			}
			img {
				border: 1px solid #747a83;
			}
		}
		
		.nav-tabs {
			margin-bottom:20px;
		}
	}
	.related-products-list {
				padding: 0px 10px;
				margin:25px 0px;
			}
}