<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>      
    <services>
      <register serviceType="Sitecore.Foundation.Commerce.WishLists.Managers.IWishListManager, Sitecore.Foundation.Commerce.WishLists" implementationType="Sitecore.Foundation.Commerce.WishLists.Managers.WishListManager, Sitecore.Foundation.Commerce.WishLists" lifetime="Singleton"/>
      <register serviceType="Sitecore.Foundation.Commerce.WishLists.Providers.IWishListConnectServiceProvider, Sitecore.Foundation.Commerce.WishLists" implementationType="Sitecore.Foundation.Commerce.WishLists.Providers.WishListConnectServiceProvider, Sitecore.Foundation.Commerce.WishLists" lifetime="Singleton"/>

    </services>    
    </sitecore>
</configuration>