<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Rules" description="Rules" extends="Helix.Foundation">
                    <targetDataStore physicalRootPath="$(commerce.sourceFolder)\Foundation\Rules" useDataCache="false" singleInstance="true" />

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <!-- Commerce components -->
                        <include name="System.Foundation.Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Current Category" />
                        <include name="System.Foundation.Rules.Cart" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Specific Product Quantity Condition" />
                        <include name="System.Foundation.Rules.PromotionByLocation" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Promotion By Location Condition" />
                        <include name="System.Foundation.Rules.HasPurchasedProductCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Has Purchased Product Condition" />
                        <include name="System.Foundation.Rules.HasNotPurchasedProductCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Has Not Purchased Product Condition" />
                        <include name="System.Foundation.Rules.CartTotalCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Cart Total Condition" />
                        <include name="System.Foundation.Rules.SpecificProductType" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Specific Product Type Condition" />
                        <include name="System.Foundation.Rules.SpecificCoupon" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Specific Coupon Condition" />

                    </predicate>

                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>