@import '../../index';
@import '../../../../Habitat Home/sass/abstracts/_mixins.scss';

.cxa-productinformation-component {
    padding: 0;
    margin: 0 0 10px 0;
    .component-content {
        text-align: left;
        margin-top: 0;
        .product-name {
            margin-bottom: 10px;
            h1 {
                font-size: 34px;
                margin-top: 0;
                line-height: 1.01;
                color: #1d8c96;
                margin-bottom: 0.5em;
                //font-family: 'KievitPro' !important;

                @include respond-to(desktop) {
                    font-size: 52px;
                }
            }
        }
        .product-number {
            display: none;
        }
        .product-description {
            font-size: 20px;
            border-top: 1px solid #d8d9d5;
            border-bottom: 1px solid #d8d9d5;
            padding: 1.5em 0;
            margin-bottom: 1.5em;

            h6 {
                display: none;
            }


        }
    }
}