@import '../../index';
@import '../../base/index';
@import '../../mixins/index';
$promoted-color: #f6a623;
.component.cxa-productlist-component {
    .load-more-btn, .btn.btn-block {
        border: 2px solid $primary-color;
        padding: 10px 20px;
        border-radius: 4px;
        color: $primary-color;
        max-width: 250px;
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: $margin;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        background: transparent;
        &:active, &:hover{
            color: $light;
            background: $primary-color;
        }
    }
    .btn.btn-block{
        margin-bottom: $margin;
    }
    .product-list {
        ul {
            @include row-of-elements-wide-apart(true, $center);
            justify-content: flex-start;
            >li {
                margin-left: 0;
                margin-right: $margin;
                flex-basis: 253px;
                max-width: 253px; //31%
                >div {
                    max-height: 403px;
                }
                margin-bottom: $margin - 2;
                .product-summary {
                    position: relative;
                    @include column-of-elements-wide-apart(false, $center);
                    .photo {
                        width: 100%;
                        height: 220px;
                        a {
                            text-align: center;
                            display: inherit;
                        }
                        img {
                            max-width: 100%;
                            max-height: 208px;
                        }
                    }
                    .product-info {
                        @include row-of-elements-packed(true, $top-or-left, $packed-elements-margin);
                        width: 85%;
                        .savings {
                            position: absolute;
                            top: 169px;
                            right: 0;
                            padding: 7px;
                            display: flex;
                            flex-flow: row nowrap;
                            margin: 2px 1px;
                            .savings-text {
                                order: 1;
                                margin-left: $margin/3;
                            }
                            .savings-percentage {
                                order: 2;
                                margin-left: 5px
                            }
                        }
                        .previous-price {
                            display: none;
                        }
                        .product-title {
                            width: 100%;
                            order: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .product-brand {
                            margin-top: $margin/3;
                            margin-bottom: $margin;
                            width: 100%;
                            order: 2;
                        }
                        .product-rating {
                            width: 33%;
                            order: 3;
                            ul {
                                @include row-of-elements-packed(false, $center, $packed-elements-margin);
                            }
                            margin-bottom:0;
                        }
                        .product-stock-status {
                            width: 50%;
                            order: 4;
                            @include push-element-to-right();
                            text-align: right;
                            display: flow-root;
                            &:before {
                                display: inline-block;
                                margin-right: 5px;
                            }
                            margin-bottom: 0;
                        }
                        .lowest-variant-price {
                            order: 5;
                            width: 100%;
                            margin-bottom: 0;
                            min-height: 22px;
                        }
                        .current-price {
                            padding: 11px $padding/2 0 $padding/2;
                            text-align: center;
                            min-height: $control-large-height;
                            order: 6;
                            margin-right: 0;
                            @include align-elements($center);
                            width: 50%;
                        }
                        .product-category {
                            order: 7;
                            margin-right: 0;
                            min-height: $control-large-height;
                            width: 50%;
                            a {
                                display: inline-block;
                                min-height: $control-large-height;
                                padding: 9px 15px 7px 15px;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.component.cxa-productlist-component {
    .product-list {
        &>ul {
            >li {
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
                background-color: $light;
                border-radius: $border-radius;
                min-height: 387px;
                .product-summary {
                    .product-info {
                        .savings.on-sale {
                            background-color: $promoted-color;
                            color: $light;
                            font-size: $font-size-large;
                            font-weight: bold;
                            span {
                                background-color: $promoted-color;
                                color: $light;
                                font-size: $font-size-large;
                                font-weight: bold;
                            }
                        }
                        .lowest-variant-price,
                        .product-title {
                            a {
                                color: $secondary-color;
                                &:active,
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                    color: $primary-color;
                                    cursor: pointer;
                                }
                            }
                        }
                        .product-brand {
                            color: $secondary-text-color;
                            font-size: 13px;
                        }
                        .current-price {
                            background: darken($primary-color, 2);
                            color: $light;
                            border-radius: $border-radius 0 0 $border-radius;
                            cursor: default;
                        }
                        .current-price.on-sale {
                            background-color: $promoted-color;
                            color: $light;
                        }
                        .product-stock-status {
                            font-weight: bold;
                            color: $secondary-text-color;
                        }
                        .product-stock-status.In-Stock {
                            &:before {
                                @include sc-icon($scxa-happyface);
                            }
                        }
                        .product-stock-status.Out-of-Stock {
                            &:before {
                                @include sc-icon($scxa-sadface);
                            }
                        }
                        .product-rating {
                            .icon-star {
                                &:before {
                                    @include sc-icon($scxa-ratingstar);
                                    color: #e1e3e5;
                                }
                            }
                            .rated {
                                .icon-star {
                                    &:before {
                                        color: #ffc107;
                                    }
                                }
                            }
                        }
                        .product-category {
                            &:not(.on-sale) {
                                a {
                                    @include primary-button-line();
                                    padding: 9px 15px 7px 15px;
                                    border-radius: 0 $border-radius $border-radius 0;
                                    span{
                                        color: $primary-color;
                                    }
                                    &:hover *{
                                        color: $light;
                                    }
                                    &:active,
                                    &:hover,
                                    &:focus {
                                        text-decoration: none;
                                        background-color: $primary-color;
                                    }
                                }
                            }
                            a {
                                &:active,
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                    color: $light
                                }
                            }
                        }
                        .product-category.on-sale {
                            a {
                                @include button-border($light, $promoted-color, $promoted-color);
                                padding: 9px 15px 7px 15px;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                &:active,
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}