@import '../../index';

.component.cxa-productprice-component {
    margin-bottom: 20px;
    .price-info {
        .price-now-before {
            display: flex;
            .price-with-savings {
                float: left;
                h3 {
                    margin-top: 9px;
                    span {
                        color: $primary-color;
                        font-size: 36px;
                        font-weight: bold;
                    }
                    span:last-child {
                        display: none;
                    }
                }
            }
            .price-before {
                float: left;
                margin-left: 9px;
                margin-top: auto;
                h3 {
                    span {
                        color: $secondary-text-color;
                        font-size: 36px;
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                }
            }
        }
        .price-only {
            h3 {
                margin-top: 0;
                span {
                    color: $primary-color;
                    font-size: 36px;
                    font-weight: bold;
                }
            }
        }
    }
}