/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-changepassword-component {
  padding: 0;
}

.cxa-changepassword-component form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.cxa-changepassword-component form > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-changepassword-component form > * {
  margin: 0;
}

.cxa-changepassword-component form > * {
  width: 100%;
}

.cxa-changepassword-component form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-changepassword-component form > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-changepassword-component form > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-changepassword-component form > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-changepassword-component form > div input[type="text"] {
  width: 100%;
}

.cxa-changepassword-component form > div input[type="password"] {
  width: 100%;
}

.cxa-changepassword-component form > div select {
  width: 100%;
}

.cxa-changepassword-component form > div > label {
  margin-right: 3px;
}

.cxa-changepassword-component form input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-changepassword-component form input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-changepassword-component form .changepassword-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.cxa-changepassword-component form .changepassword-buttons > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.cxa-changepassword-component form .changepassword-buttons > * {
  margin: 0;
}

@media (max-width: 991px) {
  .cxa-changepassword-component form .changepassword-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.cxa-changepassword-component form .changepassword-buttons button {
  border: 2px solid #0e909f;
  font-size: 14px !important;
  font-weight: 400;
  height: 34px;
  text-align: center !important;
  background: #0e909f;
  color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  padding: 4px 25px 4px 25px;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
  width: 200px;
}

.cxa-changepassword-component form .changepassword-buttons button:active, .cxa-changepassword-component form .changepassword-buttons button:hover {
  background: #0d8896 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form .changepassword-buttons button:active {
  background: #0c7783 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form .changepassword-buttons button:disabled, .cxa-changepassword-component form .changepassword-buttons button.disabled, .cxa-changepassword-component form .changepassword-buttons button[disabled],
fieldset[disabled] .cxa-changepassword-component form .changepassword-buttons button {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-changepassword-component form .changepassword-buttons button:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.cxa-changepassword-component form .changepassword-buttons button:active {
  color: #fff;
  background-color: #064b53;
}

.cxa-changepassword-component form .changepassword-buttons button span {
  color: #fff;
}

@media (max-width: 991px) {
  .cxa-changepassword-component form .changepassword-buttons button {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.cxa-changepassword-component form .changepassword-buttons a {
  margin-bottom: 0;
  margin-right: 5px;
  border: 2px solid #0e909f;
  background: #fff;
  color: #0e909f;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding: 4px 25px 4px 25px;
  border-radius: 4px;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
  width: 200px;
}

.cxa-changepassword-component form .changepassword-buttons a:active, .cxa-changepassword-component form .changepassword-buttons a:hover {
  background: #0d8896;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-changepassword-component form .changepassword-buttons a:active {
  background: #0c7783;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-changepassword-component form .changepassword-buttons a:disabled, .cxa-changepassword-component form .changepassword-buttons a.disabled, .cxa-changepassword-component form .changepassword-buttons a[disabled],
fieldset[disabled] .cxa-changepassword-component form .changepassword-buttons a {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-changepassword-component form .changepassword-buttons a:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.cxa-changepassword-component form .changepassword-buttons a:hover span {
  color: #fff;
}

.cxa-changepassword-component form .changepassword-buttons a:active {
  color: #fff;
  background-color: #064b53;
}

@media (max-width: 991px) {
  .cxa-changepassword-component form .changepassword-buttons a {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0;
    margin-top: 15px;
  }
}

.cxa-changepassword-component form input[type='text'] {
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  color: #747a83;
  border: solid 1px #b9bcc1;
  background-image: none;
  box-shadow: none !important;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 10px;
  line-height: 1.42857143;
}

.cxa-changepassword-component form input[type='text']:hover {
  border-color: #b8bbc0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='text']:active, .cxa-changepassword-component form input[type='text']:focus {
  border-color: #0e909f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='text']:disabled, .cxa-changepassword-component form input[type='text'].disabled, .cxa-changepassword-component form input[type='text'][disabled],
fieldset[disabled] .cxa-changepassword-component form input[type='text'] {
  background-color: #f0f0f0;
}

.cxa-changepassword-component form input[type='password'] {
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  color: #747a83;
  border: solid 1px #b9bcc1;
  background-image: none;
  box-shadow: none !important;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 10px;
  line-height: 1.42857143;
}

.cxa-changepassword-component form input[type='password']:hover {
  border-color: #b8bbc0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='password']:active, .cxa-changepassword-component form input[type='password']:focus {
  border-color: #0e909f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='password']:disabled, .cxa-changepassword-component form input[type='password'].disabled, .cxa-changepassword-component form input[type='password'][disabled],
fieldset[disabled] .cxa-changepassword-component form input[type='password'] {
  background-color: #f0f0f0;
}

.cxa-changepassword-component form input[type='radio'] {
  -webkit-appearance: none;
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  color: #747a83;
  border: solid 1px #b9bcc1;
  background-image: none;
  box-shadow: none !important;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 34px;
  text-align: center;
  margin-right: 7px;
  padding: 5px;
  border-radius: 50px;
}

.cxa-changepassword-component form input[type='radio']:hover {
  border-color: #b8bbc0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='radio']:active, .cxa-changepassword-component form input[type='radio']:focus {
  border-color: #0e909f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='radio']:disabled, .cxa-changepassword-component form input[type='radio'].disabled, .cxa-changepassword-component form input[type='radio'][disabled],
fieldset[disabled] .cxa-changepassword-component form input[type='radio'] {
  background-color: #f0f0f0;
}

.cxa-changepassword-component form input[type='radio']:active, .cxa-changepassword-component form input[type='radio']:checked, .cxa-changepassword-component form input[type='radio']:checked:active {
  font-weight: 400;
  color: #0e909f;
  border-color: #0e909f;
}

.cxa-changepassword-component form input[type='radio']:checked:after {
  content: ' ';
  font-size: 18px;
  color: #0e909f;
  background-color: #0e909f;
  border-color: #0e909f;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
}

.cxa-changepassword-component form input[type='checkbox'] {
  -webkit-appearance: none;
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  color: #747a83;
  border: solid 1px #b9bcc1;
  background-image: none;
  box-shadow: none !important;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 34px;
  max-width: 34px;
  min-width: 34px;
  text-align: center;
}

.cxa-changepassword-component form input[type='checkbox']:hover {
  border-color: #b8bbc0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='checkbox']:active, .cxa-changepassword-component form input[type='checkbox']:focus {
  border-color: #0e909f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form input[type='checkbox']:disabled, .cxa-changepassword-component form input[type='checkbox'].disabled, .cxa-changepassword-component form input[type='checkbox'][disabled],
fieldset[disabled] .cxa-changepassword-component form input[type='checkbox'] {
  background-color: #f0f0f0;
}

.cxa-changepassword-component form input[type='checkbox']:active, .cxa-changepassword-component form input[type='checkbox']:checked, .cxa-changepassword-component form input[type='checkbox']:checked:active {
  font-weight: 400;
  color: #0e909f;
  border-color: #0e909f;
}

.cxa-changepassword-component form input[type='checkbox']:checked:after {
  content: '\2714';
  font-size: 18px;
  color: #0e909f;
  border-color: #0e909f;
  padding-top: 3px;
  display: inline-block;
}

.cxa-changepassword-component form select {
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  color: #747a83;
  border: solid 1px #b9bcc1;
  background-image: none;
  box-shadow: none !important;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-appearance: menulist;
  padding: 0 8px;
}

.cxa-changepassword-component form select:hover {
  border-color: #b8bbc0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form select:active, .cxa-changepassword-component form select:focus {
  border-color: #0e909f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cxa-changepassword-component form select:disabled, .cxa-changepassword-component form select.disabled, .cxa-changepassword-component form select[disabled],
fieldset[disabled] .cxa-changepassword-component form select {
  background-color: #f0f0f0;
}

.cxa-changepassword-component form label {
  color: #6b717b;
  font-weight: 600;
}
