@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-languageselector-component {
  position: relative;
}

.cxa-languageselector-component .component-content {
  line-height: 24px;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-flow: column nowrap !important;
  flex-flow: column nowrap !important;
  background-color: #fff;
}

.cxa-languageselector-component .current-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.cxa-languageselector-component .current-language:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 28px;
}

.cxa-languageselector-component .current-language {
  margin-left: 7px;
  vertical-align: top;
  color: #747a83;
  text-decoration: none;
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.cxa-languageselector-component .current-language:after {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 6px;
}

.cxa-languageselector-component .current-language:hover {
  text-decoration: none;
}

.cxa-languageselector-component .available-languages {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px !important;
  padding: 12px 20px;
  width: 165px;
  max-width: 180px;
  margin-top: 0;
  z-index: 100;
  opacity: 0;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #0e909f;
}

.cxa-languageselector-component .available-languages a {
  color: #868b93;
  text-decoration: none;
  font-size: 12px;
}

.cxa-languageselector-component .available-languages a:hover {
  text-decoration: none;
  color: #0e909f;
}
