/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-navigationbar-component {
  margin-top: 0;
  max-width: 100% !important;
}

.cxa-navigationbar-component .product-categories-menu {
  display: block;
}

.cxa-navigationbar-component .category-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: -1px 10px 0 10px;
}

.cxa-navigationbar-component .category-navigation-list li {
  text-align: center;
}

.cxa-navigationbar-component .category-navigation-list li a {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cxa-navigationbar-component .navigation-header {
  display: none;
}

@media (max-width: 767px) {
  .cxa-navigationbar-component .product-categories-menu {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .cxa-navigationbar-component .product-categories-menu ul {
    display: none;
  }
  .cxa-navigationbar-component .product-categories-menu ul.active {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 108%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #0e909f;
    color: #fff;
    z-index: 100;
  }
  .cxa-navigationbar-component .product-categories-menu li {
    padding-left: 30px;
    margin-left: 15px;
  }
  .cxa-navigationbar-component .product-categories-menu li:hover,
  .cxa-navigationbar-component .product-categories-menu li.active {
    opacity: 1;
  }
  .cxa-navigationbar-component .product-categories-menu a {
    display: block;
  }
  .cxa-navigationbar-component .toggle-nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
    padding-right: 30px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    -webkit-transition: color linear 0.15s;
    transition: color linear 0.15s;
  }
  .cxa-navigationbar-component .store-name {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    font-size: 24px;
    color: #fff;
    padding-left: 30px;
    margin-left: 0;
  }
  .cxa-navigationbar-component .navigation-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .cxa-navigationbar-component .toggle-nav:hover,
  .cxa-navigationbar-component .toggle-nav.active {
    text-decoration: none;
    opacity: 0.8;
  }
}

.cxa-navigationbar-component .error-message {
  color: #fff;
  padding-left: 30px;
}

.cxa-navigationbar-component {
  background: #0e909f;
  line-height: 45px;
}

.cxa-navigationbar-component .product-categories-menu .category-navigation-list li {
  opacity: 0.8;
  margin: 0 10px;
}

.cxa-navigationbar-component .product-categories-menu .category-navigation-list li.active {
  opacity: 1;
  font-weight: 800;
}

.cxa-navigationbar-component .product-categories-menu .category-navigation-list li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.cxa-navigationbar-component .product-categories-menu .category-navigation-list li a span {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.cxa-navigationbar-component .product-categories-menu .category-navigation-list li:hover a, .cxa-navigationbar-component .product-categories-menu .category-navigation-list li.active a {
  border-bottom: 4px solid #fff;
  padding: 0 10px;
}

.cxa-navigationbar-component .category-item .category-link {
  display: block;
}

.cxa-navigationbar-component .category-item .category-link span.scWebEditInput {
  line-height: 14px;
}
