/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-productinformation-component {
  padding: 0;
  margin: 0 0 10px 0;
}

.cxa-productinformation-component .component-content {
  text-align: left;
  margin-top: 0;
}

.cxa-productinformation-component .component-content .product-name {
  margin-bottom: 10px;
}

.cxa-productinformation-component .component-content .product-name h1 {
  margin-top: 0;
  line-height: 150%;
  font-weight: 500;
  color: #383c41;
  font-family: 'KievitPro' !important;
}

.cxa-productinformation-component .component-content .product-number {
  display: none;
}

.cxa-productinformation-component .component-content .product-description h6 {
  display: none;
}
