.cxa-product-related-content-component {
  padding: 0;
  margin: 0 0 10px 0;
}

.cxa-product-related-content-component .component-content {
  text-align: left;
  margin-top: 0;
  font-size: 13px;
  color: #747a83;
}

.cxa-product-related-content-component .component-content h3.product-name a {
  color: #747a83;
  font-size: 13px;
}

.cxa-product-related-content-component .component-content .related-product-content-description {
  margin-bottom: 10px;
}

.cxa-product-related-content-component .component-content .related-content-product h3 {
  margin: 5px 0px;
}

.cxa-product-related-content-component .component-content .related-content-product .related-product-price {
  font-size: 11px;
  text-decoration: italic;
}

.cxa-product-related-content-component .component-content .related-content-document h3 {
  margin: 15px 0px;
}

.cxa-product-related-content-component .component-content .related-content-document img {
  border: 1px solid #747a83;
}

.cxa-product-related-content-component .component-content .nav-tabs {
  margin-bottom: 20px;
}

.cxa-product-related-content-component .related-products-list {
  padding: 0px 10px;
  margin: 25px 0px;
}
