@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-shoppingcartlines-component table thead tr th {
  padding-bottom: 10px;
}

.cxa-shoppingcartlines-component table tbody tr td {
  vertical-align: top;
  padding-top: 24px;
  padding-bottom: 24px;
}

.cxa-shoppingcartlines-component table tbody tr.subline-row .flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cxa-shoppingcartlines-component table tbody tr.subline-row .flex-container > div:nth-child(1) {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  text-align: left;
}

.cxa-shoppingcartlines-component table tbody tr.subline-row .flex-container > div:nth-child(1) img {
  display: block;
  width: 72px;
  height: 72px;
}

.cxa-shoppingcartlines-component table tbody tr.subline-row .flex-container > div:nth-child(2) {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.cxa-shoppingcartlines-component table tbody tr.subline-row .flex-container > div:nth-child(3) {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:first-child {
  vertical-align: middle;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:first-child img {
  width: 72px;
  height: 72px;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:nth-child(2) {
  width: 45%;
  vertical-align: top;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:nth-child(2) h5 {
  max-width: 87%;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:nth-child(3) {
  width: 15%;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:nth-child(4) {
  width: 17.5%;
}

.cxa-shoppingcartlines-component table tbody tr.mainline > td:nth-child(5) {
  width: 17.5%;
}

.cxa-shoppingcartlines-component table thead tr th {
  border-bottom: 1px solid #e2e3e5;
}

.cxa-shoppingcartlines-component table thead tr th:not(:first-child) {
  padding-left: 20px;
}

.cxa-shoppingcartlines-component table tbody tr td {
  border-bottom: 1px solid #e2e3e5;
  vertical-align: middle;
}

.cxa-shoppingcartlines-component .shoppingcart-price,
.cxa-shoppingcartlines-component .shoppingcart-quantity,
.cxa-shoppingcartlines-component .shoppingcart-total,
.cxa-shoppingcartlines-component .shoppingcart-delete {
  padding-left: 20px;
}

.cxa-shoppingcartlines-component .shoppingcart-image {
  width: 100px;
  height: 100px;
  vertical-align: top;
}

.cxa-shoppingcartlines-component .shoppingcart-info {
  padding-left: 20px;
  vertical-align: top;
}

.cxa-shoppingcartlines-component .shoppingcart-info a h5 {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 16px;
  font-family: "Open Sans" !important;
  font-weight: 600;
}

.cxa-shoppingcartlines-component .shoppingcart-info .variant-information + .variant-information {
  margin-top: 7.5px;
}

.cxa-shoppingcartlines-component .shoppingcart-info .variant-value {
  font-weight: bold;
}

.cxa-shoppingcartlines-component .shoppingcart-price .price {
  font-weight: 600;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity {
  text-align: center;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: false;
  -ms-flex-align: false;
  align-items: false;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div > * {
  -ms-flex-item-align: false;
  -ms-grid-row-align: false;
  align-self: false;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div > * {
  margin: 0;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div > div > * {
  margin: 0;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div input[type=number]::-webkit-inner-spin-button,
.cxa-shoppingcartlines-component .shoppingcart-quantity div input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div input,
.cxa-shoppingcartlines-component .shoppingcart-quantity div button {
  max-height: 42px;
  min-height: 42px;
  display: inline-block !important;
  border: solid 2px #b9bcc1;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button {
  border: 2px solid #868b93;
  background: #fff;
  color: #707680;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding: 4px 25px 4px 25px;
  border-radius: 4px;
  border: solid 2px #b9bcc1;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:active, .cxa-shoppingcartlines-component .shoppingcart-quantity div button:hover {
  background: #81868e;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:active {
  background: #767c84;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:disabled, .cxa-shoppingcartlines-component .shoppingcart-quantity div button.disabled, .cxa-shoppingcartlines-component .shoppingcart-quantity div button[disabled],
fieldset[disabled] .cxa-shoppingcartlines-component .shoppingcart-quantity div button {
  cursor: not-allowed;
  opacity: 0.4;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:hover {
  color: #fff;
  background-color: #b9bcc1;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:hover span {
  color: #fff;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button:active {
  color: #fff;
  background-color: #6b717b;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div input {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: inline-block;
  max-width: 46px;
  min-width: 46px;
  text-align: center;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div input:disabled {
  opacity: 0.4;
  background-color: #fff;
  border: solid 2px #b9bcc1;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button.decrease {
  margin: 0 auto;
  max-height: 42px;
  min-height: 42px;
  max-width: 42px;
  min-width: 42px;
  padding: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button.decrease:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 1px;
  margin-bottom: 13px;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button.increase {
  margin: 0 auto;
  max-height: 42px;
  min-height: 42px;
  max-width: 42px;
  min-width: 42px;
  padding: 0;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

.cxa-shoppingcartlines-component .shoppingcart-quantity div button.increase:after {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 8px;
}

.cxa-shoppingcartlines-component .shoppingcart-total {
  text-align: right;
}

.cxa-shoppingcartlines-component .shoppingcart-total .total {
  font-size: 18px;
  font-weight: 600;
  color: #383c41;
}

.cxa-shoppingcartlines-component .shoppingcart-total .shoppingcart-total-saving {
  color: #DE5248;
}

.cxa-shoppingcartlines-component .shoppingcart-delete a span:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  opacity: 0.5;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery {
  margin-bottom: 0;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery span,
.cxa-shoppingcartlines-component .shoppingcart-delivery li {
  font-size: 12px;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery .shippingMethodName {
  font-weight: 600;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery .lineShippingAddress {
  display: inline;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery .lineShippingAddress li {
  display: inline;
}

.cxa-shoppingcartlines-component .shoppingcart-delivery .lineShippingAddress li:not(:last-child) span:after {
  content: ",";
}

.cxa-shoppingcartlines-component .subline-row td:first-child {
  padding-left: -webkit-calc( 100px + 20px);
  padding-left: calc( 100px + 20px);
}

.cxa-shoppingcartlines-component .subline-row .shoppingcart-image {
  width: 72px;
  height: 72px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component .subline-row .shoppingcart-info {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component.compact-cart table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > * {
  margin: 0;
}

@media (max-width: 991px) {
  .cxa-shoppingcartlines-component.compact-cart table tbody tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cxa-shoppingcartlines-component.compact-cart table tbody tr > * {
    width: 89.4%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div input[type="text"] {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div input[type="password"] {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr > div select {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-image {
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  border: none;
  padding-bottom: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-info {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  border: none;
  padding-bottom: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-info a h5 {
  max-width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: auto;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-top: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > * {
  margin: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > * {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div > *:not(:first-child) {
  margin-top: 0;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div input[type="text"] {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div input[type="password"] {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div select {
  width: 100%;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > div > label {
  margin-right: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total input[type='radio'] + label {
  margin-right: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total input[type='checkbox'] + label {
  margin-right: 3px;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > * {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total > span,
.cxa-shoppingcartlines-component.compact-cart table tbody tr .shoppingcart-total p {
  text-align: right;
}
