@import "responsive";
@import "layouts";
@mixin table() {
    @include responsive-table();
}

@mixin cart-lines-table() {
    thead {
        tr {
            th {
                padding-bottom: $padding;
            }
        }
    }
    tbody {
        tr {
            td {
                vertical-align: top;
                padding-top: $padding * 2.4;
                padding-bottom: $padding * 2.4;
            }

            &.subline-row {
                .flex-container {
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    display: flex;
                    > div:nth-child(1) {
                        flex-basis: auto;
                        flex-grow: 0;
                        text-align: left;
                        img {
                            display: block;
                            width: 72px;
                            height: 72px;
                        }
                    }
                    > div:nth-child(2) {
                        flex-basis: 50%;
                        flex-grow: 2;
                    }
                    > div:nth-child(3) {
                        flex-basis: 25%;
                        flex-grow: 1;
                    }
                }
            }
            &.mainline {
                > td:first-child {
                    vertical-align: middle;
                    min-width: 100px;
                    min-height: 100px;
                    width: 100px;
                    img {
                        width: 72px;
                        height: 72px;
                    }
                }
                > td:nth-child(2) {
                    width: 45%;
                    vertical-align: top;
                    h5 {
                        max-width: 87%;
                    }
                }
                > td:nth-child(3) {
                    width: 15%;
                }
                > td:nth-child(4) {
                    width: 17.5%;
                }
                > td:nth-child(5) {
                    width: 17.5%;
                }
            }
        }
    }
}
