@mixin noSelect{
    user-select: none;
}

@mixin limitLineContainer($height){
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
}

@mixin limitLine(){
    white-space: nowrap;
}

@mixin convertToSentenceCase(){
    text-transform: lowercase;

    &:first-letter{
        text-transform: uppercase;
    }
}