/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/* breakpoints */
.component.cxa-checkoutdelivery-component .buttons-row {
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid #e2e3e5;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 40px 0 0;
  padding: 0;
  border: 0;
}

.component.cxa-checkoutdelivery-component .buttons-row h4 {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .buttons-row > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-checkoutdelivery-component .buttons-row > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .delivery-form {
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.component.cxa-checkoutdelivery-component .addrss-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.component.cxa-checkoutdelivery-component .addrss-form > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .addrss-form > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .addrss-form > * {
  -ms-flex-preferred-size: 44.7%;
  flex-basis: 44.7%;
}

.component.cxa-checkoutdelivery-component .addrss-form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .addrss-form > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .addrss-form > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.component.cxa-checkoutdelivery-component .addrss-form > div > *:not(:first-child) {
  margin-top: 0;
}

.component.cxa-checkoutdelivery-component .addrss-form > div input[type="text"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .addrss-form > div input[type="password"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .addrss-form > div select {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .addrss-form input[type='radio'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .addrss-form input[type='checkbox'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .addrss-form > div {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .shipall-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .shipall-options {
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid #e2e3e5;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: none;
  padding-bottom: 40px;
}

.component.cxa-checkoutdelivery-component .shipall-options h4 {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .shipall-options .shipall-options-item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.component.cxa-checkoutdelivery-component .shipall-options-title h3, .component.cxa-checkoutdelivery-component .shipall-options-title h4 {
  color: #0e909f;
  font-size: 18px;
  text-transform: capitalize;
}

.component.cxa-checkoutdelivery-component .shipall-addresses {
  margin-top: 15px;
  margin-bottom: 10px;
}

.component.cxa-checkoutdelivery-component .shipping-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: 5px;
  -ms-flex-align: 5px;
  align-items: 5px;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.component.cxa-checkoutdelivery-component .shipping-option > * {
  -ms-flex-item-align: 5px;
  -ms-grid-row-align: 5px;
  align-self: 5px;
}

.component.cxa-checkoutdelivery-component .shipping-option > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .shipping-option > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-checkoutdelivery-component .shipping-option > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .shipping-option > div > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .shipping-option input {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-checkoutdelivery-component .shipping-option label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-checkoutdelivery-component .delivery-option-item {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e2e3e5;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > * {
  -ms-flex-preferred-size: 44.7%;
  flex-basis: 44.7%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div > *:not(:first-child) {
  margin-top: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div input[type="text"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div input[type="password"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > div select {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select input[type='radio'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select input[type='checkbox'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > *:not(:last-child) {
  margin-right: 5px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > *:not(:first-child) {
  margin-left: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > div {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info > div > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info .product-info h5 {
  font-size: 16px;
  font-weight: 600;
  color: #383c41;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > * {
  -ms-flex-preferred-size: 44.7%;
  flex-basis: 44.7%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div > *:not(:first-child) {
  margin-top: 0;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div input[type="text"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div input[type="password"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div select {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form input[type='radio'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form input[type='checkbox'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div > * {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form .shipall-addresses-title {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .send-byemail-tome {
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-status {
  margin-bottom: 25px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > * {
  margin: 0;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > * {
  -ms-flex-preferred-size: 89.4%;
  flex-basis: 89.4%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div > * {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div > *:not(:last-child) {
  margin-bottom: 3px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div > *:not(:first-child) {
  margin-top: 0;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div input[type="text"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div input[type="password"] {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div select {
  width: 100%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section input[type='radio'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section input[type='checkbox'] + label {
  margin-right: 3px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div input[type="text"] {
  width: 50%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section > div textarea {
  width: 50%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section .send-byemail-title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.component.cxa-checkoutdelivery-component .shipbymail-section .send-byemail-title h3 {
  color: #0e909f;
  font-size: 28px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .shipbymail-section > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .component.cxa-checkoutdelivery-component .shipbymail-section > div input[type="text"],
  .component.cxa-checkoutdelivery-component .shipbymail-section > div textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component {
    padding: 0 2em;
  }
}

.component.cxa-checkoutdelivery-component label {
  font-weight: 600;
}

.component.cxa-checkoutdelivery-component .shipall-title {
  display: none;
}

.component.cxa-checkoutdelivery-component h3 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #383c41;
  font-weight: 600;
}

.component.cxa-checkoutdelivery-component h3 span {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #383c41;
  font-weight: 600;
}

.component.cxa-checkoutdelivery-component .delivery-form {
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid #e2e3e5;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 300px;
  margin: 0 auto 30px;
  border: 0;
}

.component.cxa-checkoutdelivery-component .delivery-form h4 {
  margin-bottom: 15px;
}

.component.cxa-checkoutdelivery-component .delivery-form .delivery-form-header {
  display: inline-block;
}

.component.cxa-checkoutdelivery-component .delivery-form .delivery-form-header p {
  font-weight: bold;
  font-size: 16px;
  color: #383c41;
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .delivery-form {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .addrss-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .component.cxa-checkoutdelivery-component .addrss-form > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }
}

.component.cxa-checkoutdelivery-component .delivery-options .delivery-option-header h1 {
  font-size: 16px;
  color: #868b93;
  text-transform: lowercase;
  display: block;
}

.component.cxa-checkoutdelivery-component .delivery-options .delivery-option-header h1:first-letter {
  text-transform: uppercase;
}

.component.cxa-checkoutdelivery-component .delivery-options .shipall-options {
  padding-top: 80px;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info .product-info {
  text-align: left;
}

.component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .product-image-info .product-info h5 {
  font-size: 12px;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-header .ship-option-select > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .delivery-option-item .delivery-item-content .address-form > div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.component.cxa-checkoutdelivery-component .shipall-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.component.cxa-checkoutdelivery-component .shipall-section .shipall-addresses-title h3 {
  color: #0e909f;
  font-size: 28px;
  text-transform: capitalize;
}

.component.cxa-checkoutdelivery-component .shipall-section .shipall-options .shipall-options-toggle button {
  background-color: #0e909f;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 20px;
}

.component.cxa-checkoutdelivery-component .shipall-section > div {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .shipall-section > div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }
}

.component.cxa-checkoutdelivery-component .shipall-section .shipall-addresses-title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.component.cxa-checkoutdelivery-component .shipall-section .shipall-options {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .component.cxa-checkoutdelivery-component .shipall-section .shipall-options {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
    padding-left: 0;
  }
}

.component.cxa-checkoutdelivery-component .btn-delivery-prev,
.component.cxa-checkoutdelivery-component .btn-delivery-next {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 0;
  text-transform: uppercase;
  padding: 1em;
  text-align: center;
}

.component.cxa-checkoutdelivery-component .btn-delivery-prev {
  background-color: white;
  color: #141919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.component.cxa-checkoutdelivery-component .btn-delivery-prev:before {
  font-family: FontAwesome;
  content: '\f053';
  margin-right: 1em;
}

.component.cxa-checkoutdelivery-component .btn-delivery-next {
  color: white;
  background-color: #0e909f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.component.cxa-checkoutdelivery-component .btn-delivery-next:after {
  font-family: FontAwesome;
  content: '\f054';
  margin-left: 1em;
}

.component.cxa-checkoutdelivery-component input[type="radio"],
.component.cxa-checkoutdelivery-component input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.component.cxa-checkoutdelivery-component input[type="radio"] + label,
.component.cxa-checkoutdelivery-component input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.component.cxa-checkoutdelivery-component input[type="radio"] + label:before,
.component.cxa-checkoutdelivery-component input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 20px;
  width: 20px;
  border: 1px solid #B1B3AC;
}

.component.cxa-checkoutdelivery-component input[type="radio"] + label:before {
  border-radius: 10px;
}

.component.cxa-checkoutdelivery-component input[type="radio"]:checked + label:after,
.component.cxa-checkoutdelivery-component input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 11px;
  left: -19px;
  width: 8px;
  height: 15px;
  border: solid #1B909C;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.component.cxa-checkoutdelivery-component input[type="radio"]:checked + label:after {
  top: 50%;
  left: -22.25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 8px;
  border: 0;
  background-color: #1B909C;
}

.component.cxa-checkoutdelivery-component .shipping-option {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 30px;
}
