/* @import '../../base/index';

.component.link-list{
    h3{
        padding-bottom: $padding*1.5;
        font-size: $font-size-medium;
        font-weight:bold;
    }
}
 */
.component.link-list.category-link-list {
  float: none !important;
}

.component.link-list.category-link-list h3 {
  border: 0;
}

.component.link-list.category-link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.component.link-list.category-link-list li {
  display: block;
  -ms-flex-preferred-size: 175px;
  flex-basis: 175px;
  text-align: center;
}

.component.link-list.category-link-list li > div img {
  width: 100px;
  height: auto;
}

.component.link-list.category-link-list li > div a {
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.component.link-list.category-link-list li > div a:before {
  display: none;
}
