/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-orderdetailslines-component {
  padding-top: 10px;
}

.cxa-orderdetailslines-component table thead tr th {
  padding-bottom: 3px;
}

.cxa-orderdetailslines-component table tbody tr td {
  vertical-align: middle;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.cxa-orderdetailslines-component table tbody tr .product-image {
  vertical-align: top;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
}

.cxa-orderdetailslines-component table tbody tr .product-image img {
  width: 72px;
  height: 72px;
}

.cxa-orderdetailslines-component table tbody tr .cart-info {
  width: 40%;
  vertical-align: top;
  text-align: left;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .cart-delivery {
  margin-bottom: 0;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .product-variant {
  margin-bottom: 12px;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .address-label {
  margin-right: 10px;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .shippingMethodName {
  margin-left: 10px;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .lineShippingAddress {
  display: inline;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .lineShippingAddress li {
  display: inline;
}

.cxa-orderdetailslines-component table tbody tr .cart-info .lineShippingAddress li:not(:last-child):after {
  content: ',';
}

.cxa-orderdetailslines-component table tbody tr .unit-price {
  vertical-align: middle;
}

.cxa-orderdetailslines-component table tbody tr .unit-price .price-amount {
  display: block;
}

.cxa-orderdetailslines-component table tbody tr .product-quantity {
  vertical-align: middle;
}

.cxa-orderdetailslines-component table tbody tr .line-total {
  text-align: right;
}

.cxa-orderdetailslines-component table tbody tr .reorder .reorder-button {
  margin-left: 15px;
  text-align: right;
}

.cxa-orderdetailslines-component table tbody tr .reorder .reorder-button .add-to-cart-btn {
  border: 2px solid #0e909f;
  font-size: 14px !important;
  font-weight: 400;
  height: 34px;
  text-align: center !important;
  background: #0e909f;
  color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  padding: 4px 15px 4px 15px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  min-height: 42px;
  height: 42px;
  min-width: 150px;
}

.cxa-orderdetailslines-component .cart-info h4 {
  font-size: 16px;
  font-weight: 600;
}

.cxa-orderdetailslines-component .cart-info .product-color {
  font-weight: 600;
}

.cxa-orderdetailslines-component .cart-delivery span,
.cxa-orderdetailslines-component .cart-delivery li {
  font-size: 12px;
}

.cxa-orderdetailslines-component .shippingMethodName,
.cxa-orderdetailslines-component .price-amount {
  font-weight: 600;
}

.cxa-orderdetailslines-component .discount {
  color: #DE5248;
}

.cxa-orderdetailslines-component table td,
.cxa-orderdetailslines-component table th {
  border-bottom: 1px solid #e2e3e5;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.cxa-orderdetailslines-component table th {
  padding-bottom: 0;
}
