@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-productfacets-component {
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 8px;
}

.cxa-productfacets-component .component-content ul {
  padding-top: 5px;
  line-height: 1;
  margin-bottom: 40px;
}

.cxa-productfacets-component .component-content .facet-title {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6b717b !important;
  text-transform: lowercase;
  margin-bottom: 5px;
  font-size: 16px;
}

.cxa-productfacets-component .component-content .facet-title:after {
  float: right;
}

.cxa-productfacets-component .component-content .facet-title:after {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 8px;
  color: #747a83;
  font-weight: normal;
  margin-top: 5px;
}

.cxa-productfacets-component .component-content .facet-title:first-letter {
  text-transform: uppercase;
}

.cxa-productfacets-component .component-content ul {
  margin: 0;
}

.cxa-productfacets-component .component-content ul li {
  padding: 2px 0px;
}

.cxa-productfacets-component .component-content ul li.active {
  font-weight: bold;
}

.cxa-productfacets-component .component-content ul li:last-child {
  margin-bottom: 4px;
}

.cxa-productfacets-component .component-content ul li a {
  line-height: 23px;
}

.cxa-productfacets-component .component-content ul li a span, .cxa-productfacets-component .component-content ul li a {
  font-size: 13px;
  color: #747a83;
}

.cxa-productfacets-component .component-content ul li a span:hover, .cxa-productfacets-component .component-content ul li a span:active, .cxa-productfacets-component .component-content ul li a span:focus, .cxa-productfacets-component .component-content ul li a:hover, .cxa-productfacets-component .component-content ul li a:active, .cxa-productfacets-component .component-content ul li a:focus {
  background: none;
  color: #0e909f;
  text-decoration: none;
}
