@mixin rounded-container($radius: 4px, $bgColor: #fff){
    padding: 30px;
    background: $bgColor;
    border-radius: $radius;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    @include respond-to($sm){
        margin-top: 0;
    }
}