<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.HabitatHome.Foundation.Orders.Managers.IOrderOutcomesManager, Sitecore.HabitatHome.Foundation.Orders" implementationType="Sitecore.HabitatHome.Foundation.Orders.Managers.OrderOutcomesManager, Sitecore.HabitatHome.Foundation.Orders" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>