@mixin sc-icon($code:''){
    @include icon($icon-font-family,$code);
}

@mixin angleIcon($color, $fontSize){
    width: 0;
    height: 0;
    position: absolute;
    color: $color;
    top: 0;
    font-size: $fontSize;
    transform: rotate(-90deg);
    box-shadow: 0 17px 0px 6px #fff;
    content: "\f105";
    font-family: FontAwesome;
}