@mixin text-Input() {
    height: 34px;
    padding: $padding/2 $padding;
    line-height: 1.42857143;
    background-color: $light;
    background-image: none;
    border: 1px solid rgba($secondary-text-color, 0.7);
    &:focus{
        outline: none;
    }
}

@mixin numeric-input-button($increase) {
    margin: 0 auto;
    max-height: $control-large-height;
    min-height: $control-large-height;
    max-width: $control-large-height;
    min-width: $control-large-height;
    padding: 0;
    @if($increase) { 
        order: 3;
        border-radius: 0;
        border-left: none;
    }
    @else {
        order: 1;
        border-radius: 0;
        border-right: none;
    }
}

@mixin numeric-input-group() {
    @include row-of-elements-packed(false, false, 0);
    display: inline-flex;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input,
    button {
        max-height: $control-large-height;
        min-height: $control-large-height;
        display: inline-block !important;
        //border: solid 2px $border-color;
    }
    button {
        @include secondary-button-line();
        //border: solid 2px $border-color;        
    }
    input {
        order: 2;
        display: inline-block;
        max-width: 46px;
        min-width: 46px;
        text-align: center;
        &:disabled {
            opacity: 0.4;
            background-color: $light;
            border: solid 2px $border-color;
        }
    }
    button.decrease {
        @include numeric-input-button(false);
        &:before {
            @include sc-icon($scxa-dash);
            font-size: 1px;
            margin-bottom: 13px;
        }
    }
    button.increase {
        @include numeric-input-button(true);
        &:after {
            @include sc-icon($scxa-add);
            font-size: $font-size-xxsmall;
        }
    }
}