@import 'responsive';
$form-available-width-for-controls: 89.4%;
$form-available-height-for-controls: 89.4%;

/*justification types*/

$packed-toward-start: flex-start;
$packed-toward-end: flex-end;
$packed-around-center: center;
$apart-equal-spaces-between: space-between;
$apart-equal-spaces-around: space-around;

/* alignment types */

$top-or-left: flex-start;
$bottom-or-right: flex-end;
$center: center;
$stretch: stretch;

/*----------------------------------Columns -------------------------------------------------------------------------*/

@mixin column($items-justification, $items-alignment, $lines-alignment, $margin-between-rows:0, $wrap:true) {
    display: flex;
    justify-content: $items-justification;
    align-items: $items-alignment;
    align-content: $lines-alignment;
    >* {
        align-self: $items-alignment;
    }
    @if ($wrap) {
        flex-flow: column wrap;
    }
    @else {
        flex-flow: column nowrap;
    }  
    @if ($margin-between-rows > 0) {
        >*:not(:last-child) {
            margin-bottom: $margin-between-rows;
        }
        >*:not(:first-child) {
            margin-top: 0;
        }
    }
    @else {
        >* {
            margin: 0;
        }
    }
}
/*------------------------------------------------------Rows -------------------------------------*/
@mixin row($items-justification, $items-alignment, $lines-alignment, $margin-between-columns:0, $wrap:true) {
    display: flex;
    justify-content: $items-justification;
    align-items: $items-alignment;
    align-content: $lines-alignment;
    >* {
        align-self: $items-alignment;
    }

    @if ($margin-between-columns > 0) {
        >*:not(:last-child) {
            margin-right: $margin-between-columns;
        }
        >*:not(:first-child) {
            margin-left: 0;
        }
    }
    @else {
        >* {
            margin: 0;
        }
    }
    @if ($wrap) {
        flex-flow: row wrap;
        @include respond-to($md) {
            flex-flow: column;
            align-items: center;
            >* {
                width: $form-available-width-for-controls;
                align-self: center;
            }
        }
    }
    @else {
        flex-flow: row nowrap;
    }
}


/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/

@mixin row-of-elements-wide-apart($wrap:false, $alignment:$center) {
    width: 100%;
    @include row($apart-equal-spaces-between, $alignment, $apart-equal-spaces-between, 0, $wrap);
}

@mixin column-of-elements-wide-apart($wrap:false, $alignment:$center) {
    height: 100%;
    @include column($apart-equal-spaces-between, $alignment, $apart-equal-spaces-between, 0, $wrap);
}

@mixin row-of-elements-packed($wrap:false, $alignment:$center, $margin-between-elements:0) {
    @include row($packed-toward-start, $alignment, $apart-equal-spaces-between, $margin-between-elements, $wrap);
    >div {
        margin-bottom: 15px;
        @include column-of-elements-packed(false, $top-or-left);
    }
}

@mixin column-of-elements-packed($wrap:false, $alignment:$center, $margin-between-elements:0) {
    @include column($packed-toward-start, $alignment, $apart-equal-spaces-between, $margin-between-elements, $wrap);
}

@mixin justify-elements($justification-type) {
    justify-content: $justification-type;
}

@mixin align-elements($alignment-type) {
    align-items: $alignment-type;
    >* {
        align-self: $alignment-type;
    }
}

@mixin align-element($alignment-type) {
    align-self: $alignment-type;
}

@mixin push-element-to-right() {
    margin-left: auto;
}

@mixin push-element-to-left() {
    margin-right: auto;
}

@mixin push-element-to-top() {
    margin-bottom: auto;
}

@mixin push-element-to-bottom() {
    margin-top: auto;
}
/*------------------------ Page Layouts -------------------------------*/

@mixin sidebar-and-main-splitter() {
    .component.column-splitter {
        @include row-of-elements-wide-apart(false, $top-or-left);
        >div:first-child {
            flex-basis: 30%
        }
        >div:last-child {
            flex-basis: 63%
        }
        margin-bottom:2 * $margin;
    }
}