@import '../functions/index';
@import '../base/index';
$xs:'xSmall';
$sm: 'small';
$md: 'medium';
$lg: 'large';
$xl: 'xlarge';
$mdPlus: 'mediumAndLarger';

$breakpoints: (
  $xs:(max-width: 575px),
  $sm: (min-width: 576px) and (max-width: 767px),
  $md: (min-width: 768px) and (max-width: 991px),
  $mdPlus : (min-width: 768px),
  $lg: (min-width: 992px) and (max-width: 1199px),
  $xl: (min-width: 1200px)
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: em($font-size);
        } @else {
            @include respond-to($breakpoint) {
                font-size: em($font-size);
            }
        }
    }
}

//makes the table responsive
@mixin responsive-table()
{    
    display: table;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;    
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; 
  height: auto; 
}