@mixin large-height()
{
  min-height: $control-large-height;
  height: $control-large-height;
  padding: $padding*0.8 $padding*2.5 $padding*0.8 $padding*2.5;
}

@mixin transition($time: 0.3s, $ele: all){
     transition: $ele $time;
}







