<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>      
    <services>
      <register serviceType="Sitecore.HabitatHome.Feature.Orders.Controllers.OrderReviewController, Sitecore.HabitatHome.Feature.Orders" implementationType="Sitecore.HabitatHome.Feature.Orders.Controllers.OrderReviewController, Sitecore.HabitatHome.Feature.Orders" lifetime="Transient"/>
      <register serviceType="Sitecore.HabitatHome.Feature.Orders.Repositories.IReviewRepository, Sitecore.HabitatHome.Feature.Orders" implementationType="Sitecore.HabitatHome.Feature.Orders.Repositories.ReviewRepository, Sitecore.HabitatHome.Feature.Orders" lifetime="Singleton"/>
    </services>
    <commerce.XA>
      <models>
        <OrderReviewDataJsonResult type="Sitecore.HabitatHome.Feature.Orders.Models.JsonResults.OrderReviewDataJsonResult, Sitecore.HabitatHome.Feature.Orders"/>
        <BenefitsDataJsonResult type="Sitecore.HabitatHome.Feature.Orders.Models.JsonResults.BenefitsDataJsonResult, Sitecore.HabitatHome.Feature.Orders"/>
        <CartAdjustmentJsonResult type="Sitecore.HabitatHome.Feature.Orders.Models.JsonResults.CartAdjustmentJsonResult, Sitecore.HabitatHome.Feature.Orders"/>
      </models>
      <javascript>
        <feature>
          <file patch:replace="file[@path='/Scripts/Commerce/Feature/Checkout/cxa.feature.checkout.review.model.js']" name="HabitatCommerceOrderReviewModel" path="/Scripts/Commerce/Feature/Orders/habitathome.feature.orders.review.model.js" order="205"/>
          <file patch:replace="file[@path='/Scripts/Commerce/Feature/Checkout/cxa.feature.checkout.review.js']" name="HabitatCommerceOrderReview" path="/Scripts/Commerce/Feature/Orders/habitathome.feature.orders.review.js" order="208"/>
        </feature>
      </javascript>
    </commerce.XA>
    </sitecore>
</configuration>