@import '../../base/index';
@import '../../mixins/index';
footer {
    background: $footer-background-color;
    padding: 34px 0 0 10px;
    margin: 0;
    #footer {
        border-bottom: 1px solid rgba($secondary-text-color, 0.2);
        padding: 0;
        background: $light;
        .component.rich-text {
            padding-left: 15px;
            h3 {
                font-size: 16px;
                margin: 1px 0 $margin 0;
            }
        }
        .component.image.file-type-icon-media-link{
            max-width: 45px;
        }
        .cxa-languageselector-component{
            width: 97px;
            margin: 33px auto 14px auto;
            float: none;
            display: flex;
            @include respond-to($sm){
                display: block !important;
            }
            .available-languages{
                margin-top: -106px !important;
            }
            .current-language{
                &:after{
                    @include sc-icon($scxa-chevronup);
                }
            }
        }
        .component.link-list {
            .component-content {
                h3 {
                    font-weight: bold;
                    border-bottom: none
                }
                ul {
                    margin-bottom: 20px;
                    li {
                        background: none;
                        display: block;
                        margin-bottom: 7px;
                        a {
                            text-decoration: none !important;
                            padding-left: 0 !important;
                            font-size: $font-size-base;
                            &:before {
                                content: "" !important;
                                width: 0;
                            }
                            color: rgba($secondary-text-color, 0.8);
                            &:hover {
                                color: $primary-color;
                                text-decoration: none;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}