<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!--<linkManager>
            <providers>
                <add name="commerce">
                    <patch:delete />
                </add>
                <add name="commerce" 
                     includeFriendlyName="true" 
                     useShopLinks="true" 
                     includeCatalog="false" 
                     addAspxExtension="false" 
                     alwaysIncludeServerUrl="false" 
                     encodeNames="true" 
                     languageEmbedding="asNeeded" 
                     languageLocation="filePath" 
                     lowercaseUrls="false" 
                     shortenUrls="true" 
                     useDisplayName="false" 
                     type="Sitecore.HabitatHome.Foundation.Catalog.Pipelines.CatalogLinkProvider, Sitecore.HabitatHome.Foundation.Catalog"/>
            </providers>
        </linkManager>-->

        <experienceAccelerator>
            <commerce>
                <catalogInformationRenderings>
                    <rendering id="{8B0393E9-EE25-4F0B-A5FD-777B3AD2C737}">
                        <patch:delete />
                    </rendering>
                    <rendering id="{DCEE78E1-1843-4456-A13A-F10A12191630}">
                        <patch:delete />
                    </rendering>
                    <rendering id="{99A633FC-B9A9-44A0-B78A-BCBB08DD02C9}">
                        <patch:delete />
                    </rendering>
                </catalogInformationRenderings>
            </commerce>
        </experienceAccelerator>
    </sitecore>
</configuration>