 @import '../../../../Habitat Home/sass/abstracts/_mixins.scss';

 .component.link-list {
     &.image-link-list{
        float: none !important;

        h3 {
            border: 0;
            text-align: center;
            margin: 0 0 1em;
            //color: #1d8c96;
            font-size: 24px;
        }

        ul {
            display: flex;
            justify-content: center;

            @include respond-to(mobile-large) {
                flex-wrap: wrap;
            }
        }

        li {
            display: block;
            flex-basis: 175px;
            text-align: center;

            @include respond-to(mobile-large) {
                flex-basis: 50%;
                margin-bottom: 1.5em;
            }


   
            & > div {   
                img {
                    width: 100px;
                    height: auto;
                }

                a {
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
     }
     
 }