<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>  
    <commerce.XA>
      <javascript>
        <feature>
          <file patch:instead="CxaOrderHistory" name="HabitatCommerceOrderHistory" path="/Scripts/Commerce/Feature/OrderHistory/habitat.commerce.feature.orderhistory.js" order="300"/>
        </feature>
      </javascript>
    </commerce.XA>   
    </sitecore>
</configuration>