<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>      
    <services>
      <register serviceType="Sitecore.Feature.AddBundleToCart.Controllers.AddBundleToCartController, Sitecore.Feature.AddBundleToCart" implementationType="Sitecore.Feature.AddBundleToCart.Controllers.AddBundleToCartController, Sitecore.Feature.AddBundleToCart" lifetime="Transient"/>
      <!--<register serviceType="Sitecore.Feature.AddBundleToCart.Repositories.IAddToCartRepository, Sitecore.Feature.AddBundleToCart" implementationType="Sitecore.Feature.AddBundleToCart.Repositories.AddBundleToCartRepository, Sitecore.Feature.AddBundleToCart" lifetime="Singleton"/>-->
    </services>
    <commerce.XA>     
      <javascript>
        <feature>
          <file name="HabitatCommerceAddBundleToCart" path="/Scripts/Commerce/Feature/Cart/habitat.commerce.feature.addbundletocart.js" order="202"/>
          <file name="HabitatCommerceProductSelectionHandler" path="/Scripts/Commerce/Feature/Cart/habitat.commerce.feature.addbundletocart.productselection.handler.js" order="203"/>
        </feature>
      </javascript>
    </commerce.XA>
    </sitecore>
</configuration>