$main-container-width: 1140px;
$containerWidth: 1170px;

$margin: 15px;
$padding: 10px;

$border-radius : 4px;
$control-normal-height: 34px;
$control-large-height: 42px;
$form-margin-between-lines : $margin;
$form-section-margin: $margin;
$packed-elements-margin: 3px;
$headerIconRight: 0;
$checkout-page-right-pane-max-width: 730px;