<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.HabitatHome.Feature.WishLists.Controllers.AddToWishListController, Sitecore.HabitatHome.Feature.WishLists" implementationType="Sitecore.HabitatHome.Feature.WishLists.Controllers.AddToWishListController, Sitecore.HabitatHome.Feature.WishLists" lifetime="Transient"/>
            <register serviceType="Sitecore.HabitatHome.Feature.WishLists.Controllers.WishListLinesController, Sitecore.HabitatHome.Feature.WishLists" implementationType="Sitecore.HabitatHome.Feature.WishLists.Controllers.WishListLinesController, Sitecore.HabitatHome.Feature.WishLists" lifetime="Transient"/>
            <register serviceType="Sitecore.HabitatHome.Feature.WishLists.Repositories.IWishListLinesRepository,  Sitecore.HabitatHome.Feature.WishLists" implementationType="Sitecore.HabitatHome.Feature.WishLists.Repositories.WishListLinesRepository,  Sitecore.HabitatHome.Feature.WishLists" lifetime="Singleton"/>
        </services>
        <commerce.XA>
            <models>
                <WishListLinesRenderingModel type="Sitecore.HabitatHome.Feature.WishLists.Models.WishListLinesRenderingModel, Sitecore.HabitatHome.Feature.WishLists"/>
                <WishListJsonResult type="Sitecore.HabitatHome.Feature.WishLists.Models.JsonResults.WishListJsonResult, Sitecore.HabitatHome.Feature.WishLists"/>
                <WishListLineJsonResult type="Sitecore.HabitatHome.Feature.WishLists.Models.JsonResults.WishListLineJsonResult, Sitecore.HabitatHome.Feature.WishLists"/>
            </models>
            <javascript>
                <feature>
                    <file name="HabitatCommerceAddToWishList"      path="/Scripts/Commerce/Feature/Wishlists/habitathome.feature.wishlist.addtowishlist.js" order="204"/>
                    <file name="HabitatCommerceWishListLinesModel" path="/Scripts/Commerce/Feature/Wishlists/habitathome.feature.wishlist.lines.model.js" order="205"/>
                    <file name="HabitatCommerceWishListLines"      path="/Scripts/Commerce/Feature/Wishlists/habitathome.feature.wishlist.lines.js" order="206"/>
                </feature>
            </javascript>
        </commerce.XA>
    </sitecore>
</configuration>