/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/* breakpoints */
.cxa-productinformation-component {
  padding: 0;
  margin: 0 0 10px 0;
}

.cxa-productinformation-component .component-content {
  text-align: left;
  margin-top: 0;
}

.cxa-productinformation-component .component-content .product-name {
  margin-bottom: 10px;
}

.cxa-productinformation-component .component-content .product-name h1 {
  margin-top: 0;
  line-height: 1.01;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .cxa-productinformation-component .component-content .product-name h1 {
    font-size: 52px;
  }
}

.cxa-productinformation-component .component-content .product-number {
  display: none;
}

.cxa-productinformation-component .component-content .product-description {
  border-top: 1px solid #d8d9d5;
  border-bottom: 1px solid #d8d9d5;
  padding: 1.5em 0;
  margin-bottom: 1.5em;
  color: #747474;
  font-size: 1.25em;
  line-height: 1.6;
}

.cxa-productinformation-component .component-content .product-description h6 {
  display: none;
}
