@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.component.cxa-productinventory-component {
  color: #747a83;
  border: none;
  margin: 8px 0 25px 0;
}

.component.cxa-productinventory-component .stock-info {
  border: none;
  margin-bottom: 0;
}

.component.cxa-productinventory-component .stock-status:after {
  content: ':';
  display: inline-block;
  margin-right: 10px;
}

.component.cxa-productinventory-component .stock-count.In-Stock:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.component.cxa-productinventory-component .stock-count.Out-of-Stock:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.component.cxa-productinventory-component .stock-count-label,
.component.cxa-productinventory-component .stock-count {
  font-weight: bold;
  color: #747a83;
}
