/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.cxa-shoppingcarttotal-component {
  padding-top: 30px;
}

.cxa-shoppingcarttotal-component .component-content {
  width: 100%;
  margin-bottom: 15px;
}

.cxa-shoppingcarttotal-component .component-content .cart-total-summary {
  line-height: 28px;
  padding: 15px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #e2e3e5;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cxa-shoppingcarttotal-component .component-content .order-total {
  border-bottom: 0;
}

.cxa-shoppingcarttotal-component .cart-total-title {
  display: none;
}

.cxa-shoppingcarttotal-component .summary-text,
.cxa-shoppingcarttotal-component .summary-amount {
  font-size: 16px;
  color: #383c41;
  margin: 0;
}

.cxa-shoppingcarttotal-component .summary-text {
  -ms-flex-preferred-size: 66.666%;
  flex-basis: 66.666%;
}

.cxa-shoppingcarttotal-component .summary-amount {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  text-align: right;
}

.cxa-shoppingcarttotal-component .discount .summary-amount {
  color: #DE5248;
}

.cxa-shoppingcarttotal-component .order-total .summary-text {
  color: #383c41;
  font-weight: bold;
  font-size: 16px;
}

.cxa-shoppingcarttotal-component .order-total .summary-amount {
  font-size: 16px;
  color: #383c41;
  font-weight: bold;
}

.compact-cart .cxa-shoppingcarttotal-component .component-content {
  width: 100%;
}
