<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <commerce.orders.submitOfflineOrder>
		<processor type="Sitecore.Commerce.Pipelines.Orders.TriggerOrderOutcome, Sitecore.Commerce.Connect.Core">
          <OutcomeId>{9016E456-95CB-42E9-AD58-997D6D77AE83}</OutcomeId>
        </processor>
	  </commerce.orders.submitOfflineOrder>
    </pipelines>
  </sitecore>
</configuration>