@import "abstracts/vars";
@import "abstracts/mixins";
.title {
    background: $title-bg;
    h1, .field-title a {
        font-size: 3.25em;
        font-weight: 700;
        margin: 0.5em 0;
        padding: 0;        
        color: $text-headings;
        display: block;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $title-color-active;
        }

        @include respond-to(mobile-large) {
            margin: 1em 0;
        }
    }
    @import "variants/title/*";
   
}


.promo-hero + .title {
    .field-title a {
      margin-top: 0;
    }
  }