@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome";
@import "base/sitecoredemo/style";

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-svg.svg#proxima_novathin) format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-svg.svg#proxima_novathin_italic) format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_thin_macroman/proximanova-thin-webfont-svg.svg#proxima_novathin) format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_thinitalic_macroman/proximanova-thinit-webfont-svg.svg#proxima_novathin_italic) format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_light_macroman/proximanova-light-webfont-svg.svg#proxima_novalight) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont-svg.svg#proxima_novalight_italic) format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont-svg.svg#proxima_novaregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont-svg.svg#proxima_novaitalic) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_medium_macroman/proximanova-medium-webfont-svg.svg#proxima_novamedium) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_mediumitalic_macroman/proximanova-mediumit-webfont-svg.svg#proxima_novamedium_italic) format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_semibold_macroman/proximanova-semibold-webfont-svg.svg#proxima_novasemibold) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_semibolditalic_macroman/proximanova-semiboldit-webfont-svg.svg#proxima_novasemibold_italic) format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont-svg.svg#proxima_novabold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont-svg.svg#proxima_novabold_italic) format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont-svg.svg#proxima_novaextrabold) format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont-svg.svg#proxima_novaextrabold_italic) format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_black_macroman/proximanova-black-webfont-svg.svg#proxima_novablack) format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-eot.eot);
  src: url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-eot.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-woff2.woff2) format("woff2"), url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-woff.woff) format("woff"), url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-ttf.ttf) format("truetype"), url(../fonts/proxima-nova/proximanova_blackitalic_macroman/proximanova-blackit-webfont-svg.svg#proxima_novablack_italic) format("svg");
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  width: 100%;
}

body {
  position: relative;
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $text-basic;
  line-height: 1.375;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  &.on-page-editor {
    background: $page-bg-editor !important;
  }
}

a {
  color: $text-basic;
  cursor: pointer;
  //font-size: 0.85em;
  text-decoration: none;
  &:hover {
    color: $text-basic-active;
    text-decoration: none;
  }
  /*
  &::before {
    content: "";
    font-size: 0;
    width: 0;
  }*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

//Navigation Bar fix
#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

//End navigation bar fix
//bootstrap container overwrite
.container.theme-container {  
  float: none;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1370px;
}

.container.full-width-container {
  width: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.container.full-width-content {
  margin: 0 auto;  
}

@media (max-width: 768px) {
  .container.theme-container, 
  .container.full-width-container > div.component-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}

@media (min-width: 992px) {
  .container.theme-container, 
  .container.full-width-container > div.component-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
  }
}

@media (min-width: 1200px) {
  .container.theme-container, 
  .container.full-width-container > div.component-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
}

.component {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-title p {
  font-size: 36px;
  font-weight: 700;
  color: #1b6d85;
  line-height: 1.2;
}

// HEADER
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    border-top: 4px solid #50a1ab;
    background-color: rgba(0, 0, 0, 0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
  }
  .component {
    margin: 0;
  }

  
  .logo {
    width: 150px;
    line-height: $header-height;
    img {
      vertical-align: middle;
    }
  }
  
  .logo {
    width: 25%;
  }

  .logo-component {
    line-height: 80px;
    float: none;
    width: auto;

    img {
      vertical-align: middle;
    }
  }

  .container.header-links-component {
    width: auto;
  }

  .header-links-component > .component-content {   
    text-align: right;

    .language-selector {
      display: inline-block;
      border: 0;
      color: #B1B3AC;
      text-transform: uppercase;     
      background-color: transparent;
      padding: 15px 10px 15px 20px;       
      font-size: 11px;
      line-height: 80px;
      font-weight: 400;
      top: 2.5px;

      .language-selector-select-item {
        position: relative;
        &:after {
          right: 0;
        }
      }

      &.open {
        background-color: #262C2B;
      }

      a {        
        color: #B1B3AC;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        border-bottom: 0;
      }

      .language-selector-select-link {
        padding-left: 0;
        background: none;        
      }

      .language-selector-item-container {
        top: 100%;
        right: auto;
        left: 0;
        background-color: #262C2B;
        box-shadow: none;
        width: auto;
        min-width: 100%;;
        padding: 5px 20px;
        display: none;
      }

      &.open {
        .language-selector-item-container {
          display: block;
        }
      }

      .language-selector-item {
        border: 0;
        margin: 15px 0;
        text-align: left;
        line-height: 2;

        a {
          white-space: nowrap;
          padding: 0;
          background: none;
        }

        &:hover {
          background: transparent;
          a {
            color: white;            
          }                    
        }
      }
    }

    .link,
    .search-box,
    .megadrop {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;      
    }

    @include respond-to(all-mobile) {
      .link,
      .search-box,
      .language-selector {
        display: none;
      }
    }

    .link {      
      line-height: 80px;
      margin-left: 1.3125em;

      a {
        color: #B1B3AC;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        border-bottom: 0;
      }
    }

    .search-box {
      position: relative;

      & > .component-content {
        position: absolute;
        right: 0;
        background: white;
        width: 380px;
        font-size: 14px;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
      }

      &.main-search:before {
        z-index: 100;
      }

      .search-box-button {
        font-weight: bold;
        text-transform: uppercase;
      }

      input[type="text"] {
        box-shadow: none;
        font-size: 14px;
      }

      input[type="text"]:focus::-moz-placeholder{
        color: #aaa;
        opacity: 1;
      }
      input[type="text"]:focus:-ms-input-placeholder{
        color: #aaa;
      }
      input[type="text"]:focus::-webkit-input-placeholder{
        color: #aaa;
      }
    }
  }

  .search-box.header-search {
    display: block;
    position: relative;
    width: 0;
    &::before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f002";
      color: $text-headings;
      height: 40px;
      background: #616662;
      padding: 10px;
    }
    & > div.component-content {
      display: none;
      span, button {
        display: block;
        width: 250px;
      }
    }
  }

}

body.preview header {
  position: relative;
} 

footer {
  background: $bg-footer;
  color: $text-white;
  .link-list > .component-content li a {
    color: $text-white;
  }
  div.image {
    width: 110px;
  }
  button.search-box-button {
    font-size: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    border: none;
    padding: 0;
    background: transparent !important;
    &::after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f002";
      color: $text-headings;
      height: 40px;
      background: #616662;
      padding: 10px;
    }
  }
  .search-box .component-content > .twitter-typeahead input.search-box-input {
    font-size: 1em;
    line-height: 40px;
    width: 100%;
    background-color: rgba(177, 179, 172, 0.29) !important;
    color: #fefefe;
    height: 40px;
    padding-left: 0.71429em;
    padding-right: 2.85714em;
    border: none;
  }
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="datetime"]::-moz-placeholder,
  input[type="datetime-local"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="datetime"]:-ms-input-placeholder,
  input[type="datetime-local"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder {
    color: #999;
  }
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder {
    color: #999;
  }
  .footer-links-block {
    width: 16.66666%;
    display: inline-block;
    margin: 0;
    padding: 0;
    & > div.component-content {
      padding: 0 1em;
      li {
        padding: .5em 0;
        &.first {
          border-bottom: 1px solid $text-headings;
          a {
            color: #fefefe;
            font-weight: 700;
          }
        }
        a {
          color: #747776;
          font-size: $font-links;
          line-height: 1.5;
          font-weight: 400;
          &::before {
            content: "";
            font-size: 0;
            width: 0;
          }
          &:hover {
            color: $text-white;
            border: none;
          }
        }
      }
    }
    &:last-of-type {
      & > div.component-content li {
        border-bottom: 1px solid $text-headings;
        a {
          color: #fefefe;
          font-weight: 700;
        }
      }
    }
  }
  .link-list {
    h3 {
      border: none;
    }
  }
  .copyrights {
    background: transparent;
    color: $text-basic-active;
    padding: 1em 0;
    border: none;
    border-top: 1px solid $text-basic-active;
  }
}

.social-links {
  padding: 1em 0;
  & > div.component-content {
    ul > li {
      display: inline-block;
      a {
        margin: 0 20px;
        font-size: 0;
        color: $text-headings;
        &:hover {
          border: none;
          color: $text-white;
        }
        &::before {
          font: normal normal normal 14px/1 FontAwesome;
          font-size: $font-big;
          padding: 5px;
        }
        &.social-links-facebook::before {
          content: "\f09a";
        }
        &.social-links-linkedin::before {
          content: "\f0e1";
        }
        &.social-links-twitter::before {
          content: "\f099";
        }
        &.social-links-youtube::before {
          content: "\f167";
        }
      }
    }
  }
}

.no-hero-container {
  margin-top: 120px;
}

.clear-distance {
  margin: 0 !important;
  padding: 0 !important;
  .component-content {
    margin: 0 !important;
    padding: 0 !important;
  }
}

main .content ol, main .rich-text ol {
  font-size: 16px;
  line-height: 1.5;
  li {
    list-style-position: inherit;
    font-size: 1.25em;
    p {

    }
  }
}


main {
  label.control-label {
    font-weight: 700;
    margin-top: 1.875em;
    margin-bottom: 0.375em;
    display: block;
    font-size: 1.2em;
  }
  input.form-control {
    background-attachment: scroll;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding: 0 15px;
    margin: 0;
    width: 100%;
    height: 41px;
    max-width: 100%;
    border: 1px solid #d8d9d5;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .btn.btn-block {
    font-size: 0.875em;
    line-height: 1.28571;
    font-weight: 700;
    color: #141919;
    border: 1px solid #141919;
    padding: 1.28571em 3em;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    min-width: 17.14286em;
    &.btn-primary {
      background-color: #50a1ab;
      color: #fefefe;
      padding: 1.57143em 7.14286em;
      border: 1px solid #50a1ab;
      width: auto;
    }
  }
}

/* overwrite default bootstrap classes for mobile */
.col-m-12 {
  width: 100% !important;
  float: none;
}

/*********** COOKIE MESSAGE ***************/
.privacy-warning, .cookie-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141919;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  .close {
    margin: 0;
    opacity: .75;
    a {
      padding: 5px;
      color: #fff;
      font-size: 14px;
    }
  }
  .info {
    margin: 0 30px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }
  div.submit {
    display: inline-block;
    vertical-align: middle;
    a {
      @include blue-button();
      padding: 10px 20px;
      font-size: 12px;
    }
  }
}

/* fix for experience editor */
#scCrossPiece[style="visibility: hidden; height: 236px;"] ~ header {
  top: 236px;
}

#scCrossPiece[style="visibility: hidden; height: 196px;"] ~ header {
  top: 196px;
}

#scCrossPiece[style="visibility: hidden; height: 186px;"] ~ header {
  top: 186px;
}

#scCrossPiece[style="visibility: hidden; height: 89px;"] ~ header {
  top: 89px;
}

/************ MEDIA QUERIES *****************/
/* phones */
$hero-height: 500px;
@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  //header
  header {
    .header-links .link {
      display: none;
    }
    .container.theme-container {
      margin: 0;
      padding: 0;
    }
    .logo .image {
      margin: 0 15px;
      width: 146px;
    }
  }
  // carousel
  .home-carousel .carousel-inner {
    ul.slides > li.slide > div {
      height: $hero-height;
      .field-slidetext {
        width: 80%;
        top: 100px;
        font-size: 5em;
        left: 10%;
      }
      .field-slideimage img {
        height: $hero-height;
        width: auto;
        max-width: none;
        margin: 0 -50% !important;
      }
      .field-slidelink {
        bottom: 2em;
        left: 10%;
      }
    }
    div.nav {
      display: none;
    }
  }
  main .promo {
    padding: 3em 15px;
    & > div.component-content {
      padding: 0 15px;
    }
    & > div > div {
      width: 100%;
      h3 {
        p {
          font-size: 36px;
        }
      }
    }
    &.promo-left, &.promo-right {
      .field-promoicon {
        float: none;
        text-align: center;
        img {
          float: none;
          width: 70%;
          margin: auto;
        }
      }
    }
    &.promo-hero {
      &:after {
        width: 4em;
        height: 6em;
        bottom: 0;
      }
      & > div > div {
        & > div {
          bottom: 10px;
          left: 15px;
        }
        .field-promoicon {
          height: $hero-height;
          img {
            height: $hero-height;
            width: auto;
            margin: 0 -50% !important;
          }
        }
        & > div {

        }
      }
      .field-promotext {
        width: 80%;
        margin: auto;
      }
      .field-promotext2 {
        font-size: 2em;
        width: 80%;
        margin: auto;
      }
    }
  }
  .promo div.field-promolink {
    text-align: center;
    a {
      display: block;
    }
  }
  .full-width-cta > div {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .full-width-cta.full-width-cta-right > div div.promo > div,
  .full-width-cta.full-width-cta-left > div div.promo > div {
    float: none;
  }
  .full-width-cta > div div.promo > div {
    width: 90%;
    margin: 70px auto 0 auto;
  }

  .full-width-cta > div div.promo > div div.field-promotext2 {
    text-align: center;
    p {
      font-size: 2.5em;
    }
  }
  footer {
    position: relative;
    .footer-links-block {
      width: 50%;

    }
    .social-links {
      ul {
        text-align: center;
      }
    }
    .copyrights {
      display: none;
    }
  }
}

/* iPad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .home-carousel .carousel-inner {
    ul.slides > li.slide > div {
      height: $hero-height;
      .field-slidetext {
        width: 80%;
        top: 100px;
        font-size: 5em;
        left: 10%;
      }
      .field-slideimage img {
        height: $hero-height;
        width: auto;
        max-width: none;
        margin: 0 -50% !important;
      }
      .field-slidelink {
        bottom: 2em;
        left: 10%;
      }
    }
    div.nav {
      width: 150px;
      height: 280px;
      bottom: -5px;
      & > div.nav-items {
        margin: 15em 0 0 5em;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main .promo.promo-hero > div > div > div {
    left: calc(50% - 335px);
    bottom: 30px;
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main .promo.promo-hero > div > div > div {
    left: calc(50% - 470px);
    bottom: 30px;
    width: 970px;
  }
  div.promo-hero:after {
    width: 6em;
    height: 8em;
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  main .promo.promo-hero > div > div > div {
    left: calc(50% - 570px);
    bottom: 30px;
    width: 1170px;
  }
}

@supports (-ms-ime-align:auto) {
  .footer .footer-links-block > div.component-content li a {
    font-size: 13px;
  }
}



.site-search-results {
  padding-top: 100px;

  @include respond-to(mobile-large) {
    & > .component-content > .row > .col-sm-4 {
      float: none;
      width: auto;
    }
  }

  .search-result-list {
    font-size: 14px;
    .field-title {
      margin-bottom: 1em;  
      a {
        color: #50a1ab;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.875em;
        line-height: 0.9;

        @include respond-to(mobile-large) {
          font-size: 30px;
        }
      }    
    }
  
    li {
      padding: 1.25em 0;
      border-bottom: 1px solid #eee;
      display: flex;
      margin-bottom: 1em;
  
      .field-navigation-image {
        width: 150px;
        margin-left: 40px;
  
        img {
          width: 100%;
        }
      }

      @include respond-to(mobile-large) {
        display: block;
        margin-bottom: 2em;

        .field-navigation-image {
          margin-left: 0;
        }
      }
    }
  
    p {
      margin-bottom: 1.5em;
    }
  }
  
  .search-results-count {
    font-size: 14px;
  }
  
  .facet-title {
    font-size: 14px;
  
    label {
      font-weight: bold;
    }
  }
  
  .page-size select {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    padding: 0 0.5em;
    border: 1px solid #B1B3AC;
    box-shadow: 0 0 transparent;
  }
  
  .facet-single-selection-list {
    .facet-title {
      font-size: 1.875em;
      margin-top: 0.66667em;
      margin-bottom: 0.33333em;
    }
    .facet-heading {
      border: 0;
    }
  
    .facet-value {
      font-size: 16px;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 3px;
  
      &:hover {
        background-color: #eee;
      }
  
      .facet-count {
        font-weight: bold;
      }
    }

    @include respond-to(mobile-large){
      margin-bottom: 40px;
    }
  }
  
  .bottom-remove-filter {
    button {
      margin-top: 2em;
      border: none;
      background-color: #50a1ab !important;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 2em;
      line-height: 48px;
  
      &:hover {
        background: #50a1ab !important;
        opacity: 0.8;
      }
    }
  } 
}