@charset "UTF-8";
/* breakpoints */
.navigation {
  background: transparent;
  padding: 10px;
}

.navigation .level1 > .navigation-title > a, .navigation .level0 > .navigation-title > a {
  font-size: 18px;
  border-color: #50a1ab;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-right: 3px;
  margin-right: 5px;
}

.navigation .level1 > .navigation-title > a:hover, .navigation .level0 > .navigation-title > a:hover {
  text-decoration: none;
}

.navigation a {
  color: #141919;
}

.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #141919;
}

.navigation a:focus, .navigation a:hover {
  color: #141919;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #141919;
  text-decoration: none;
}

.navigation li > ul a {
  font-size: 14px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

/* breakpoints */
.navigation.navigation-fat {
  background: #FFFFFF;
  border: 1px solid #d2d2d2;
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}

.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top: 2px solid #50a1ab;
  border-bottom: 0;
  background: #f6f6f6;
  padding: 5px 10px;
  display: block;
  width: auto;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* breakpoints */
.navigation.navigation-main .component-content > nav {
  position: relative;
}

.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .rel-level1 {
  float: left;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a {
  border-color: #50a1ab;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
  border-color: transparent;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a:hover {
  border-color: #50a1ab;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 15px;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background: #f6f6f6;
  margin-left: 0;
  margin-top: -2px;
  border-top: 2px solid #50a1ab;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link, .navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #878787;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
  background: #f6f6f6;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a, .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  padding: 10px;
  border-right: 1px solid #d2d2d2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: auto;
  border-right: 1px solid #d2d2d2;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}

/* breakpoints */
.navigation.navigation-mobile nav > ul {
  border: none;
  border: 1px solid #d2d2d2;
}

.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #FFFFFF;
}

.navigation.navigation-mobile .rel-level1 > ul {
  padding-left: 25px;
  display: none;
  background: #f6f6f6;
}

.navigation.navigation-mobile .rel-level1 > ul li {
  position: relative;
}

.navigation.navigation-mobile .rel-level1 > ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title {
  border-bottom: 1px solid #50a1ab;
  margin: 0;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation.navigation-mobile .rel-level1 .navigation-title {
  padding: 10px;
}

.navigation.navigation-mobile .rel-level1 .navigation-title > a {
  text-decoration: none;
  color: #141919;
  display: inline;
}

.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}

.navigation.navigation-mobile .rel-level2 ul {
  display: none;
}

/* breakpoints */
.navigation.navigation-sidebar a {
  text-decoration: none;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title {
  margin-bottom: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title > a {
  padding: 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
  margin-right: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}

.navigation.navigation-sidebar nav > ul .rel-level2 {
  display: block;
}

/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
}

.megadrop {
  position: relative;
  display: inline-block;
  padding: 0;
  width: auto;
}

.megadrop .megadrop-icon {
  border-left: 1px solid #747776;
  border-right: 1px solid #747776;
  margin-top: 4px;
}

.megadrop .megadrop-icon:before {
  margin: 4px 0 0;
  padding-bottom: 4px;
  content: "";
  font-family: FontAwesome;
  font-size: 1.5em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  color: #50a1ab;
  height: 72px;
  width: 76px;
  line-height: 68px;
  vertical-align: top;
  cursor: pointer;
}

.megadrop .megadrop-nav {
  position: absolute;
  top: 80px;
  right: 0;
  width: -webkit-calc(100vw - 45px);
  width: calc(100vw - 45px);
  max-width: 1250px;
  padding: 0;
  display: none;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .megadrop .megadrop-nav {
    width: -webkit-calc(100vw - 35px);
    width: calc(100vw - 35px);
  }
}

@media only screen and (min-width: 1200px) {
  .megadrop .megadrop-nav {
    width: -webkit-calc(100vw - 110px);
    width: calc(100vw - 110px);
  }
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-nav {
    right: -5px;
    width: -webkit-calc(100vw);
    width: calc(100vw);
  }
}

.megadrop.open .megadrop-nav {
  display: block;
}

.megadrop.open .megadrop-icon {
  margin-top: 0;
}

.megadrop.open .megadrop-icon:before {
  border-top: 4px solid #612C72;
  background-color: #141919;
  content: "\f00d";
  margin: 0;
  height: 80px;
  line-height: 76px;
}

.megadrop nav {
  border-bottom: 4px solid #5b256d;
  background-color: #262C2B;
}

.megadrop nav > ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  width: 260px;
}

@media only screen and (max-width: 786px) {
  .megadrop nav > ul {
    width: auto;
    border-bottom: 0;
    padding-bottom: 15px;
  }
}

.megadrop nav > ul > li {
  text-align: left;
  line-height: 1.3;
}

.megadrop .megadrop-secondary-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  background-color: #141919;
  padding: 40px 30px;
  border-bottom: 4px solid #5b256d;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-content {
    padding: 20px 40px;
    border-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .megadrop .megadrop-secondary-content {
    padding: 40px 100px;
  }
}

.megadrop .megadrop-secondary-content .field-navigationtitle {
  margin-bottom: 1.875em;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-content .field-navigationtitle {
    margin-bottom: 1.3em;
  }
}

.megadrop .megadrop-secondary-content .field-navigationtitle a {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: #fefefe;
}

.megadrop .megadrop-secondary-content .field-navigationtitle a:after {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: inherit;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  content: "";
  font-size: 0.61538em;
  margin-left: 0.5em;
  font-weight: 400;
  line-height: 1.625;
  color: #1d8c96;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-content {
    position: relative;
    width: auto;
  }
}

.megadrop .megadrop-secondary-title-link {
  background: #272C2B;
}

.megadrop .megadrop-secondary-title-link > a {
  font-weight: 700;
  font-size: 20px;
  padding: 0.7em 0;
  margin: 0 0 0 20px;
  display: inline-block;
  color: #919494;
}

.megadrop .megadrop-secondary-title-link > a:focus {
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-title-link > a {
    font-size: 18px;
    margin: 0 0 0 40px;
    display: block;
  }
  .megadrop .megadrop-secondary-title-link > a:after {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: inherit;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    font-size: 0.7em;
    line-height: 1.42857;
    margin-left: 0.71429em;
    color: #1d8c96;
  }
}

.megadrop .megadrop-secondary-link .megadrop-secondary-title-link > a {
  font-weight: 400;
  font-size: 16px;
  padding: 0.375em 1.5em;
  display: block;
  color: #919494;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-link .megadrop-secondary-title-link > a {
    font-size: 16px;
    padding-left: 0;
  }
}

.megadrop li.active .megadrop-secondary-content {
  display: block;
}

.megadrop li.active .megadrop-secondary-title-link {
  background-color: #141919;
}

.megadrop li.active .megadrop-secondary-title-link > a {
  color: white;
}

.megadrop li.active .megadrop-secondary-title-link > a:after {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: inherit;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 0.7em;
  line-height: 1.42857;
  margin-left: 0.71429em;
  color: #1d8c96;
}

@media only screen and (max-width: 786px) {
  .megadrop li.active .megadrop-secondary-title-link {
    border-bottom: 1px solid #1d8c96;
  }
  .megadrop li.active .megadrop-secondary-title-link > a:after {
    content: "";
  }
}

.megadrop .megadrop-secondary-main {
  margin: 0 -15px 30px;
}

.megadrop .megadrop-secondary-main > li {
  float: left;
  padding: 0 15px;
  width: 33.3333%;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-main > li {
    float: none;
    width: auto;
    margin-bottom: 15px;
  }
  .megadrop .megadrop-secondary-main > li:after {
    content: "";
    display: table;
    clear: both;
  }
}

.megadrop .megadrop-secondary-main-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-main-image {
    width: 15%;
    float: left;
  }
}

@media (max-width: 480px) {
  .megadrop .megadrop-secondary-main-image {
    display: none;
  }
}

.megadrop .megadrop-secondary-main-link {
  margin-top: 6px;
}

.megadrop .megadrop-secondary-main-link a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 786px) {
  .megadrop .megadrop-secondary-main-link {
    width: 85%;
    float: left;
  }
  .megadrop .megadrop-secondary-main-link a {
    padding-left: 20px;
    display: inline-block;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .megadrop .megadrop-secondary-main-link {
    width: auto;
    float: none;
  }
  .megadrop .megadrop-secondary-main-link a {
    padding-left: 0;
  }
}

.megadrop .tags {
  border-top: 1px solid rgba(114, 203, 201, 0.3);
  margin-top: 20px;
  padding: 8px 0;
}

.megadrop .tags > span {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.megadrop .tags ul {
  display: inline-block;
}

.megadrop .tags .megadrop-secondary-main-link {
  display: inline-block;
  margin: 0 0 0 8px;
}

.megadrop .tags .megadrop-secondary-main-link a {
  font-weight: 400;
  font-size: 16px;
}

.megadrop .tags .megadrop-secondary-main-link a:after {
  content: '|';
  color: #1d8c96;
  font-size: 18px;
  margin-left: 12px;
}

.megadrop .tags .megadrop-secondary-main-link:last-child a:after {
  display: none;
}

@media only screen and (max-width: 786px) {
  .megadrop .tags .megadrop-secondary-main-link {
    float: none;
    width: auto;
  }
  .megadrop .tags .megadrop-secondary-main-link a {
    padding-left: 0;
  }
}

/*
.megadrop {
  display: inline-block;
  width: auto;
  .megadrop-navbar ul li.megadrop-secondary-link div.megadrop-secondary-title-link a {
    font-weight: 300;
  }

  .megadrop-icon {
    font-size: 20px;
    padding: 24px 30px 24px 30px;
    border-left: 1px solid #747776;
    border-right: 1px solid #747776;
    color: #50a1ab;
    margin-top: 5px;

    @include respond-to(mobile-large) { 
      transform: translateY(-81px);
    }

  }

  &.open .megadrop-icon {
    background-color: $bg-footer;
    border-top: 5px solid $purple;
    margin-top: 0;
    i:before {
      content: "\f00d"
    }
  }
  &.open .megadrop-navbar {
    display: block;
  }
  .megadrop-navbar {
    display: none;
    position: absolute;
    top: $header-height;
    left: 30px; //twice default bootstrap margin, padding
    width: calc(100% - 60px);
    background: $bg-footer;

    @include respond-to(mobile-large) {
      left: auto;
      right: 0;
      width: 100%;
    }
    ul {
      position: relative;
    }
    ul li {
      div.megadrop-secondary-title-link {
        width: $megadrop-link-width;
        display: inline-block;
        a {
          font-weight: 700;
          font-size: $font-big;
          padding: 0.7em 1.2em;
          display: block;
          color: $megadrop-link;
          background: #272C2B;
        }
      }
      div.megadrop-secondary-content {
        width: calc(100% - 260px);
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        &-inner {
          background-color: #141919;
          //padding: 40px 80px;
          padding: 2.5em 2.849%;
          h2 {
            margin-bottom: 1.875em;
            padding: 0 10px;
            & > a {
              font-size: 1.625em;
              line-height: 1;
              font-weight: 700;
              color: #fefefe;
            }
            &:after {
              font-style: normal;
              font-variant: normal;
              font-stretch: normal;
              line-height: inherit;
              font-family: FontAwesome;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              display: inline-block;
              vertical-align: text-bottom;
              content: "";
              font-size: inherit;
              margin-left: 0.5em;
              font-weight: 400;
              color: #1d8c96;
            }
          }
        }
      }
    }
    ul li.active {
      div.megadrop-secondary-title-link {
        background: $bg-footer;
        a {
          color: #fff;
          background: $bg-footer;
          &:after {
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f054";
            font-size: 0.7em;
            line-height: 1.42857;
            margin-left: 0.71429em;
            color: #1d8c96;
          }
        }
      }
      div.megadrop-secondary-content {
        display: inline-block;
      }
    }
  }
  ul.megadrop-secondary-main {
    & > li {
      width: 33.3333%;
      float: left;
      padding: 10px;
      a {
        font-size: 1.625em;
        line-height: 1;
        font-weight: 700;
        color: #fefefe;
      }
    }
    .megadrop-secondary-main-image {
      width: 100%;
      height: 180px;
      overflow: hidden;
      img {
        min-height: 100%;
        height: auto;
        width: 100%;
      }
    }
    .megadrop-secondary-main-link {
      margin: 1em 0;
    }
  }
  .tags {
    border-top: 1px solid rgba(114, 203, 201, 0.3);
    padding: 20px 10px;
    color: #fefefe;
    width: 100%;
    font-size: $font-medium;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid rgba(114, 203, 201, 0.3);
        a {
          display: block;
          color: #fefefe;
          font-size: 1em;
          font-weight: 400;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
*/
@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /*
  .megadrop {
    .megadrop-navbar {
      width: 100%;
      left: 0;
      padding: 0;
      ul li {
        div.megadrop-secondary-title-link {
          display: block;
          width: 100%;
        }
        &.active {
          & > div {
            border-bottom: 1px solid rgba(114, 203, 201, 0.3);
          }
          div.megadrop-secondary-content {
            display: block;
            width: 100%;
            position: static;
          }
        }
        div.megadrop-secondary-content-inner {
          padding: 1em;
        }
      }
    }
    ul.megadrop-secondary-main > li {
      width: 100%;
      display: block;
      .megadrop-secondary-main-image {
        height: auto;
        img {
          display: none;
        }
      }
    }
  }
  .megadrop .megadrop-navbar ul li div.megadrop-secondary-title-link a:after {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    font-size: 0.7em;
    line-height: 1.42857;
    margin-left: 0.71429em;
    color: #1d8c96;
  }
  .megadrop .megadrop-navbar ul li.active div.megadrop-secondary-title-link a:after {
    content: "\f078";
  }*/
}
