/* breakpoints */
.page-list {
  background-color: transparent;
}

.page-list .item {
  border-bottom: 1px solid #50a1ab;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000;
}

.page-list .field-title {
  font-weight: bold;
}
