@charset "UTF-8";
/* breakpoints */
.form {
  margin: 10px 0;
  font-size: 14px;
  overflow: hidden;
}

.form table {
  width: 100%;
}

.form .scfSectionContent > div {
  margin: 5px 0 0 0;
  padding: 0;
}

.form .scfSectionContent > div ~ div {
  margin: 0;
}

.form .scfSectionContent > div > label, .form .scfSectionContent > div > div {
  width: 100%;
  display: block;
  padding: 0;
}

.form .scfRequired {
  display: none !important;
}

.form fieldset {
  border: 1px solid #d2d2d2;
  padding: 15px;
  margin: 10px 0;
  position: relative;
}

.form fieldset legend {
  font-weight: 700;
  padding: 0 5px;
  font-size: 16px;
  position: absolute;
  top: -33px;
  background: #fff;
  left: 0;
}

.form .scfSectionContent > div {
  box-sizing: border-box;
  margin: 15px 0;
  border: 1px dashed gray;
  padding: 10px;
  position: relative;
}

.form .scfSectionContent > div:after {
  clear: both;
  content: "";
  display: block;
}

.form .scfSectionContent > div:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
  opacity: 1;
}

.form .scfSectionContent > div select, .form .scfSectionContent > div input {
  margin-left: 5px;
}

.form .scfSectionContent [class$="UsefulInfo"] {
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
  box-sizing: border-box;
  opacity: 0;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  border: 1px solid #d2d2d2;
  left: 0px;
  top: -15px;
  padding: 4px 8px;
  max-width: 98%;
  width: auto;
  background-color: #F5F5F5;
  color: #808080;
}

.form input, .form select, .form textarea {
  border: 1px solid #d2d2d2;
  padding: 2px 4px;
  max-width: 98%;
}

.form .scfCaptcha input[type="text"] {
  margin: 0;
}

.form .scfCaptchaLimitGeneralPanel, .form .scfCaptchStrongTextPanel {
  max-width: 100%;
  width: auto;
}

.form .scfCaptchaLabel {
  display: none;
}

.form .scfSectionContent .scfCaptchaGeneralPanel embed {
  max-width: 180px;
}

.form input[type="image"] {
  border: none;
}

.form input[type="submit"], .form button {
  border: 1px solid #d2d2d2;
  background: #FFFFFF;
  cursor: pointer;
  margin-left: 0;
}

.form input[type="text"], .form input[type="password"], .form textarea, .form input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #d2d2d2;
  width: 95%;
  padding: 2px;
}

.form input[type="text"] + span, .form input[type="password"] + span, .form textarea + span, .form input[type="file"] + span {
  display: inline-block;
  vertical-align: middle;
}

.form input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form input[type="radio"] {
  position: absolute;
}

.form input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
}

.form input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: image-url("radiobox.png");
}

.form input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

.form input[type="radio"] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
  margin-left: 5px;
  position: relative;
}

.form select {
  border: 1px solid #d2d2d2;
  max-height: 30px;
  position: relative;
  text-indent: 2px;
}

.form .scfListBox {
  background: none;
  max-height: none;
}

.form .scfDateSelectorDay, .form .scfDateSelectorMonth, .form .scfDateSelectorYear {
  width: 30%;
}

.form.hints-below .scfSectionContent [class$="UsefulInfo"] {
  position: static;
  opacity: 1;
  max-width: 100%;
  width: 100%;
  margin: 5px 0 0 5px;
}

.form.labels-above label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
}

.form.labels-above .scfEmailGeneralPanel, .form.labels-above .scfMultipleLineGeneralPanel, .form.labels-above .scfSingleLineGeneralPanel, .form.labels-above .scfPasswordGeneralPanel, .form.labels-above .scfNumberGeneralPanel, .form.labels-above .scfDatePickerGeneralPanel, .form.labels-above .scfListBoxGeneralPanel, .form.labels-above .scfDropListGeneralPanel, .form.labels-above .scfDateGeneralPanel, .form.labels-above .scfRadioButtonListGeneralPanel, .form.labels-above .scfCheckBoxListGeneralPanel, .form.labels-above .scfFileUploadGeneralPanel, .form.labels-above .scfDateSelectorGeneralPanel, .form.labels-above .scfCreditCardGeneralPanel, .form.labels-above .scfConfirmPasswordGeneralPanel, .form.labels-above .scfCaptchaGeneralPanel, .form.labels-above .scfTelephoneGeneralPanel, .form.labels-above .scfSmsTelephoneGeneralPanel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 93%;
}

.form.labels-above .scfSectionContent .scfRequired {
  margin: 0 5px;
}

.form.labels-above .scfMultipleLineGeneralPanel {
  width: 95%;
}

.form.labels-above .scfMultipleLineTextBox {
  margin: 0 0 0 5px;
}

/*
Standard Form Styles
*/
.sitecore-form .component-content {
  font-size: 16px;
  line-height: 24px;
}

.sitecore-form h2, .sitecore-form h3 {
  color: #1B909C;
}

.sitecore-form-intro {
  font-size: 20px;
  line-height: 32px;
}

.sitecore-form-standard {
  margin-bottom: 100px;
}

.sitecore-form-standard label {
  font-weight: bold;
}

.sitecore-form-standard label:disabled {
  color: #B1B3AC;
  opacity: 0.8;
}

.sitecore-form-standard label,
.sitecore-form-standard input,
.sitecore-form-standard select {
  font-size: 16px;
  line-height: 41px;
}

.sitecore-form-standard input[type='text'],
.sitecore-form-standard input[type='tel'],
.sitecore-form-standard input[type='date'],
.sitecore-form-standard input[type='number'],
.sitecore-form-standard input[type='email'],
.sitecore-form-standard input[type='password'],
.sitecore-form-standard select {
  border: 1px solid #B1B3AC;
  height: 41px;
  line-height: 41px;
  padding: 0 15px;
  display: block;
  width: 100%;
  text-align: left !important;
}

.sitecore-form-standard input[type='text']:disabled,
.sitecore-form-standard input[type='tel']:disabled,
.sitecore-form-standard input[type='date']:disabled,
.sitecore-form-standard input[type='number']:disabled,
.sitecore-form-standard input[type='email']:disabled,
.sitecore-form-standard input[type='password']:disabled,
.sitecore-form-standard select:disabled {
  background-color: white;
  color: #B1B3AC;
  border-color: #B1B3AC;
  opacity: 0.8;
}

.sitecore-form-standard option {
  text-align: left !important;
}

.sitecore-form-standard textarea {
  border: 1px solid #B1B3AC;
  padding: 0 15px;
  display: block;
  width: 100%;
  text-align: left !important;
}

.sitecore-form-standard input[type='submit'],
.sitecore-form-standard button {
  background-color: #1B909C;
  color: white;
  border: none;
  text-transform: uppercase;
  line-height: 55px;
  font-weight: bold;
  padding: 0 60px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 1em 0;
}

.sitecore-form-standard input[type='submit']:not(:disabled):hover,
.sitecore-form-standard button:not(:disabled):hover {
  opacity: 0.8;
}

.sitecore-form-standard input[type='submit']:disabled,
.sitecore-form-standard button:disabled {
  background: #B1B3AC;
}

.field-group {
  width: 100%;
  max-width: 400px;
  margin: 15px auto 30px;
  text-align: left;
}

.field-group label {
  display: block;
  text-align: left !important;
}

.field-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.field-group-inline .field-group {
  margin: 0;
  width: auto;
  max-width: inherit;
}

.field-group-inline .field-group input {
  width: 100%;
}

.checkcontainer {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 30px;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkcontainer .checkmark {
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 20px;
  width: 20px;
  border: 1px solid #B1B3AC;
}

.checkcontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 5px;
  width: 8px;
  height: 15px;
  border: solid #1B909C;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkcontainer input:checked + .checkmark:after {
  display: block;
}

.checkcontainer input[type='radio'] + .checkmark {
  border-radius: 50%;
}

.checkcontainer input[type='radio'] + .checkmark:after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #1B909C;
}

.content-finder form {
  margin: 1em 0;
}

.content-finder form input.btn-next, .content-finder form input.btn-previous {
  display: inline-block;
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
  color: #141919;
  border: 1px solid #141919;
  padding: 1.28571em 3em;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  min-width: 17.14286em;
  margin: 1em 0;
  background: #1B909C;
  color: #fff;
  border: 0;
}

.content-finder form .col-right > input[type="radio"] {
  position: absolute;
  z-index: -100;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.content-finder form .col-right > label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  position: relative;
  border: 1px solid #D8D9D5;
  background: -webkit-linear-gradient(282.57deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(167.43deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: rgba(216, 217, 213, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 31%;
  min-height: 160px;
  margin: 0 0 20px 1.8%;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: border-color .2s ease-out, background-color .2s ease-out;
  transition: border-color .2s ease-out, background-color .2s ease-out;
}

.content-finder form .col-right > label:before {
  color: #1B909C;
  font-family: "SitecoreDemoIcons";
  font-weight: normal;
  display: block;
  font-size: 84px;
  line-height: 1;
}

.content-finder form .col-right > input[type="radio"]:checked + label {
  background: #1B909C;
  color: white;
}

.content-finder form .col-right > input[type="radio"]:checked + label:before {
  color: white;
}

.content-finder form label.content-finder-label {
  display: none;
}

.content-finder form h3.question-title {
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 15px 0 0 0;
  border: none;
  color: #1B909C;
  box-shadow: 0 2px 4px 0 transparent;
  margin-bottom: 65px;
  background: transparent;
}

.content-finder form .columns:after {
  content: "";
  display: table;
  clear: both;
}

.content-finder form .col-left {
  float: left;
  width: 33%;
  padding-right: 20px;
}

.content-finder form .col-right {
  float: left;
  width: 66%;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .content-finder form h3.question-title {
    margin-bottom: .625em;
  }
  .content-finder form .col-left,
  .content-finder form .col-right {
    float: none;
    width: auto;
  }
}

@media only screen and (max-width: 380px) {
  .content-finder form h3.question-title {
    margin-bottom: .625em;
  }
  .content-finder form .col-left,
  .content-finder form .col-right {
    float: none;
    width: auto;
  }
  .content-finder form .col-right > .field-group > label {
    display: block;
    width: auto;
  }
  .content-finder form label.content-finder-label {
    display: none;
  }
}

.content-finder form label.one-two-days:before {
  content: "";
}

.content-finder form label.three-four-days:before {
  content: "";
}

.content-finder form label.five-or-more:before {
  content: "";
}

.content-finder form label.aerobics:before {
  content: "";
}

.content-finder form label.cardio:before {
  content: "";
}

.content-finder form label.low:before {
  content: "";
}

.content-finder form label.medium:before {
  content: "";
}

.content-finder form label.high:before {
  content: "";
}

.content-finder form label.strength:before {
  content: "";
}

.content-finder form label.weight-lifting:before {
  content: "";
}

.content-finder form label.yoga:before {
  content: "";
}

.content-finder form label.smart-home:before {
  content: "";
}

.content-finder form label.child-safety:before {
  content: "";
}

.content-finder form label.energy-efficiency:before {
  content: "";
}

.content-finder form label.newest-coolest:before {
  content: "";
}

.content-finder form label.over-clocking:before {
  content: "";
}

.content-finder form label.n-a:before {
  content: "";
}

.content-finder form label.bedroom:before {
  content: "";
}

.content-finder form label.entire-house:before {
  content: "";
}

.content-finder form label.kitchen:before {
  content: "";
}

.content-finder form label.laundry:before {
  content: "";
}

.content-finder form label.living-room:before {
  content: "";
}

.content-finder form label.office:before {
  content: "";
}

.content-finder form label.theater-room:before {
  content: "";
}

.content-finder form label.appliances:before {
  content: "";
}

.content-finder form label.cameras:before {
  content: "";
}

.content-finder form label.desktops-laptops:before {
  content: "";
}

.content-finder form label.fitness-tech:before {
  content: "";
}

.content-finder form label.gaming:before {
  content: "";
}

.content-finder form label.phones-tablets:before {
  content: "";
}

.content-finder form label.tv-audio:before {
  content: "";
}

.content-finder form .help-block {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  color: black;
  margin: 0 0 1.5em;
}

.content-finder form .help-block:first-child {
  margin-top: 0;
}

.content-finder form .help-block-subtext {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.form-submit-border {
  border-bottom: 1px solid #D8D9D5;
  text-align: center;
  margin-bottom: 100px;
}

.form-submit-border .btn-next {
  position: relative;
  bottom: -40px;
}

.help-block {
  font-size: 1.5em;
  font-weight: 700;
  clear: both;
}

.newsletter-form {
  background: url("/-/media/Project/Habitat Sites/Habitat Home/Images/Home/01-Home-05-ImageCTA.jpg");
  padding: 5em;
  font-size: 24px;
}

.newsletter-form > div.component-content {
  background: #fff;
  padding: 2em;
}

.newsletter-form form {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 0;
}

.newsletter-form form h3 {
  margin-bottom: 36px;
  font-size: 36px;
  color: #1B909C;
  text-align: center;
}

.newsletter-form form label {
  display: none;
}

.newsletter-form form input[data-sc-field-name="Email"] {
  height: 48px;
  width: 250px;
  margin: auto;
  font-size: 16px;
  padding: 0 10px;
}

.newsletter-form form input[type="submit"] {
  height: 48px;
  padding: 0 30px;
  font-size: 16px;
  background-color: #50a1ab;
  color: #fefefe;
  border: 1px solid #50a1ab;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 1.28571;
  font-weight: 700;
  border-radius: 0;
  text-transform: uppercase;
}

.login-panel {
  font-size: 14px;
}

.login-panel .row.column-splitter > div.form-panel {
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid #B1B3AC;
}

.login-panel .row.column-splitter > div.form-panel .article-content {
  margin-left: -15px;
  display: block;
}

.login-panel .row.column-splitter > div.form-panel .article-content .component-content {
  padding: 0;
  margin-bottom: 2em;
}

.login-panel .row.column-splitter > div.form-panel .article-content .component-content h4 {
  font-size: 40px;
  line-height: 1.125;
  font-weight: 700;
  margin: 0;
  color: #1B909C;
}

.login-panel .row.column-splitter > div.form-panel .article-content .component-content p {
  font-weight: 400;
  color: #B1B3AC;
}

.login-panel .row.column-splitter > div.form-panel form {
  max-width: 80%;
  position: relative;
}

.login-panel .row.column-splitter > div.form-panel form.form-signin {
  margin: 1em 0;
}

.login-panel .row.column-splitter > div.form-panel form.form-signin button {
  background-color: #1073C3;
  color: #fff;
}

.login-panel .row.column-splitter > div.form-panel form.form-signin button i {
  color: #1073C3;
  background-color: #fff;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 2px;
}

.login-panel .row.column-splitter > div.form-panel form.form-signin:first-of-type button {
  background-color: #4A63A2;
  color: #fff;
}

.login-panel .row.column-splitter > div.form-panel form.form-signin:first-of-type button i {
  color: #4A63A2;
  background-color: #fff;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 2px;
}

.login-panel .row.column-splitter > div.new-customers {
  padding-left: 30px;
}

.login-panel .row.column-splitter > div.new-customers .promo {
  padding: 0;
}

.login-panel .row.column-splitter > div.new-customers .promo > div > div {
  width: 100%;
}

.login-panel .row.column-splitter > div.new-customers .promo > div > div h3 {
  font-size: 40px;
}

.form-container .rich-text h1 {
  font-size: 36px;
  line-height: 1.07692;
  font-weight: 700;
  color: #1B909C;
  margin-bottom: 36px;
}

@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  main .title .field-title a {
    margin: 20px 0;
    padding: 0 15px;
    font-size: 3em;
  }
  main .main-title-centered p {
    font-size: 24px;
    text-align: left;
    padding: 0 15px;
    line-height: 1.2;
  }
  main .content-finder form label.content-finder-label {
    padding: 0 15px;
    float: none;
    width: 100%;
  }
  main .content-finder form > label {
    width: -webkit-calc(50% - 22px);
    width: calc(50% - 22px);
    margin: 10px;
    padding: 80px 0 0 0;
    min-height: 120px;
  }
  main .content-finder form > label:nth-of-type(3n+2) {
    clear: none;
  }
}
