    @import '../../index';
.cxa-add-to-wishlist-component {
    button {
        border: 2px solid #0e909f;
        font-size: 14px !important;
        font-weight: 400;
        text-align: center !important;
        background: #0e909f;
        color: #fff !important;
        text-shadow: none;
        box-shadow: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 0;
        min-height: 42px;
        height: 42px;
        padding: 8px 25px 8px 25px;
        min-width: 150px;

    }
}