@import '../../index';
.cxa-addresseditor-component {
    a,
    button {
        min-height: $control-large-height;
    }
    a {
        padding-top: 8px;
    }
    .address-edit-section {
        @include horizontal-form-layout(3);
        .set-primary {
            margin-top: 15px;
            @include row-of-elements-packed(false, false, 10px);
        }
        @include form-primary-style();
        @include respond-to($md) {
            width: 100%;
            display: block;
        }
        &>* {
            @include respond-to($md) {
                width: 100%;
            }
        }
    }
    .address-selector-section {
        @include horizontal-form-layout(3);
        margin-bottom: 15px;
        @include form-primary-style();
        &>* {
            @include respond-to($md) {
                width: 100%;
            }
        }
    }
    .set-primary {
        label {
            align-self: center !important;
        }
    }
    .address-buttons-section {
        margin-top: 30px;
        @include row-of-elements-packed(true, false, 15px);
        @include justify-elements($packed-toward-end);
        a,
        button {
            margin-top: $margin;
        }
        .save-addresss-button {
            order: 4;
            @include primary-button-filled();
        }
        .delete-address-button {
            order: 2;
            @include error-button-line();
        }
        .cancel-edit-button {
            order: 3;
            @include primary-button-line();
            padding-top: 8px;
        }
        .back-to-my-account {
            order: 1;
            @include push-element-to-left();
            @include secondary-button-line();
            padding-top: 8px;
        }
        @include respond-to($md) {
            width: 100%;
            display: block;
        }
        &>* {
            @include respond-to($md) {
                width: 100% !important;
            }
        }
    }
}