//@import "../../mixins/index";
@import "../../abstracts/_mixins.scss";

.product-items-block {
    margin-bottom: 100px;

    .catalog-item-container {
        padding: 0 1em;
        .component-content{
            //@include clearfix;    
        }    

        .cxa-productimages-component {
            padding: 0;
        }

        .product-image {
            padding: 0;
        } 

        .product-images {
            display: none;
        }

        .cxa-productinformation-component .component-content .product-name h1{
            font-size: 20px;
            margin: 1.5em 0;
        }

        .product-description {
            font-size: 16px !important;
            border-top: 0 !important;
            margin-bottom: 0;
        }

        .cxa-addtocart-component .add-to-cart-button {
            margin-left: 0;
        }

        .cxa-addtocart-component form {
            flex-wrap: wrap;
        }             
    }

    @include respond-to(mobile-large) {        

        .row [class*='col-']{
            width: 100% !important;
            float: none !important;    
            padding: 0.5em;
        }
    }   
}
