@import '../../index';

.cxa-changepassword-component {    
    form {
        input {
            border-radius: 0;
        }
        @include vertical-form-layout();
        .changepassword-buttons {
            @include row-of-elements-wide-apart();
            @include respond-to($md){
                flex-direction: column-reverse;
            }

            button {
                @include primary-button-filled();
                @include large-height();
                width:200px;
                @include respond-to($md){
                    width: 100%;
                    flex: 1;
                }
            }

            a{
                margin-bottom: 0;
                margin-right: $margin/3;
                @include primary-button-line();
                @include large-height();
                width:200px;
                @include respond-to($md){
                    width: 100%;
                    flex: 1;
                    margin-right: 0;
                    margin-top: $margin;
                }
            }
        }
        @include form-primary-style();
    }
}