@import '../../index';
.component.cxa-checkoutdelivery-component {
    .delivery-form {
        margin-bottom: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .addrss-form {
        @include horizontal-form-layout(2);
        >div {
            margin-bottom: 15px;
        }
    }
    .shipall-title {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .buttons-row {
        margin-top: 25px;
        @include row-of-elements-wide-apart(true);
    }
    .shipall-options-title {
        margin-bottom: 15px;
    }
    .shipall-options {
        @include form-section();
        border-bottom: none;
        padding-bottom: 0px;
        .shipall-options-item {
            margin-top: 15px;
            @include row-of-elements-wide-apart(false);
        }
    }
    .shipall-addresses {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .shipping-option {
        @include row-of-elements-packed(false,$margin/3);
        input{
            @include align-element($center);
        }
        label {
            @include align-element($center);
            margin-left: $margin/3;
        }
    }
    .delivery-option-item{
        .delivery-item-header{
            margin-bottom: $margin;
            .ship-option-select{
                @include horizontal-form-layout(2);
            }
            .product-image-info{
                @include row-of-elements-packed(false,$center,$margin/3);
                .product-info{
                    h5{
                        font-size:$font-size-medium;
                        font-weight: 600;
                        color:$heading-color;
                    }
                }
            }
        }
        .delivery-item-content{
            .address-form{
                @include horizontal-form-layout(2);
                .shipall-addresses-title{
                    flex-basis: 100%;
                }
                .shipall-addresses{
                    flex-basis:100%;
                }
                > div > *{
                    width:100%;
                }
            }
            
        }
        .send-byemail-tome{
            margin-bottom: $margin;
            margin-top: $margin;
        }
        .delivery-item-status{
            margin-bottom: 25px;
        }
    }
    .shipbymail-section{
        @include horizontal-form-layout(1);
        >div {
            margin-bottom: 15px;
            input[type="text"]{
                width:50%;
            }
            textarea{
                width:50%;
            }
        }
        .send-byemail-title{
            flex-basis: 100%;
        }
    }
  
}

.component.cxa-checkoutdelivery-component {
    label {
        font-weight: 600;
    }
    .shipall-title {
        display: none;
        
    }
    h3{
        @include secondary-title();
    }
    .delivery-form {
        @include form-section();
        .delivery-form-header {
            p {
                @include convertToSentenceCase();
                @include label();
            }
        }
    }
    .delivery-options {
        .delivery-option-header {
            h1 {
                font-size: 16px;
                color: $secondary-color;
                @include convertToSentenceCase();
            }
        }
    }
    .delivery-item-header {

        .product-image-info {
            .product-info {
                text-align: left;
                h5 {
                    font-size: 12px;
                    font-weight: 100;
                }
            }
        }
    }
    .shipall-section {
        .shipall-options {
            
            .shipall-options-toggle {
                button {
                    @include primary-button-line();
                }
            }
        }
        .addrss-form{
            @include form-section();
        }
    }
    .btn-delivery-prev {
        @include primary-button-line();
        @include large-height();
    }
    .btn-delivery-next {
        @include primary-button-filled();
        @include large-height();
    }
}