@import '../../index';
.component.cxa-checkoutbilling-component {
    .component-content {
        @include column-of-elements-wide-apart(false, $top-or-left);
        >* {
            width: 100%;
        }
    }
    .contact-info-section {
        @include form-section();
        .contact-info-form {
            //@include horizontal-form-layout(2);
            display: flex;
            flex-flow: column;
            flex-direction: column;
            width: 400px;

            & > div {
                display: flex;
                flex-flow: column;
                flex-direction: column;
                margin-bottom: 20px;
            }
        }
        h4 {
            margin: 0 0 1em;
        }
    }
    .apply-credit-card-toggle {
        display: block;
        margin-bottom: $margin;
    }
    .credit-card-payment-section {
        .credit-card-payment-form {
            @include column-of-elements-wide-apart(false, $top-or-left);
            .payment-method {
                @include horizontal-form-layout(2);
                @include align-elements($top-or-left);
                width: 100%;
                .payment-amount {
                    @include vertical-form-layout();
                    .validate-payment-btn {
                        @include align-element($bottom-or-right);
                    }
                    order: 1;
                }
                .show-payment {
                    width: 100%;
                }
            }
        }
        .billing-paycard-container,
        .billing-address-container {
            @include form-section();
            @include vertical-form-layout();
            .billing-addresss-details {
                @include horizontal-form-layout(2);
            }
        }
    }
    .apply-gift-card-toggle {
        display: block;
        margin-bottom: $margin;
    }
    .apply-gift-card-section {
        @include form-section();
        @include column-of-elements-wide-apart(false, $top-or-left);
        .apply-gif-card-content {
            @include vertical-form-layout();
            .apply-gif-card-balance {
                
                @include row-of-elements-packed(false, $bottom-or-right, 10px);
                .payment-method-id-textbox {
                    width: 355px;
                }
            }
            .apply-gif-card-amount {
                @include row-of-elements-packed(false, $bottom-or-right, 10px);
                .payment-amount-textbox {
                    width: 355px;
                }
                .payment {
                    @include row-of-elements-packed(false, $top-or-left, $margin/3);
                }
                @include form-seperator();
            }
            .giftcard-status {
                @include row-of-elements-packed(false, $bottom-or-right,10px);
                .applied-gift-card-info {
                    @include row-of-elements-packed(false, $bottom-or-right);
                    span {
                        border-radius: 0; 
                    }
                }
            }
        }
    }
    .billing-summary {
        @include form-section();
        @include horizontal-form-layout(2);
        @include align-elements($top-or-left);
        font-size: 16px;

        h4 {
            width: 100%;
        }
        .billing-payment-summary {
            @include vertical-form-layout();
            @include align-elements($top-or-left);
            .payment-summary {
                @include row-of-elements-wide-apart(false, $center);
                margin-bottom: 24px;
            }
        }
        .billing-total-summary {
            @include vertical-form-layout();
            @include align-elements($top-or-left);
            .order-summary {
                @include row-of-elements-wide-apart(false, $center);
                margin-bottom: 24px;
            }
        }
    }
    .buttons-row {
        @include form-section();
        @include row-of-elements-wide-apart(false, $center);
        margin: 40px 0 0;
        padding: 0;
        border: 0;
    }
}

.component.cxa-checkoutbilling-component {
    h4 {
        //@include secondary-title();
        font-size: 24px;
        color: #0e909f;
        padding-bottom: 1em;
        border-bottom: 1px solid #e2e3e5;
        margin: 1em 0 0.5em;
        text-transform: capitalize;
    }
    label {
        color: #141919 !important;
    }
    input, select {
        border-radius: 0 !important;
    }
    .billing-discount{
        color: $error-second-color !important;
    }
    .contact-info-form {
        @include form-primary-style();
    }
    .apply-credit-card-toggle {
        @include link();
        &:before {
            @include sc-icon($scxa-down);
            font-size: $font-size-xsmall;
        }
    }
    .apply-credit-card-toggle.open {
        &:before {
            @include sc-icon($scxa-up);
            font-size: $font-size-xsmall;
        }
    }
    .credit-card-payment-section {
        .payment-amount {
            @include form-primary-style();
            .validate-payment-btn {
                //@include primary-button-filled();
                //@include large-height();
                background-color: #0e909f;
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 18px;
                height: 34px;
                padding: 0 20px;
            }
        }
        .billing-paycard-container,
        .billing-address-container {
            .billing-addresss-details {
                @include form-primary-style();
            }
        }
    }
    .apply-gift-card-toggle {
        @include link();
        &:before {
            @include sc-icon($scxa-down);
            font-size: $font-size-xsmall;
        }
    }
    .apply-gift-card-toggle.open {
        &:before {
            @include sc-icon($scxa-up);
            font-size: $font-size-xsmall;
        }
    }
    .apply-gift-card-section {
        .apply-gif-card-content {
            .apply-gif-card-balance {
                @include form-primary-style();
                .payment-get-balance {
                    button {
                        background-color: white;
                        color: #141919;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 18px;
                        height: 34px;
                        padding: 0 20px;
                        border: 1px solid #141919;
                    }
                }
            }
            .apply-gif-card-amount {
                @include form-primary-style();
                .payment {
                    .apply-full-amount-btn {
                        //@include primary-button-line();
                        background-color: white;
                        color: #141919;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 18px;
                        height: 34px;
                        padding: 0 20px;
                        border: 1px solid #141919;
                    }
                    .gift-card-payment-btn {
                        //@include primary-button-filled();
                        background-color: #0e909f;
                        color: white;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 18px;
                        height: 34px;
                        padding: 0 20px;
                    }
                }
            }
            .giftcard-status {
                .applied-gift-card-info {
                    >span:first-child {
                        display: none;
                    }
                    .giftcard-payment-number,
                    .giftcard-aplied-amount {
                        @include text-input();
                        background-color: $secondary-background-color;
                        width: 175px;
                        border-radius: 0;
                        margin-right: 1em;
                    }
                    .giftcard-payment-number+span {
                        display: none;
                    }
                }
                .remove-gift-card-link {
                    @include error-button-line();
                    width: 120px;
                    border-radius: 0;
                }
            }
        }
    }
    .billing-summary {
        .payment-total {
            @include highlighted-text();
        }
        .billing-payment-summary {
            .payment-summary {
                >div {
                    >span {
                        @include highlighted-text();
                    }
                }
            }
        }
        .billing-total-summary {
            .order-summary {
                border-bottom: 1px solid #e2e3e5;
                margin-bottom: 20px;
                padding-bottom: 20px;
                >span:last-child {
                    //@include highlighted-text();
                }

                &.order-summary-total {
                    border-bottom: 0;

                    span:last-child {
                        font-weight: bold;
                    }
                }
            }
            .order-summary-discount {
                color: $error-second-color;
            }
        }
    }
    .buttons-row {
        .previous-button,
        .to-confirm-button {
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
            line-height: 48px;
            border-radius: 0;
            text-transform: uppercase;
            padding: 0 2em;
            text-align: center;
        }
        .previous-button {
            background-color: white;
            color: #141919;
            &:before {
                font-family: FontAwesome;
                content: '\f053';
                margin-right: 1em;
            }
        }
        .to-confirm-button {
            color: white;
            background-color: #0e909f;
            &:after {
                font-family: FontAwesome;
                content: '\f054';
                margin-left: 1em;
            }
        }
    }
}