@import '../../index';
@import '../../abstracts/_mixins.scss';

.component.cxa-checkoutconfirm-component {
    font-size: 14px;
    margin-bottom: 15px;
    
    .component-content {
        @include vertical-form-layout();
        h4{
            margin-bottom:15px;
        }
    }
    .confirm-total-summary {
        line-height: 2.5;
        @include form-section();
        @include column-of-elements-wide-apart(false,$center);
        .order-information-label{
            @include align-element($top-or-left);
        }
        >div {
            @include row-of-elements-wide-apart(false, $center);
        }
    }
    .checkout-footer-pane{
        display: flex;
        font-size: 16px;

        @include respond-to(mobile-large) {
            flex-direction: column;
        }

        .addresses{
            flex-basis: 66%;
            display: flex;
            & > div {
                flex-basis: 50%;
                margin-right: 40px;
            }

            @include respond-to(mobile-large) {
                flex-basis: 100%;                
                flex-direction: column;

                & > div {
                    flex-basis: 100%;
                    margin-right: 0;                    
                    margin-bottom: 2em;
                }
            }
        }
        .confirm-payment-methods {
            flex-basis: 33%;
            position: relative;
        }

        h4 {
            font-size: 18px;
            padding-bottom: 1em;
            border-bottom: 1px solid #e2e3e5;
        }

        .confirm-shipping-address-container,
        .confirm-billing-address-container {
            position: relative;
        }
    }
    .buttons-row {
        margin-top: 80px;
        padding-top: 40px;
        border-top: 1px solid #e2e3e5;
        @include row-of-elements-wide-apart(false, $center);
    }
        .confirm-products-container {
        display: none;
    }
    .order-total-label{
        display:none;
    }
    .payment-methods{
        h4{
            margin-bottom:$margin !important;
            font-weight: bold;
        }
        
    }
    .footer-shipping-address-pane{
        h4{
            margin-bottom:$margin;
            font-weight: bold;
        }
    }
    .gift-cards{
        margin-top: 15px;
    }
}

.component.cxa-checkoutconfirm-component {    
    @include respond-to(mobile-large) {
        padding: 0 2em;
    }
    .confirm-total-summary {
        font-size: 16px; 
        border-bottom: 0;
 
        >div {            
            line-height: 28px;
            padding: 15px 0;            
            border-bottom: 1px solid lighten($border-color, 15%);
        }
        >div:last-child{
            border-bottom: none;
        }
        .confirm-totals-total {
            .confirm-total {
                font-weight: bold;
            }
        }
    }
    .buttons-row {
        .confirm-prev-button,
        .confirm-next-button {
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.2;
            border-radius: 0;
            text-transform: uppercase;
            padding: 1em;
            text-align: center;
            border: 0;
        }
        .confirm-prev-button {
            background-color: white;
            color: #141919;
            display: flex;
            align-items: center;
            &:before {
                font-family: FontAwesome;
                content: '\f053';
                margin-right: 1em;
            }
        }
        .confirm-next-button {
            color: white;
            background-color: #0e909f;
            display: flex;
            align-items: center;
            &:after {
                font-family: FontAwesome;
                content: '\f054';
                margin-left: 1em;
            }
        }
    }
    .edit-shipping-address-link{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;

        &:before {
            font-family: FontAwesome;
            content: '\f044';      
            font-size: 16px;
            opacity: 0.5;
        }
    }
    .edit-billing-address-link{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        &:before {
            font-family: FontAwesome;
            content: '\f044';      
            font-size: 16px;
            opacity: 0.5;
        }
    }
    .edit-payment-method-link{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        &:before {
            font-family: FontAwesome;
            content: '\f044';      
            font-size: 16px;
            opacity: 0.5;
        }
    }

}
