@import '../../index';
@import '../../../../Habitat Home/sass/abstracts/_mixins.scss';

.cxa-product-kit-component {
    padding: 0;
    margin: 0 0 10px 0;

    .component-content {
        text-align: left;
        margin-top: 0;

        .product-kit-header {
            user-select: none;
            color: #6b717b !important;
            margin-bottom: 5px;
            font-size: 16px;
            cursor: pointer;
            padding-bottom: 25px;
        }

        .related-product {
            font-size: 13px;
            color: #747a83;

            .product-name {
                margin-bottom: 5px;
                color: #747a83;
            }
        }
    }
}