@import "../../index";

.cxa-productbundle-component {
    //padding: $standardSpacing;
    background: $light;
    border-radius: $border-radius;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    .bundle-title {
        padding: $padding 0;
        font-family: "KievitPro" !important;
        line-height: 150%;
        font-weight: bold !important;
    }
    .bundle-group {
        padding: $padding/2 0 $padding/2 0;
        cursor: pointer;
        .bundle-group-header-container {
            padding: $padding 0 $padding 0;
            .bundle-group-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .bundle-group-product-name {
                    display: inline-block;
                    width: 100%;
                    padding-right: $margin + 30px; // .collapse-arrow right + .collapse-arrow icon size
                    span {
                        line-height: 30px;
                        font-size: 16px;
                        font-family: "KievitPro" !important;
                        font-weight: 300;
                        color: $heading-color;
                        opacity: 0.8;
                    }
                }
                .collapse-arrow {
                    margin-right: $margin;
                    line-height: 30px;
                    @include sc-icon();
                    &:after {
                        @include sc-icon($scxa-chevrondown);
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
                .product-link {
                    display: none;
                }
            }
            .selected-variant-preview {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                .selected-variant-group {
                    padding: $padding 0 $padding 0;
                    + .selected-variant-group {
                        margin-left: $margin;
                    }
                    .selected-value {
                        font-weight: bold;
                    }
                }
            }
        }
        .bundle-group-body-container {
            display: none;
            .group-variant-section {
                display: flex;
                flex-direction: column;
                .group-variant-selection {
                    + .group-variant-selection {
                       // margin-top: $standardSpacing;
                    }
                    .group-variant-label {
                        width: 100%;
                        line-height: 25px;
                    }
                    .group-variant-select {
                        width: 100%;
                    }
                }
            }
            .product-link {
                margin: $margin 0;
            }
        }
        &.active {
            .bundle-group-header-container {
                .bundle-group-header {
                    .product-name {
                        h4 {
                            color: $primary-color !important;
                        }
                    }
                    .collapse-arrow {
                        &:after {
                            color: $primary-color;
                            @include sc-icon($scxa-chevronup);
                        }
                    }
                }
                .selected-variant-preview {
                    display: none;
                }
            }
        }
        &.noVariants {
            .bundle-group-header-container {
                .bundle-group-header {
                    .bundle-group-product-name {
                        width: calc(100% - 110px); // minus product link width
                        padding-right: 0;
                    }
                    .collapse-arrow {
                        display: none;
                    }
                    .product-link {
                        display: inline-block;
                    }
                }
            }
        }
        .product-link {
            text-align: right;
            a {
                font-weight: 500;
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
    .bundle-groups-container > *:not(:last-child),
    .bundle-header {
        border-bottom: 1px solid #e4e7ec;
    }
}
