@import '../../index';
.cxa-productimages-component {
    margin: 0;
    .product-image {
        padding: $padding/2;
        background: $light;
        border-radius: 0;
        //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        img {
            width: 100%;
        }
    }
    .product-images {
        background: none;
        margin-top: 7px;
        ul {
            li {
                float: left;
                margin-right: 2.6%;
                width: 72px;
                height: 62px; 
                margin-bottom: 1.8%;
                overflow: hidden;
                border: 4px solid $light; 
                 a {
                    img {
                        max-width: 120px;
                        max-height: 120px;
                    }
                }
                 &.active {
                    &:before {
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-bottom: 8px solid;
                        content: "";
                        position: absolute;
                        margin: -10px 0 0 26px;
         
                    }
                }           
                &.active {
                    border: 4px solid $primary-color;
                    @include transition(0.2s, border);
                    &:before {
                        border-bottom-color: $primary-color;
                    }
                }
            }
        }
    }
}