@import '../../index';

.cxa-profileview-component {
    margin-top: 35px;
    .profile-id {
        text-align: left;
    }
    .edit-profile-text {
        display: inline-block;
        text-align: right;        
    }
    .profile-view-title{
        display:none;
    }
    .edit-profile-text {
        display: inline-block;
        text-align: right; 
        @include link();        
    }
    .profile-view-title {
        display: none;
    }
}
