@import '../../index';
@import './product-list-component';
@import '../../../../Habitat Home/sass/abstracts/_mixins.scss';

.component.cxa-promoted-products-component {
    @extend .component.cxa-productlist-component;
    .product-list{
        .title{
            font-size: $font-size-xlarge;
            margin-bottom: 15px;
            display: block;
        }
        .load-more-btn{
            //border: 2px solid $promoted-color;
            //color: $promoted-color; 
            text-transform: uppercase;
            &:active, &:hover{
                color: $light;
                //background: $promoted-color;
            }
        }
        &>ul{
            flex-direction: row wrap !important;

            >li{
                max-width: inherit;
                width: 50%;
                flex-basis: 50%;
                margin-right: 0;

                .product-summary{
                    .product-info{
                        .product-category {
                            a {                                
                                position: relative;
                                padding-right: 20px;

                                &:active,
                                &:hover,
                                &:focus {
                                    opacity: 0.7;
                                }

                                &:active *,
                                &:hover *,
                                &:focus * {
                                    
                                }
                                span{                                    

                                    &:active,
                                    &:hover,
                                    &:focus {
                                        text-decoration: none;
                                        //color: $light !important;
                                    }
                                }

                                &:after {
                                    position: absolute;
                                    right: 5px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        flex-flow: row wrap !important;
                        @include respond-to(mobile-large) {
                            flex-flow: row wrap !important;
                        }  
                    }                 
                }                

                @include respond-to(desktop) {
                    flex-basis: 25%;
                    width: 25%;
                }

                @include respond-to(mobile-large) {
                    flex-basis: 100%;
                    width: 100%;
                    margin: 2em 0;
                }
            }

            @include respond-to(mobile) {
                
            }
        }
    }
    .current-price {
        
    }
    .product-category {
        &.on-sale {
            a {
                //color: $promoted-color;
            }
        }
    }
} 