@import '../../index';
@mixin user-icon($isActive: false) {
    @include sc-icon($scxa-tinyuser);
    font-size: 15px;
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 150px;
    float: right;
    position: relative;
    @if($isActive) {
        border: 2px solid $primary-color;
        color: $light;
        background: $primary-color;
    }
    @else {
        border: 2px solid rgba($secondary-text-color, 0.7);
        color: rgba($secondary-text-color, 0.8);
    }
}

.cxa-topbarlinks-component {
    .component-content {
        display: flex;
        flex-flow: column nowrap !important;
        ul {
            opacity: 0;
            @include respond-to($sm){
                opacity: 1;
                display: none;
            }

            padding: 12px 20px;
            width: 200px;
            margin-top: 40px !important;
            position: absolute;
            z-index: 100;
            align-self: flex-end !important;
            .quick-link-seperator {
                border-bottom: 1px solid #e4e7ec;
                text-indent: -999px;
                line-height: 0;
                overflow: hidden;
            }
            li {
                margin: 7px 0px;
            }
        }
    }
}

.component.cxa-topbarlinks-component {
    .component-content {
        ul {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
            background: $light;
            border-radius: 4px;
            li {
                span {
                    color: $secondary-text-color;
                }
                .username-text {
                    word-wrap: break-word;
                }
            }
            &:before {
                @include angleIcon(rgba(0, 0, 0, 0.4), 28px);
                opacity: 0.2;
                right: 18%;
            }
        }
        &:before {
            @include user-icon(false);
        }
        &:hover:before {
            @include user-icon(true);
        }
        &:active:before {
            @include user-icon(true);
        }
        .active {
            &:before {
                @include user-icon(true);
            }
        }
    }
}