<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>  
    <pipelines>
      <commerce.shipping.getShippingOptions>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Shipping.GetShippingOptions, Sitecore.Commerce.Engine.Connect']"
                   type="Sitecore.HabitatHome.Feature.Cart.Pipelines.GetAllShipmentOptions, Sitecore.HabitatHome.Feature.Cart">
          <param ref="entityFactory"/>
        </processor>
      </commerce.shipping.getShippingOptions>
    </pipelines>
    </sitecore>
</configuration>