<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"                                          
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Sitecore.Foundation.Rules" description="Rules" dependencies="Foundation.*" extends="Helix.Foundation">
                    <targetDataStore physicalRootPath="$(commerce.sourceFolder)\Feature\Sitecore.Feature.Rules\serialization" useDataCache="false" singleInstance="true" />

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                       
                        <!-- Commerce components -->
                        <include name="System.Foundation.Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Current Category" />
                    </predicate>
                 
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>