<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commerce.XA>
      <models>
        <ActivePromotionRenderingModel type="Sitecore.HabitatHome.Feature.ActivePromotion.Models.ActivePromotionRenderingModel, Sitecore.HabitatHome.Feature.ActivePromotion"/>
      </models>
    </commerce.XA>
    <services>
      <register serviceType="Sitecore.HabitatHome.Feature.ActivePromotion.Repositories.IActivePromotionRepository, Sitecore.HabitatHome.Feature.ActivePromotion" implementationType="Sitecore.HabitatHome.Feature.ActivePromotion.Repositories.ActivePromotionRepository, Sitecore.HabitatHome.Feature.ActivePromotion" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>