<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>  
    <commerce.XA>
      <javascript>
        <feature>
          <file name="CxaNearestStores" path="/Scripts/Commerce/Feature/NearestStore/habitat.commerce.feature.neareststores.js" order="300"/>
        </feature>
      </javascript>
    </commerce.XA>
    <services>
      <register serviceType="Sitecore.Feature.NearestStore.Controllers.NearestStoreController, Sitecore.Feature.NearestStore" implementationType="Sitecore.Feature.NearestStore.Controllers.NearestStoreController, Sitecore.Feature.NearestStore" lifetime="Transient"/>
      <register serviceType="Sitecore.Feature.NearestStore.Repositories.IStoresRepository, Sitecore.Feature.NearestStore" implementationType="Sitecore.Feature.NearestStore.Repositories.StoresRepository, Sitecore.Feature.NearestStore" lifetime="Singleton"/>
    </services>
    </sitecore>
</configuration>