@charset "UTF-8";
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
/*justification types*/
/* alignment types */
/*----------------------------------Columns -------------------------------------------------------------------------*/
/*------------------------------------------------------Rows -------------------------------------*/
/*------------------------------------------ Forms and Layout Tools------------------------------------------------------------*/
/*------------------------ Page Layouts -------------------------------*/
.component.cxa-minicart-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.component.cxa-minicart-component .basket {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.component.cxa-minicart-component .basket:before {
  width: 60px;
  content: "";
  position: absolute;
  height: 150px;
}

.component.cxa-minicart-component .basket .minicart {
  -ms-flex-item-align: end;
  align-self: flex-end;
  max-width: 480px;
  float: right;
  width: 480px;
  padding: 22px 16px;
  z-index: 100;
  position: absolute;
  margin-top: 45px;
}

@media (max-width: 767px) {
  .component.cxa-minicart-component .basket .minicart {
    width: 100%;
    max-width: initial;
    right: 0;
    margin-top: 44px;
    padding: 22px 30px;
  }
}

.component.cxa-minicart-component .basket .minicart .minicart-content {
  padding: 0;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item img {
  max-width: 72px;
  max-height: 72px;
}

.component.cxa-minicart-component .basket .minicart .minicart-total {
  line-height: 20px;
}

.component.cxa-minicart-component .basket .minicart .minicart-total span {
  padding-left: 10px;
}

.component.cxa-minicart-component .minicart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.component.cxa-minicart-component .minicart-item .minicart-delete {
  margin-left: 2px;
  margin-right: auto;
}

.component.cxa-minicart-component .minicart-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.component.cxa-minicart-component .minicart-buttons > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-minicart-component .minicart-buttons > * {
  margin: 0;
}

.component.cxa-minicart-component .minicart-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.component.cxa-minicart-component .minicart-footer > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.component.cxa-minicart-component .minicart-footer > * {
  margin: 0;
}

.component.cxa-minicart-component .basket .minicart {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 4px;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item {
  border-bottom: 1px solid #e4e7ec;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info {
  margin-left: 10px;
  width: 345px;
  min-width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info p {
  line-height: 180%;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info a {
  line-height: 22px;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info h5 a {
  font-size: 16px;
  font-weight: bold;
  color: #383c41;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info h5 a:hover {
  color: #0e909f;
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info .price {
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 18px;
  color: #383c41;
  font-weight: 600;
}

@media (max-width: 767px) {
  .component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info .price {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media (max-width: 767px) {
  .component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-info {
    min-width: unset;
    width: auto;
  }
}

.component.cxa-minicart-component .basket .minicart .minicart-content .minicart-item .minicart-delete a span:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
}

.component.cxa-minicart-component .basket .minicart:before {
  width: 0;
  height: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  top: 0;
  font-size: 28px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  box-shadow: 0 17px 0px 6px #fff;
  content: "\f105";
  font-family: FontAwesome;
  opacity: 0.2;
  right: 42px;
}

@media (max-width: 767px) {
  .component.cxa-minicart-component .basket .minicart:before {
    right: 55px;
  }
}

.component.cxa-minicart-component .basket .minicart .minicart-footer .minicart-total-label {
  color: #383c41;
  font-weight: bold;
  font-size: 14px;
}

.component.cxa-minicart-component .basket .minicart .minicart-footer .minicart-total-amount {
  font-size: 30px;
  color: #0e909f;
  font-weight: bold;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button {
  border: 2px solid #0e909f;
  font-size: 14px !important;
  font-weight: 400;
  height: 34px;
  text-align: center !important;
  background: #0e909f;
  color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  padding: 4px 25px 4px 25px;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:active, .component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:hover {
  background: #0d8896 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:active {
  background: #0c7783 !important;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:disabled, .component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button.disabled, .component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button[disabled],
fieldset[disabled] .component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button {
  cursor: not-allowed;
  opacity: 0.4;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .checkout-button:active {
  color: #fff;
  background-color: #064b53;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button {
  border: 2px solid #0e909f;
  background: #fff;
  color: #0e909f;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding: 4px 25px 4px 25px;
  border-radius: 4px;
  min-height: 42px;
  height: 42px;
  padding: 8px 25px 8px 25px;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:active, .component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:hover {
  background: #0d8896;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:active {
  background: #0c7783;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:disabled, .component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button.disabled, .component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button[disabled],
fieldset[disabled] .component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button {
  cursor: not-allowed;
  opacity: 0.4;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:hover {
  color: #fff;
  background-color: #0a6f7b;
}

.component.cxa-minicart-component .basket .minicart .minicart-buttons .view-cart-button:active {
  color: #fff;
  background-color: #064b53;
}

.component.cxa-minicart-component .basket .top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.component.cxa-minicart-component .basket .top-text > a {
  display: none;
}

.component.cxa-minicart-component .basket .top-text .cart-items-count {
  background: #ca241c;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  margin-left: -25px;
  z-index: 111;
  margin-top: auto;
  margin-bottom: auto;
}

.component.cxa-minicart-component .basket .top-text:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 17px;
  padding: 5px 30px 5px 9px;
  font-size: 12px;
  border-radius: 150px;
  float: right;
  position: relative;
  border: 2px solid #0e909f;
  color: #0e909f;
  background: #fff;
}

.component.cxa-minicart-component .basket .top-text:hover:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 17px;
  padding: 5px 30px 5px 9px;
  font-size: 12px;
  border-radius: 150px;
  float: right;
  position: relative;
  border: 2px solid #0e909f;
  color: #fff;
  background: #0e909f;
}

.component.cxa-minicart-component .basket .top-text.active:before {
  display: inline-block;
  font-family: "SCCXAICONS";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-size: 17px;
  padding: 5px 30px 5px 9px;
  font-size: 12px;
  border-radius: 150px;
  float: right;
  position: relative;
  border: 2px solid #0e909f;
  color: #fff;
  background: #0e909f;
}
