<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>      
    
    <services>
      <register serviceType="Sitecore.HabitatHome.Feature.Cart.Controllers.ShoppingCartLinesController, Sitecore.HabitatHome.Feature.Cart" implementationType="Sitecore.HabitatHome.Feature.Cart.Controllers.ShoppingCartLinesController, Sitecore.HabitatHome.Feature.Cart" lifetime="Transient"/>
      <register serviceType="Sitecore.HabitatHome.Feature.Cart.Repositories.IShoppingCartLinesRepository, Sitecore.HabitatHome.Feature.Cart" implementationType="Sitecore.HabitatHome.Feature.Cart.Repositories.ShoppingCartLinesRepository, Sitecore.HabitatHome.Feature.Cart" lifetime="Singleton"/>
    </services>
    
    <commerce.XA>
      <models>
        <ShoppingCartJsonResult type="Sitecore.HabitatHome.Feature.Cart.Models.JsonResults.ShoppingCartJsonResult, Sitecore.HabitatHome.Feature.Cart"/>
        <ShoppingCartLineJsonResult type="Sitecore.HabitatHome.Feature.Cart.Models.JsonResults.ShoppingCartLineJsonResult, Sitecore.HabitatHome.Feature.Cart"/>
      </models>   
    </commerce.XA>
    
    </sitecore>
</configuration>