@import '../abstracts/mixins'; 


    .account-summary {
        padding-bottom: 5em;

        .field-title {
            color: $brand-primary;
            font-weight: bold;
            font-size: 1.5em;
            margin: 1em 0 0.5em 0;
        }

        .link-list h3 {
            border: 0;
        }
    
        .link-list {
            margin-bottom: 0;            
        }
        
        .logout,
        .link-list > .component-content li {
            padding-right: 2em;
            margin: 0;

            a {
                padding: 1em;
                border-top: 1px solid #D8D9D5;
                display: block;
                font-weight: bold;
                border-bottom: 0;
                font-size: $font-normal;
        
                &:before {
                    content: '';
                }
            }            
        } 
        .link-list > .component-content ul{
            margin-bottom: 0px;
        }

        .rich-text {
            margin: 0;
            padding-right: 40px;
        }
        .rich-text h4 {
            font-size: 20px;
            line-height: 1.3;
            font-weight: 700;
            padding-bottom: 0.3125em;
            border-bottom: 1px solid #D8D9D5;
            margin-bottom: 2.25em;
        }

        .cxa-addresslist-component,
        .cxa-profileview-component {
            margin-top: 0;
        }

        .edit-profile {
            color: #ADAFA8;
        }
        .edit-profile-text{
            display: none;
        }
    }  
