@import '../index';
.change-password-page {
    .component.link {
        @include respond-to($md) {
            margin-top: 0;
            padding: 0;
        }

        a {
            @include respond-to($md) {
                display: block;
            }
        }
    }
}