<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">    
    <pipelines>
      <!--<translate.cartToWishListEntity>
        <processor type="Sitecore.Feature.WishLists.Pipelines.TranslateCartToWishListEntity, Sitecore.Feature.WishLists">
          <param ref="entityFactory" />
        </processor>
      </translate.cartToWishListEntity>-->  
	  
	  <commerce.wishLists.getWishList>
      <processor type="Sitecore.Feature.WishLists.Pipelines.GetWishList, Sitecore.Feature.WishLists"/>
	  </commerce.wishLists.getWishList>

	  <commerce.wishLists.addLinesToWishList>
	   <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.AddLinesToWishList.TriggerLinesAddedToWishListPageEvent, Sitecore.Commerce.Connect.Core']"
                   type="Sitecore.Feature.WishLists.Pipelines.AddWishListLine, Sitecore.Feature.WishLists">
        </processor>       
      </commerce.wishLists.addLinesToWishList>
	  
	  <commerce.wishLists.removeWishListLines>               
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.RemoveWishListLines.TriggerLinesRemovedFromWishListPageEvent, Sitecore.Commerce.Connect.Core']"
                   type="Sitecore.Feature.WishLists.Pipelines.RemoveWishListLine, Sitecore.Feature.WishLists">
        </processor>
      </commerce.wishLists.removeWishListLines>
    </pipelines>
  </sitecore>
</configuration>