$icomoon-font-path: "fonts" !default;

$scxa-add: "\e900";
$scxa-adduser: "\e901";
$scxa-announcement-copy: "\e902";
$scxa-answer: "\e903";
$scxa-apex-copy: "\e904";
$scxa-approval-copy: "\e905";
$scxa-apps-copy: "\e906";
$scxa-arrowdown: "\e907";
$scxa-arrowup: "\e908";
$scxa-attach: "\e909";
$scxa-back-copy: "\e90a";
$scxa-ban: "\e90b";
$scxa-bold: "\e90c";
$scxa-bookmark: "\e90d";
$scxa-breadcrumbs: "\e90e";
$scxa-broadcast: "\e90f";
$scxa-brush: "\e910";
$scxa-bucket: "\e911";
$scxa-builder: "\e912";
$scxa-call-copy: "\e913";
$scxa-capslock: "\e914";
$scxa-cases: "\e915";
$scxa-center_align_text: "\e916";
$scxa-change_owner-copy: "\e917";
$scxa-change_record_type-copy: "\e918";
$scxa-chart: "\e919";
$scxa-chat: "\e91a";
$scxa-check-copy: "\e91b";
$scxa-checkin: "\e91c";
$scxa-chevrondown: "\e91d";
$scxa-chevronleft: "\e91e";
$scxa-chevronright: "\e91f";
$scxa-chevronup: "\e920";
$scxa-clear: "\e921";
$scxa-clock: "\e922";
$scxa-close-copy: "\e923";
$scxa-comments: "\e924";
$scxa-company: "\e925";
$scxa-connected_apps-copy: "\e926";
$scxa-contract-copy: "\e927";
$scxa-contract_alt: "\e928";
$scxa-copy: "\e929";
$scxa-crossfilter: "\e92a";
$scxa-custom_apps: "\e92b";
$scxa-cut: "\e92c";
$scxa-dash: "\e92d";
$scxa-database: "\e92e";
$scxa-datadotcom: "\e92f";
$scxa-dayview: "\e930";
$scxa-delete-copy: "\e931";
$scxa-deprecate: "\e932";
$scxa-description-copy: "\e933";
$scxa-desktop: "\e934";
$scxa-dislike: "\e935";
$scxa-dock_panel: "\e936";
$scxa-down: "\e937";
$scxa-download-copy: "\e938";
$scxa-edit-copy: "\e939";
$scxa-edit_form: "\e93a";
$scxa-email-copy: "\e93b";
$scxa-emoji: "\e93c";
$scxa-end_call: "\e93d";
$scxa-erect_window: "\e93e";
$scxa-error: "\e93f";
$scxa-event-copy: "\e940";
$scxa-expand_alt: "\e941";
$scxa-expand: "\e942";
$scxa-fallback-copy: "\e943";
$scxa-favorite: "\e944";
$scxa-feed-copy: "\e945";
$scxa-file-copy: "\e946";
$scxa-filter-copy: "\e947";
$scxa-filterList: "\e948";
$scxa-flow-copy: "\e949";
$scxa-forward: "\e94a";
$scxa-frozen: "\e94b";
$scxa-full_width_view: "\e94c";
$scxa-groups-copy: "\e94d";
$scxa-happyface: "\e94e";
$scxa-help: "\e94f";
$scxa-home-copy: "\e950";
$scxa-identity: "\e951";
$scxa-image: "\e952";
$scxa-inbox: "\e953";
$scxa-info-copy: "\e954";
$scxa-info_alt: "\e955";
$scxa-insert_tag_field: "\e956";
$scxa-insert_template: "\e957";
$scxa-italic: "\e958";
$scxa-jump_to_bottom: "\e959";
$scxa-jump_to_top: "\e95a";
$scxa-justify_text: "\e95b";
$scxa-kanban: "\e95c";
$scxa-keyboard_dismiss: "\e95d";
$scxa-knowledge_base: "\e95e";
$scxa-layers: "\e95f";
$scxa-layout: "\e960";
$scxa-left_align_text: "\e961";
$scxa-left: "\e962";
$scxa-level_up: "\e963";
$scxa-like: "\e964";
$scxa-link-copy: "\e965";
$scxa-location: "\e966";
$scxa-lock: "\e967";
$scxa-log_a_call-copy: "\e968";
$scxa-logout: "\e969";
$scxa-magicwand: "\e96a";
$scxa-mark_all_as_read: "\e96b";
$scxa-matrix: "\e96c";
$scxa-merge-copy: "\e96d";
$scxa-metrics-copy: "\e96e";
$scxa-minimize_window: "\e96f";
$scxa-moneybag: "\e970";
$scxa-monthlyview: "\e971";
$scxa-move: "\e972";
$scxa-muted: "\e973";
$scxa-new-copy: "\e974";
$scxa-new_window: "\e975";
$scxa-news-copy: "\e976";
$scxa-note-copy: "\e977";
$scxa-notebook: "\e978";
$scxa-notification: "\e979";
$scxa-office365: "\e97a";
$scxa-offline_cached: "\e97b";
$scxa-offline: "\e97c";
$scxa-open_folder: "\e97d";
$scxa-open: "\e97e";
$scxa-opened_folder: "\e97f";
$scxa-overflow: "\e980";
$scxa-package_org_beta: "\e981";
$scxa-package_org: "\e982";
$scxa-package: "\e983";
$scxa-page: "\e984";
$scxa-palette: "\e985";
$scxa-paste: "\e986";
$scxa-people-copy: "\e987";
$scxa-phone_landscape: "\e988";
$scxa-phone_portrait: "\e989";
$scxa-photo-copy: "\e98a";
$scxa-picklist: "\e98b";
$scxa-power: "\e98c";
$scxa-preview-copy: "\e98d";
$scxa-priority-copy: "\e98e";
$scxa-process-copy: "\e98f";
$scxa-push: "\e990";
$scxa-puzzle: "\e991";
$scxa-question: "\e992";
$scxa-questions_and_answers: "\e993";
$scxa-quotation_marks: "\e994";
$scxa-ratingstar: "\e995";
$scxa-record-copy: "\e996";
$scxa-record_create: "\e997";
$scxa-redo: "\e998";
$scxa-refresh-copy: "\e999";
$scxa-relate: "\e99a";
$scxa-remove_formatting: "\e99b";
$scxa-remove_link: "\e99c";
$scxa-replace: "\e99d";
$scxa-reply_all: "\e99e";
$scxa-reply: "\e99f";
$scxa-reset_password-copy: "\e9a0";
$scxa-resource_absence: "\e9a1";
$scxa-resource_capacity: "\e9a2";
$scxa-resource_territory: "\e9a3";
$scxa-retweet: "\e9a4";
$scxa-richtextbulletedlist: "\e9a5";
$scxa-richtextindent: "\e9a6";
$scxa-richtextnumberedlist: "\e9a7";
$scxa-richtextoutdent: "\e9a8";
$scxa-right_align_text: "\e9a9";
$scxa-right: "\e9aa";
$scxa-rotate: "\e9ab";
$scxa-rows: "\e9ac";
$scxa-sadface: "\e9ad";
$scxa-salesforce1: "\e9ae";
$scxa-search: "\e9af";
$scxa-settings: "\e9b0";
$scxa-setup_assistant_guide: "\e9b1";
$scxa-setup: "\e9b2";
$scxa-share-copy: "\e9b3";
$scxa-share_mobile: "\e9b4";
$scxa-share_post-copy: "\e9b5";
$scxa-shield: "\e9b6";
$scxa-shoppingcart: "\e9b7";
$scxa-side_list: "\e9b8";
$scxa-signpost: "\e9b9";
$scxa-sms: "\e9ba";
$scxa-snippet: "\e9bb";
$scxa-socialshare: "\e9bc";
$scxa-sort-copy: "\e9bd";
$scxa-spinner: "\e9be";
$scxa-standard_objects: "\e9bf";
$scxa-stop: "\e9c0";
$scxa-strikethrough: "\e9c1";
$scxa-success: "\e9c2";
$scxa-summary: "\e9c3";
$scxa-summarydetail: "\e9c4";
$scxa-switch: "\e9c5";
$scxa-sync: "\e9c6";
$scxa-table: "\e9c7";
$scxa-tablet_landscape: "\e9c8";
$scxa-tablet_portrait: "\e9c9";
$scxa-tabset: "\e9ca";
$scxa-task-copy: "\e9cb";
$scxa-text_background_color: "\e9cc";
$scxa-text_color: "\e9cd";
$scxa-threedots_vertical: "\e9ce";
$scxa-threedots: "\e9cf";
$scxa-thunder: "\e9d0";
$scxa-tile_card_list: "\e9d1";
$scxa-tinyuser: "\e9d2";
$scxa-topic-copy: "\e9d3";
$scxa-touch_action: "\e9d4";
$scxa-trail: "\e9d5";
$scxa-turn_off_notifications: "\e9d6";
$scxa-undelete: "\e9d7";
$scxa-undeprecate: "\e9d8";
$scxa-underline: "\e9d9";
$scxa-undo: "\e9da";
$scxa-unlock: "\e9db";
$scxa-unmuted: "\e9dc";
$scxa-up: "\e9dd";
$scxa-upload-copy: "\e9de";
$scxa-user-copy: "\e9df";
$scxa-user_role: "\e9e0";
$scxa-video: "\e9e1";
$scxa-volume_high: "\e9e2";
$scxa-volume_low: "\e9e3";
$scxa-volume_off: "\e9e4";
$scxa-warning: "\e9e5";
$scxa-weeklyview: "\e9e6";
$scxa-wifi: "\e9e7";
$scxa-work_order_type: "\e9e8";
$scxa-world: "\e9e9";
$scxa-yubi_key: "\e9ea";
$scxa-zoomin: "\e9eb";
$scxa-zoomout: "\e9ec";

