/* breakpoints */
.component.link-list.image-link-list {
  float: none !important;
}

.component.link-list.image-link-list h3 {
  border: 0;
  text-align: center;
  margin: 0 0 1em;
  font-size: 24px;
}

.component.link-list.image-link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .component.link-list.image-link-list ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.component.link-list.image-link-list li {
  display: block;
  -ms-flex-preferred-size: 175px;
  flex-basis: 175px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .component.link-list.image-link-list li {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 1.5em;
  }
}

.component.link-list.image-link-list li > div img {
  width: 100px;
  height: auto;
}

.component.link-list.image-link-list li > div a {
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.component.link-list.image-link-list li > div a:before {
  display: none;
}
