<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore search:require="solr">        
        <pipelines>
            <indexing.getChildrenToIndex>      
                <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.GetChildrenToIndex, Sitecore.Commerce.Engine.Connect" patch:before="*[1]">
                    <Indexes hint="list:AddString" help="Add index names below to stop crawling of Commerce items by the default crawler">
                        <IndexName hint="sxa_master_index" role:require="Standalone or ContentManagement">sitecore_sxa_master_index</IndexName>
                        <IndexName hint="sxa_web_index">sitecore_sxa_web_index</IndexName>
                    </Indexes>
                </processor>
            </indexing.getChildrenToIndex>
        </pipelines>
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="sxacontent">
                                <patch:delete />
                            </field>
                            <field fieldName="sxacontent" returnType="textCollection" type="Sitecore.HabitatHome.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.HabitatHome.Foundation.Search">
                                <mediaIndexing ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/mediaIndexing"/>
                            </field>

                            <field fieldName="haslayout">
                                <patch:delete />
                            </field>
                            <field fieldName="haslayout" returnType="bool">Sitecore.HabitatHome.Foundation.Search.ComputedFields.HasLayout, Sitecore.HabitatHome.Foundation.Search</field>

                            <field fieldName="searchable">
                                <patch:delete />
                            </field>
                            <field fieldName="searchable">Sitecore.HabitatHome.Foundation.Search.ComputedFields.Searchable, Sitecore.HabitatHome.Foundation.Search</field>
                        </fields>
                    </documentOptions>
                </defaultSolrIndexConfiguration>

<!--
                <indexUpdateStrategies role:require="Standalone or ContentManagement">
                    <sellableItemsIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                        <IncrementalIndexListName>SellableItemsIncrementalIndexWeb</IncrementalIndexListName>
                        <DeletedIndexListName>SellableItemsDeletedIndexWeb</DeletedIndexListName>
                        <ItemsToTake>100</ItemsToTake>
                        <Environments hint="list">
                            <environment>HabitatAuthoring</environment>
                        </Environments>
                        <param desc="interval">00:03:00</param>
                        <param desc="database">web</param>
                    </sellableItemsIntervalAsynchronousStrategyWeb>
                    <categoriesIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                        <IncrementalIndexListName>CategoriesIncrementalIndexWeb</IncrementalIndexListName>
                        <DeletedIndexListName>CategoriesDeletedIndexWeb</DeletedIndexListName>
                        <ItemsToTake>100</ItemsToTake>
                        <Environments hint="list">
                            <environment>HabitatAuthoring</environment>
                        </Environments>
                        <param desc="interval">00:03:00</param>
                        <param desc="database">web</param>
                    </categoriesIntervalAsynchronousStrategyWeb>
                    <catalogsIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                        <IncrementalIndexListName>CatalogsIncrementalIndexWeb</IncrementalIndexListName>
                        <DeletedIndexListName>CatalogsDeletedIndexWeb</DeletedIndexListName>
                        <ItemsToTake>100</ItemsToTake>
                        <Environments hint="list">
                            <environment>HabitatAuthoring</environment>
                        </Environments>
                        <param desc="interval">00:03:00</param>
                        <param desc="database">web</param>
                    </catalogsIntervalAsynchronousStrategyWeb>

                </indexUpdateStrategies>
                -->
            </indexConfigurations>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
<!--
                <indexes role:require="Standalone or ContentManagement" hint="list:AddIndex">
                    <index id="sitecore_sxa_master_index">
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/sellableItemsIntervalAsynchronousStrategyMaster" />
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/categoriesIntervalAsynchronousStrategyMaster" />
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/catalogsIntervalAsynchronousStrategyMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>Catalogs</ListName>
                                <IndexListName>CatalogsIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>master</Database>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>Categories</ListName>
                                <IndexListName>CategoriesIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>master</Database>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>SellableItems</ListName>
                                <IndexListName>SellableItemsIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>master</Database>
                            </crawler>
                        </locations>
                    </index>
                    <index id="sitecore_sxa_web_index">
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/sellableItemsIntervalAsynchronousStrategyWeb" />
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/categoriesIntervalAsynchronousStrategyWeb" />
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/catalogsIntervalAsynchronousStrategyWeb" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>Catalogs</ListName>
                                <IndexListName>CatalogsIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>web</Database>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>Categories</ListName>
                                <IndexListName>CategoriesIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>web</Database>
                            </crawler>
                            <crawler type="Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect">
                                <ItemsToTake>100</ItemsToTake>
                                <ListName>SellableItems</ListName>
                                <IndexListName>SellableItemsIndex</IndexListName>
                                <Environments hint="list">
                                    <environment>HabitatAuthoring</environment>
                                </Environments>
                                <Database>web</Database>
                            </crawler>
                        </locations>
                    </index>
                </indexes>
              -->
            </configuration>


        </contentSearch>
    </sitecore>
</configuration>