@import '../index';
.login-page {
    .component.container {
        .main-title{
            margin-bottom: 8px;
        }
        .component.link.large-height.primary-button-line {
            margin-top: -57px;
            padding-left: 5px;
            padding-right: 0;
            float: right;
            a {
                width: 100%;
                font-weight: normal;
                color: $primary-color;
                padding-right: 0;
                padding-left: 0;
                &:hover,
                &:active {
                    color: $light !important;
                }
            }
        }
        /* 
         * Left side
        */
        .col-md-5 {
            .component.divider {
                margin: $margin/3 0;
                @include respond-to($md) {
                    opacity: 0;
                }
            }
            @include respond-to($md) {
                padding: 0;
            }
        }
        /* 
         * Right side
        */
        .col-md-7 {
            img {
                margin-bottom: $margin !important;
            }
            @include respond-to($md) {
                padding: 0;
            }
            a {
                @include respond-to($md) {
                    width: 100%;
                    text-align: center !important;
                    margin-bottom: 10px;
                    min-height: 35px;
                    height: 35px;
                    padding: 5px 25px 5px 25px;
                }
            }
        }
    }
}