.order-confirmation-page {
    font-size: 16px;
    

    h1 {
        color: #0e909f;
        font-size: 52px;
        line-height: 56px;
        font-weight: bold; 
        text-align: left;
    }

    .article-content {
        .component-content {
            padding: 0;
        }
    }

    .order-confirmation-component {
        padding: 100px 15% 100px;
    }
}

.cxa-checkoutorderconfirmation-component {
    
    .order-number {
        font-weight: bold;
        font-size: 18px;
        margin: 1em 0 2em;
        width: 100%;

        &> span {
            display: block;
            color: #0e909f;
            font-size: 32px;	
            font-weight: bold;	
            line-height: 36px;
            border-top: 1px solid #e2e3e5;
            padding-top:10px;
            margin-top: 5px;
        }
    }

    .order-status {
        font-weight: bold;
        font-size: 18px;
        margin: 1em 0 2em;
        width: 100%;

        &> span {
            display: block;
            font-size: 24px;	
            line-height: 36px;
            font-weight: normal;
            border-top: 1px solid #e2e3e5;
            padding-top:10px;
            margin-top: 5px;
        }
    }
}