/* @import '../../mixins/index';
@import '../../base/index';
.component.breadcrumb {
    padding-left: 0;
    background-color: $secondary-background-color;
    margin-top: 5px;
    margin-bottom: 0;
    nav ol {
        @include row-of-elements-packed(false, $top-or-left, $packed-elements-margin);
        li {
            @include row-of-elements-packed(false, $top-or-left, $packed-elements-margin);
            font-size: $font-size-base;
        }
    }
} */


.breadcrumb-item:last-child > .separator {
    display: none;
}