@import '../../index';
.cxa-languageselector-component {
    position: relative;
    .component-content {
        line-height: 24px;
        z-index: 111;
        display: flex;
        flex-flow: column nowrap !important;
        background-color: $light;
    }
    .current-language {
        display: flex;
        flex-flow: row nowrap;
        align-self: flex-end !important;
        &:before {
            content: '';
            position: absolute;
            width: 60px;
            height: 28px;
        }
    }
    .current-language {
        margin-left: 7px;
        vertical-align: top;
        color: $secondary-text-color;
        text-decoration: none;
        @include sc-icon();
        &:after {
            @include sc-icon($scxa-chevrondown);
            font-size: 6px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .available-languages {
        align-self: flex-end !important;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 30px !important;
        padding: 12px 20px;
        width: 165px;
        max-width: 180px;
        margin-top: 0;
        z-index: 100;
        opacity: 0;
        background: $light;
        border-radius: $border-radius;
        border: 1px solid $primary-color;
        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: $font-size-small;
            &:hover {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}
