@import '../../index';
.cxa-navigationbar-component {
    margin-top: 0;
    max-width: 100% !important;
    .product-categories-menu {
        display: block;
    }
    .category-navigation-list {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        align-items: center;
        list-style: none;
        margin: -1px 10px 0 10px;
        li {
            text-align: center;
            a {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .navigation-header {
        display: none;
    }

    @include respond-to($sm) {
        .product-categories-menu {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .product-categories-menu ul {
            display: none;
        }

        .product-categories-menu ul.active {
            width: 100%;
            display: flex;
            position: absolute;
            top: 108%;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            background-color: $primary-color;
            color: $light;
            z-index: 100;
        }

        .product-categories-menu li {
            padding-left: 3 * $padding;
            margin-left: $margin;
        }
        .product-categories-menu li:hover,
        .product-categories-menu li.active {
            opacity: 1;
        }
        .product-categories-menu a {
            display: block;
        }
        .toggle-nav {
            order: 2;
            margin-right: 0;
            padding-right: 3 * $padding;
            display: inline-block;
            color: $light;
            font-size: 18px;
            transition: color linear 0.15s;
        }
        .store-name {
            order: 1;
            font-size: $font-size-h3;
            color: $light;
            padding-left: 3 * $padding;
            margin-left: 0;
        }
        .navigation-header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .toggle-nav:hover,
        .toggle-nav.active {
            text-decoration: none;
            opacity: 0.8;
        }
    }
    .error-message {
        color: #fff;
        padding-left: 30px;
    }
}

.cxa-navigationbar-component {
    background: $primary-color;
    line-height: 45px;
    .product-categories-menu {
        .category-navigation-list {
            li {
                opacity: 0.8;
                margin: 0 10px;
                &.active {
                    opacity: 1;
                    font-weight: 800;
                }
                a {
                    font-size: $font-size-base;
                    color: $light;
                    text-decoration: none;
                    span {
                        font-size: $font-size-base;
                        color: $light;
                        text-decoration: none;
                    }
                }
                &:hover,
                &.active {
                    a {
                        border-bottom: 4px solid $light;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
    .category-item {
        .category-link {
            display: block;
            span.scWebEditInput {
                line-height: 14px;
            }
        }
    }
}
