@import "../../index";

.cxa-ordertotals-component {
    float: right;
    padding-right: 0;
    margin-bottom: $margin * 2;
    .component-content {
        width: 100%;
        @include vertical-form-layout(0, 10px);
        @include align-elements($top-or-left);
        .order-totals-header {
            margin-top: $margin * 2;
            margin-bottom: 0;
            strong {
                font-size: $font-size-medium;
                font-weight: bold;
                color: $heading-color;
            }
        }
        #order-totals-summary {
            margin-top: $margin;
            margin-bottom: 0;
        }
        .order-totals-summary-line {
            @include row-of-elements-wide-apart(false, true);
            line-height: 28px;
            margin-bottom: 4px;
            margin: auto;
            width: 100%;
        }
        .tax-total {
            padding-bottom: $padding * 3.6;
            border-bottom: 1px solid lighten($border-color, 15%);
        }
        .summary-amount {
            font-size: $font-size-large;
            font-weight: bold;
            color: $heading-color;
        }
        .savings-total {
            .summary-amount {
                color: $error-second-color;
            }
        }
        .order-total {
            padding-top: $padding * 2.6;
            .summary-text {
                font-size: $font-size-base;
                font-weight: bold;
                color: $heading-color;
            }
            .summary-amount {
                font-size: $font-size-h2;
                font-weight: bold;
                color: $primary-color;
            }
        }
    }
}
