@import '../../index';
.cxa-orderdetailsheader-component {
    .order-header-lines {
        height: 50px;
        @include row-of-elements-wide-apart(false,$center);
        justify-content: space-around;
        background-color: $primary-color;
        p {
            span{
                color: $light;
                font-size: $font-size-base;
                font-weight: normal;    
            }         
            .value{
                font-weight: 600;
            }
        }
    }
    
}