@import '../../index';
@import '../../../../Habitat Home/sass/abstracts/_mixins.scss';

.cxa-productlistpageinfo-component {
    margin-top: 10px;
    margin-bottom: 10px;

    .productlist-header-section {   
        
        @include respond-to(mobile-large) {
            text-align: right;
        }        

        .showing-amount {
            display: inline-block;
            vertical-align: middle;
            height: 2.5625em;        
            color: #000;        
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            width: auto;
            height: 41px;
            line-height: 41px;
            position: relative;
        }

        h6 {
            font-size: inherit;
            vertical-align: middle;
            font-weight: inherit;
            display: inline-block;         
        }
    }
}