@import "../../index";
.cxa-shoppingcarttotal-component {
    margin: $margin * 2 0;
    padding: 0;
    .component-content {
        width: 100%;
        @include vertical-form-layout(0, 10px);
        @include align-elements($top-or-left);
        .cart-total-summary {
            @include row-of-elements-wide-apart(false, true);
            line-height: 28px;
            margin-bottom: 4px;
            margin: auto;
            width: 100%;
        }
        .tax {
            padding-bottom: $padding * 4;
            border-bottom: 1px solid lighten($border-color, 15%);
        }
        .order-total {
            padding-top: $padding * 2.6;
        }
    }

    &.compact-cart {
        .component-content {
            width: 100%;
        }
    }
}

.cxa-shoppingcarttotal-component {
    .component-content {
        width: 33%;
        float: right;
    }
    .cart-total-title {
        margin-bottom: $margin;
        h3 {
            font-size: $font-size-medium;
            font-weight: bold;
            color: $heading-color;
        }
    }
    .summary-amount {
        font-size: $font-size-large;
        color: $heading-color;
        font-weight: bold;
    }
    .discount {
        .summary-amount {
            color: $error-second-color;
        }
    }
    .order-total {
        .summary-text {
            color: $heading-color;
            font-weight: bold;
            font-size: $font-size-base;
        }
        .summary-amount {
            font-size: $font-size-h2;
            color: $primary-color;
            font-weight: bold;
        }
    }
}
