@import '../../index';
@mixin sidebarTitleLocal {
    @include sidebarTitle();
    span {
        &:first-letter {
            text-transform: uppercase;
        }
    }
    cursor: pointer;
}

.cxa-subcategorynavigation-component {
    padding: $padding*1.25;
    margin-bottom: $margin;
    .subcategories-title {
        cursor: pointer;
        &:after {
            float: right;
        }
    }
    .subcategory-navigation {
        margin: 0;
        position: relative;
    }
    ul{
        li{
            display: block;
            a{
                display: block
            }
        }
    }
}

.component.cxa-subcategorynavigation-component {
    @include sidebar();
    .subcategories-title {
        @include sidebarTitleLocal();
    }
    .subcategory-navigation {
        margin: 0;
        position: relative;
        ul {
            @include sidebarList();
        }
        h4 {
            @include sidebarTitleLocal();
        }
    }
}