<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <pipelines>                        
            <owin.cookieAuthentication.signIn>
                <processor type="Sitecore.Feature.Customers.Pipelines.SignIn.RegisterCommerceCustomer, Sitecore.Feature.Customers" resolve="true" />
            </owin.cookieAuthentication.signIn>
        </pipelines>

        <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">            <identityProviders>
                <identityProvider id="Facebook" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <domain>CommerceUsers</domain>
                </identityProvider>
                <identityProvider id="MicrosoftAccount" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <domain>CommerceUsers</domain>
                </identityProvider>
            </identityProviders>     
            
        </federatedAuthentication>

    </sitecore>
</configuration>