@import '../../../Habitat Home/sass/abstracts/_mixins.scss';

main .category-hero,
main .category-promo {
    width: auto;
    padding-top: 0;
    margin-top: 0;

    .widget_hero {
        width: auto;        
    }

    .widget-background {
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: 500px;
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
            z-index: 1;
        }
       
    }

    .field-promoicon {
        display: flex;
        height: 500px;
        position: relative;
        margin-bottom: 200px;

        @include respond-to(mobile-large) {
            margin-bottom: 0;
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        &:before {
            content: '';
            background: url(../images/carousel_overlay.png) no-repeat center bottom;
            width: 175px;
            height: 260px;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;

            @include respond-to(mobile-large) {
                width: 70px;
                height: 104px;
            }
        }
    }

    .widget-content {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 5em !important;
        padding-right: 5em !important;
        z-index: 3;

        @include respond-to(mobile-large) {
            position: relative;
            margin-top: -250px;
        }
    }

    .hero-image-2 {
        position: absolute;
        top: 50%;
        left: 5em;
        width: 36.66667%;
        padding-left: 15px;
        padding-right: 15px;

        img {
            width: 100%;
            height: auto;
        }

        @include respond-to(mobile-large){
            width: 400px;
            padding: 0;
            position: relative;
            left: auto;
            margin: 0 auto ;
        }
    }

    .hero-text {
        width: 58.33333%;
        margin-left: 41.66667%;

        @include respond-to(mobile-large){
            width: 100%;
            margin-left: 0;
        }

        .editorContent {
            display: flex;
            height: 500px;
            padding: 80px 0 30px;
            justify-content: flex-end;
            flex-direction: column;

            @include respond-to(mobile-large) {
                display: block;
                padding: 0;
                height: auto;
            }
        }

        h2 {
            font-size: 82px;
            line-height: 0.97561;
            font-weight: 700;
            margin: 0;
            color: white;

            @include respond-to(mobile-large) {
                color: rgb(20, 25, 25);
                font-size: 48px;
                line-height: 1.1;
            }
        }
    }

    .hero-content{
        width: 58.33333%;
        margin-left: 41.66667%;
        padding-top: 30px;

        @include respond-to(mobile-large){
            width: 100%;
            margin-left: 0;
        }

        p{
            line-height: 1.6;
            font-weight: 400;
            color: #141919;
        }
    } 
}

main .category-hero {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.product-list {
    .photo {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        height: 293px;
    }

}

.row.column-splitter > div.subcategorynavigation-col {
    padding-right: 20px;

    @include respond-to(mobile-large) {
        padding: 0 50px;
    }
}