/* breakpoints */
.logout {
  /* breakpoints */
}

.logout a {
  background-color: transparent;
  text-decoration: none;
  font-size: 13px;
  color: #141919;
  border-bottom: 1px solid #50a1ab;
}

.logout a:hover {
  color: #878787;
  text-decoration: none;
}

.logout .component-content > a, .logout .component-content > p {
  display: inline-block;
}
