/* breakpoints */
.title {
  background: transparent;
}

.title h1, .title .field-title a {
  font-size: 4.5em;
  font-weight: 700;
  margin: 2em 0;
  padding: 0;
  color: #1d8c96;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.title h1:hover, .title .field-title a:hover {
  color: #878787;
}

@media only screen and (max-width: 786px) {
  .title h1, .title .field-title a {
    margin: 1em 0;
  }
}

.promo-hero + .title .field-title a {
  margin-top: 0;
}
