/* breakpoints */
main .article-list .items .item {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(47, 52, 56, 0.7);
  font-weight: 300;
  padding: 0 0 5.3125em 0;
  border-bottom: none;
  clear: both;
}

main .article-list .items .item div.col-text h3 {
  font-size: 2.65em;
  line-height: 1.07692;
  font-weight: 700;
  color: #1d8c96;
  margin: 0;
}

main .article-list .items .item div.col-text p {
  margin: 1em 0;
}

main .article-list .items .item div.col-text a {
  display: inline-block;
  font-size: 0.575em;
  line-height: 1.28571;
  font-weight: 700;
  color: #141919;
  border: 1px solid #141919;
  padding: 1.28571em 3em;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  min-width: 17.14286em;
}

main .article-list .items .item .field-image {
  width: 100%;
}

main .article-list .items .item .field-image img {
  width: 100%;
  height: auto;
}

main .article-content {
  font-size: 20px;
  color: #141919;
  line-height: 1.6;
  font-weight: 400;
}

main .article-content .component-content {
  padding: 0 10em;
}

main .article-header h2 {
  font-size: 4.1em;
  font-weight: 700;
  color: #1d8c96;
  line-height: 0.9;
}

main .article-author {
  border-top: 1px solid rgba(177, 179, 172, 0.5);
  border-bottom: 1px solid rgba(177, 179, 172, 0.5);
  margin: 1.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .article-author .field-author-image {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
}

main .article-author .field-author-image img {
  width: 100%;
  min-height: 100%;
  height: auto;
}

main .article-author .author-info {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  font-weight: 700;
  text-align: center;
}

main .article-author .author-info span {
  margin-right: .5em;
  padding-right: .5em;
  border-right: 1px solid #141919;
}

main .article-author .author-info span:last-child {
  border-right: none;
}

main .article-author .field-author-bio {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-size: .8em;
}

main .article-body p {
  margin: 1em 0;
}

.article-content-callout {
  margin: 0 10em;
}

.article-content-callout div.component-content {
  background-color: #E9E9E7;
  padding: 1.25em;
  overflow: hidden;
}

.article-content-callout div.component-content strong {
  font-size: 1.75em;
  line-height: 1.14286;
  color: #1d8c96;
  font-weight: 700;
  width: 75%;
  float: left;
}

.article-content-callout div.component-content a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
  color: #141919;
  border: 1px solid #141919;
  padding: 1.28571em 3em;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  min-width: 17.14286em;
  margin: 1em 0;
  background-color: #50a1ab;
  color: #fefefe;
  padding: 1em;
  border: 1px solid #50a1ab;
  min-width: 0;
  float: right;
}

@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  main .article-content {
    font-size: 16px;
  }
  main .article-content .component-content {
    padding: 0 1em;
  }
  main .article-content .article-header h2 {
    font-size: 3em;
    line-height: 1.25;
  }
  main .article-content .article-author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  main .article-content .article-author .author-info {
    font-size: 1.4em;
  }
}
