<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.HabitatHome.Feature.Catalog.Repositories.IPurchasableProductListRepository, Sitecore.HabitatHome.Feature.Catalog" implementationType="Sitecore.HabitatHome.Feature.Catalog.Repositories.PurchasableProductListRepository, Sitecore.HabitatHome.Feature.Catalog" lifetime="Singleton"/>
        </services>
        <commerce.XA>
            <models>
                <PurchasableProductSummaryViewModel type="Sitecore.HabitatHome.Feature.Catalog.Models.PurchasableProductSummaryViewModel, Sitecore.HabitatHome.Feature.Catalog"/>
                <PurchasableProductListJsonResult type="Sitecore.HabitatHome.Feature.Catalog.Models.PurchasableProductListJsonResult, Sitecore.HabitatHome.Feature.Catalog"/>
            </models>
            <javascript>
                <feature>
                    <file name="HabitatCommerceProductListModel" path="/Scripts/Commerce/Feature/Catalog/habitathome.feature.productlist.model.js" order="209"/>
                    <file name="HabitatCommerceProductList" path="/Scripts/Commerce/Feature/Catalog/habitathome.feature.productlist.js" order="210"/>    
                </feature>
            </javascript>
        </commerce.XA>
    </sitecore>
</configuration>