/* breakpoints */
@media only screen and (max-width: 786px) {
  .product-list-col {
    width: 100%;
    padding: 0 50px !important;
  }
}

.product-list .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 293px;
}

.row.column-splitter > div.subcategorynavigation-col {
  padding-right: 20px;
}

@media only screen and (max-width: 786px) {
  .row.column-splitter > div.subcategorynavigation-col {
    padding: 0 35px;
  }
}

@media only screen and (max-width: 786px) {
  .row.column-splitter > div.subcategory-listing-col {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 30px;
  }
  .row.column-splitter > div.subcategory-listing-col .cxa-productlistsorting-component {
    margin-bottom: 8px;
  }
  .row.column-splitter > div.subcategory-listing-col .cxa-productlistpageinfo-component {
    padding-left: 0;
    padding-right: 0;
  }
  .row.column-splitter > div.subcategory-listing-col .cxa-productlistitemsperpage-component {
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
  }
}
