<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"                                          
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Sitecore.Feature.Rules" description="Tules content" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                       
                        <!-- Commerce components -->
                        <include name="System.Feature.Rules" database="master" path="sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Current Category" />
                    </predicate>
                 
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>