<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore search:require="solr">
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="sxacontent">
                                <patch:delete />
                            </field>
                            <field fieldName="sxacontent" returnType="textCollection" type="Sitecore.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.Foundation.Search">
                                <mediaIndexing ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/mediaIndexing"/>
                            </field>     

                            <field fieldName="haslayout">
                                <patch:delete />
                            </field>
                            <field fieldName="haslayout" returnType="bool">Sitecore.Foundation.Search.ComputedFields.HasLayout, Sitecore.Foundation.Search</field>

                            <field fieldName="searchable">
                                <patch:delete />
                            </field>
                            <field fieldName="searchable">Sitecore.Foundation.Search.ComputedFields.Searchable, Sitecore.Foundation.Search</field>                            
                        </fields>
                    </documentOptions>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>